[List of Swedish counties by life expectancy](https://en.wikipedia.org/wiki/List_of_Swedish_counties_by_life_expectancy) / 
[Продолжительность жизни в ленах Швеции](https://ru.wikipedia.org/wiki/Продолжительность_жизни_в_ленах_Швеции)<br />
Data source: [Life expectancy at birth by region and sex](https://www.statistikdatabasen.scb.se/pxweb/en/ssd/START__BE__BE0101__BE0101I/Medellivsl/)<br />
[MapChart](https://www.mapchart.net/sweden.html)

This script is not completed since I've understood that life expectancy statistics is given for counties but the map in MapChart is for provinces - in most cases these divisions are identical but in some cases there are differences.

In [3]:
import pandas as pd
# import math
# import re
import json

import sys
sys.path.append("..")
import mal_moduls_private.mal_total as mal

In [4]:
df_state = pd.read_csv('data/Life expectancy at birth by region and sex -Sweden.csv', sep='\t', skiprows=2)
df_state.index = ['00 Sweden', '00 Sweden']

df_countries = pd.read_csv('data/Life expectancy at birth by region and sex -countries.csv', sep='\t', skiprows=2,
                           encoding='iso8859_10', index_col='region')  # iso8859_10 - coding for Nordic languages, iso8859_2 - for Central and Eastern Europe

df = pd.concat([df_state, df_countries])

df.index = df.index.map(lambda st: st[3:])
df.index.name = ''

df_men = df.loc[df.sex=='men'].drop(columns='sex')
df_men = df_men.sort_values(by=['2019-2023', '2018-2022'], ascending=False)
df_men = pd.concat([df_men.loc[['Sweden']], df_men.drop('Sweden')])

df_women = df.loc[df.sex=='women'].drop(columns='sex')
df_women = df_women.sort_values(by=['2019-2023', '2018-2022'], ascending=False)
df_women = pd.concat([df_women.loc[['Sweden']], df_women.drop('Sweden')])

del df_state, df_countries, df

<br />
<br />

In [6]:
# df_men.loc[:, '2005-2009':].head()

In [7]:
mal.min_and_max_values(df_men.loc[:, '2010-2014':], nmb=3, max_lng=12, row_center='Sweden')  # '2014-2018'

Number of records: 22

<br />
<br />

In [9]:
# df_women.loc[:, '2005-2009':].head()

In [10]:
mal.min_and_max_values(df_women.loc[:, '2010-2014':], nmb=3, max_lng=12, row_center='Sweden')  # '2014-2018'

Number of records: 22

<br />
<br />

Below is code for exploration

In [12]:
ls_db = sorted(df_men.drop('Sweden').index.to_list())
ls_db = [county.split(' ')[0] for county in ls_db]
ls_db

['Blekinge',
 'Dalarna',
 'Gotland',
 'Gävleborg',
 'Halland',
 'Jämtland',
 'Jönköping',
 'Kalmar',
 'Kronoberg',
 'Norrbotten',
 'Skåne',
 'Stockholm',
 'Södermanland',
 'Uppsala',
 'Värmland',
 'Västerbotten',
 'Västernorrland',
 'Västmanland',
 'Västra',
 'Örebro',
 'Östergötland']

In [13]:
ls_map = ["Blekinge", "Bohuslän", "Dalarna", "Dalsland", "Gotland", "Gästrikland", "Haland", "Hälsingland", "Härjedalen", "Jämtland",
          "Lappland", "Medelpad", "Norrbotten", "Närke", "Skåne", "Småland", "Södermanland", "Uppland", "Värmland", "Västerbotten",
          "Västergötland", "Västmanland", "Ångermanland", "Öland", "Östergötland"]

mal.compare_lists(ls_db, ls_map)

Number of elements in list_1: 21
Unique elements in list_1: 10:
Gävleborg, Halland, Jönköping, Kalmar, Kronoberg, Stockholm, Uppsala, Västernorrland, Västra, Örebro

Number of elements in list_2: 25
Unique elements in list_2: 14:
Bohuslän, Dalsland, Gästrikland, Haland, Hälsingland, Härjedalen, Lappland, Medelpad, Närke, Småland, Uppland, Västergötland, Ångermanland, Öland

In [14]:
print('dd_replacement = {')
for region in sorted(county for county in ls_db if county not in ls_map):
    print(f'    "{region}" : "",')
print('}')

dd_replacement = {
    "Gävleborg" : "",
    "Halland" : "",
    "Jönköping" : "",
    "Kalmar" : "",
    "Kronoberg" : "",
    "Stockholm" : "",
    "Uppsala" : "",
    "Västernorrland" : "",
    "Västra" : "",
    "Örebro" : "",
}

note: "Halland" -> "Haland"

<br />