The World Band > [Life expectancy at birth, total](https://data.worldbank.org/indicator/SP.DYN.LE00.IN)<br />
The World Band > [Life expectancy at birth, male](https://data.worldbank.org/indicator/SP.DYN.LE00.MA.IN)<br />
The World Band > [Life expectancy at birth, female](https://data.worldbank.org/indicator/SP.DYN.LE00.FE.IN)<br />
[World Development Indicators > Life expectancy at birth](https://databank.worldbank.org/reports.aspx?source=2&series=SP.DYN.LE00.IN&country=) *(databank.worldbank.org)*<br />
[OECD stat](https://stats.oecd.org/index.aspx?queryid=30114)

"[Список стран по ожидаемой продолжительности жизни](https://ru.wikipedia.org/wiki/Список_стран_по_ожидаемой_продолжительности_жизни)"<br />
"[Продолжительность жизни в субъектах Российской Федерации](https://ru.wikipedia.org/wiki/Продолжительность_жизни_в_субъектах_Российской_Федерации)"<br />
[Таблица подбора цветов](http://mal-bioit.ru/survey-web-colors)<br />
[Список государств и зависимых территорий по населению](https://ru.wikipedia.org/wiki/Список_государств_и_зависимых_территорий_по_населению)

For interest, this script extract from database data for intermediate 2014 and 2015 years. But it puts in the result table only data for 2014. You can change this by changing constant 'COL_MIDDLE'

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re

In [2]:
pd.options.display.max_rows = 300

DESTINATION_OUTPUT = ''  # to where table code should be placed: 'file', 'here' or just print 'Done'

COL_MIDDLE = 'Δ_t_2014'

In [3]:
def output_table_code(st, file_name='', destination=''):
    if not destination:
        destination = DESTINATION_OUTPUT
        
    if destination == 'file':
        with open('output/'+file_name, 'w', encoding="utf-8") as fh:
            fh.write(st)
        print('Data has written to file')
    elif destination == 'here':
        print(st)
    else:
        print('done')

In [4]:
# create code for placing info in Wikipedia
def create_table(df, col_middle='Δ_t_2014', lang='en'):

    if lang=='ru':
        file_header='wbg_stats_header_2019_ru.txt'
        ptn_1 = 'флагификация'
        ptn_2 = 'флаг'
        prettify_name = {
            'European Union': '[[Европейский союз]]',
            'Central Europe and the Baltics': '[[Центральная Европа]] и [[Прибалтика]]',
            'Europe & Central Asia': '[[Европа]] и [[Центральная Азия]]',
            'South Asia': '[[Южная Азия]]',
            'East Asia & Pacific': '[[Восточная Азия]] и [[Австралия и Океания|Океания]]',
            'Middle East & North Africa': '[[Страны MENA|Ближний Восток и Северная Африка]]',
            'Africa Eastern and Southern': '[[Восточная Африка|Восточная]] и [[Южная Африка|Южная]] Африка',
            'Sub-Saharan Africa': '[[Чёрная Африка|Африка к югу от Сахары]]',
            'Africa Western and Central': '[[Западная Африка|Западная]] и [[Центральная Африка|Центральная]] Африка',
            'North America': '[[Северная Америка]]',
            'Latin America & Caribbean': '[[Латинская Америка]] и [[Антильские острова|Карибы]]',
            'Arab World': 'Арабский мир',
            'World': 'Мир',
            'Caribbean small states': '[[Список стран Карибского бассейна|Малые страны Карибского бассейна]]',
            'Pacific island small states': 'Малые страны Тихого океана',
            'Small states': 'Малые страны',
            'Other small states': 'Другие малые страны'
        }
    else:
        file_header='wbg_stats_header_2019_en.txt'
        ptn_1 = 'flaglist'
        ptn_2 = 'flagicon'
        prettify_name = {
            'European Union': '[[European Union]]',
            'Central Europe and the Baltics': '[[Central Europe]] & the [[Baltic states|Baltics]]',
            'Europe & Central Asia': '[[Europe]] & [[Central Asia]]',
            'South Asia': '[[South Asia]]',
            'East Asia & Pacific': '[[Asia-Pacific|East Asia & Pacific]]',
            'Middle East & North Africa': '[[MENA|Middle East & North Africa]]',
            'Africa Eastern and Southern': 'Africa [[East Africa|Eastern]] & [[Southern Africa|Southern]]',
            'Sub-Saharan Africa': '[[Sub-Saharan Africa]]',
            'Africa Western and Central': 'Africa [[West Africa|Western]] & [[Central Africa|Central]]',
            'North America': '[[North America]]',
            'Latin America & Caribbean': '[[Latin America and the Caribbean|Latin America & Caribbean]]'
        }
        
    with open('design/' + file_header, mode='r', encoding="utf-8") as fh:
        st = fh.read()
        
    st = st.strip()
        
    for i in range(len(df)):
        ser = df.iloc[i]
        if ser.name in ['World',
                        'European Union', 'Central Europe and the Baltics',
                        'Europe & Central Asia',
                        'South Asia',
                        'East Asia & Pacific',
                        'Middle East & North Africa',
                        'Africa Eastern and Southern', 'Sub-Saharan Africa', 'Africa Western and Central',
                        'North America', 'Latin America & Caribbean']:
            st += '\n' + '|-class=static-row-header\n' + \
                  f'|align=center| \'\'\'{prettify_name.get(ser.name, ser.name)}\'\'\' ' + \
                  f'||style="text-align:center; background:#e0ffd8;"| \'\'\'{ser.total:0.2f}\'\'\' ' + \
                  f'||style="text-align:center; background:#eaf3ff;"| \'\'\'{ser.male:0.2f}\'\'\' ' + \
                  f'||style="text-align:center; background:#fee7f6;"| \'\'\'{ser.female:0.2f}\'\'\' ' + \
                  f'||style="text-align:center;"| \'\'\'{ser.gender_gap:0.2f}\'\'\' ' + \
                  f'||style="text-align:center; background:#fff8dc;"| \'\'\'{ser[col_middle]:0.2f}\'\'\' ' + \
                  f'||style="text-align:center; background:#fff8dc;"| \'\'\'{ser.Δ_t_2000:0.2f}\'\'\''
        elif ser.name in ['Caribbean small states',
                          'Pacific island small states',
                          'Small states',
                          'Other small states']:
            st += '\n' + '|-\n' + \
                  f'|style="text-align:left; padding-left: 35px;"|{prettify_name.get(ser.name, ser.name)} ' + \
                  f'||style="text-align:center; background:#e0ffd8;"| {ser.total:0.2f} ' + \
                  f'||style="text-align:center; background:#eaf3ff;"| {ser.male:0.2f} ' + \
                  f'||style="text-align:center; background:#fee7f6;"| {ser.female:0.2f} ' + \
                  f'||style="text-align:center;"| {ser.gender_gap:0.2f} ' + \
                  f'||style="text-align:center; background:#fff8dc;"| {ser[col_middle]:0.2f} ' + \
                  f'||style="text-align:center; background:#fff8dc;"| {ser.Δ_t_2000:0.2f}'
        else:
            st += '\n' + '|-\n' + \
                  f'|align=left|{{{{{ptn_1}|{ser.name}}}}} ' + \
                  f'||style="text-align:center; background:#e0ffd8;"| {ser.total:0.2f} ' + \
                  f'||style="text-align:center; background:#eaf3ff;"| {ser.male:0.2f} ' + \
                  f'||style="text-align:center; background:#fee7f6;"| {ser.female:0.2f} ' + \
                  f'||style="text-align:center;"| {ser.gender_gap:0.2f} ' + \
                  f'||style="text-align:center; background:#fff8dc;"| {ser[col_middle]:0.2f} ' + \
                  f'||style="text-align:center; background:#fff8dc;"| {ser.Δ_t_2000:0.2f}'
    st += '\n|}'

    if lang == 'ru':
        st = re.sub('(?<=\d)\.(?=\d)', ',', st)  # replace . to comma, if this . is between two digits

    return st

In [5]:
def extract_data_for_year(df, year='2019'):
    ls_dropping = [
        'Hong Kong SAR, China',     # administrative region of China, population 7,291,000
        'Macao SAR, China',         # administrative region of China, population 682,000
        'Kosovo',                   # partially recognised state, population 1,806,000
        # 'West Bank and Gaza',        # Palestine, partially recognised state, population 5,227,000
        # 'New Caledonia',             # French Overseas Territory in Oceania, population 271,000
        # 'Channel Islands',           # archipelago in Europe, consisting of two Crown Dependencies, population 172,000
        # 'Curacao',                   #  constituent country of the Netherlands in S.America, population 149,000, little info about LE
        # 'Virgin Islands (U.S.)',     # unincorporated and organized territory of USA, population 87,000
        # 'Isle of Man',               # self-governing Crown Dependency, Europe, population 84,000
        # 'Dominica',                  # micro-state in N.America, population 72,400
        # 'Marshall Islands',          # micro-state in Oceania, population 62,000
        # 'Faroe Islands',             # autonomous territory of Denmark in Europe, population 54,000
        # 'St. Kitts and Nevis',       # micro-state in N.America, population 47,600
        # 'Turks and Caicos Islands',  # British Overseas Territory in N.America, population 44,000
        # 'Sint Maarten (Dutch part)', # constituent country of the Netherlands in N.America, population 41,500
        # 'Gibraltar',                 # British Overseas Territory in Europe, population 34,000
        # 'St. Martin (French part)',  # French Overseas Territory in N.America, population 32,500
        # 'British Virgin Islands',    # British Overseas Territory in N.America, population 30,000
        # 'Palau',           #  mini-state in Oceania, population 22,000, little info about LE
        # 'Tuvalu',                    # island micro-state in Oceania, population 12,000
        # 'Nauru'                      # micro-state in Oceania, population 11,000
        'Euro area',
        'IBRD only',
        'IDA & IBRD total',
        'IDA total',
        'IDA blend',
        'IDA only',
        'OECD members',
        'Small states',
        'Other small states',
        'Europe & Central Asia (excluding high income)',
        'East Asia & Pacific (excluding high income)',
        'Latin America & Caribbean (excluding high income)',
        'Middle East & North Africa (excluding high income)',
        'Sub-Saharan Africa (excluding high income)',
        'East Asia & Pacific (IDA & IBRD countries)',
        'Europe & Central Asia (IDA & IBRD countries)',
        'Middle East & North Africa (IDA & IBRD countries)',
        'Sub-Saharan Africa (IDA & IBRD countries)',           
        'Latin America & the Caribbean (IDA & IBRD countries)',
        'South Asia (IDA & IBRD)',
        'Heavily indebted poor countries (HIPC)',
        'Fragile and conflict affected situations',
        'Least developed countries: UN classification',
        'Early-demographic dividend',
        'Late-demographic dividend',
        'Pre-demographic dividend',
        'Post-demographic dividend',
        'Low income',
        'Lower middle income',
        'Low & middle income',
        'Middle income',
        'Upper middle income',
        'High income'
    ]
    
    ser = df.drop(ls_dropping) \
            [str(year)] \
            .dropna() \
            .rename(index = {'United States':'USA',
                             'Russian Federation': 'Russia',
                             'Korea, Rep.': 'South Korea',
                             'Egypt, Arab Rep.': 'Egypt',
                             'Congo, Dem. Rep.': 'DR Congo',   #'Congo, Democratic Republic of',
                             'Congo, Rep.': 'Congo, Rep.', #'Republic of the Congo', #'Congo Republic',  #'Congo, Republic of',
                             'Yemen, Rep.': 'Yemen',
                             'Micronesia, Fed. Sts.': 'Micronesia',
                             'Gambia, The': 'Gambia',
                             'Iran, Islamic Rep.': 'Iran',
                             "Korea, Dem. People's Rep.": 'North Korea',
                             'Syrian Arab Republic': 'Syria',
                             'Venezuela, RB': 'Venezuela',
                             'Kyrgyz Republic': 'Kyrgyzstan',
                             'Lao PDR': 'Laos',
                             'Czech Republic': 'Czechia',
                             'Slovak Republic': 'Slovakia',
                             'Bahamas, The': 'Bahamas',
                             'Brunei Darussalam': 'Brunei',
                             'Turkiye': 'Turkey',
                             'West Bank and Gaza': 'Palestine',
                             'Sint Maarten (Dutch part)': 'Sint Maarten',
                             'St. Martin (French part)': 'Collectivity of Saint Martin'
                            })
    
    return ser

In [6]:
df = pd.read_csv('data/World_Bank_Group-total.csv', skiprows=4, index_col=0)

ser_total_2019 = extract_data_for_year(df, 2019)
ser_total_2019.name = 'total'

ser_total_2015 = extract_data_for_year(df, 2015)
ser_total_2015.name = 't_2015'

ser_total_2014 = extract_data_for_year(df, 2014)
ser_total_2014.name = 't_2014'

ser_total_2000 = extract_data_for_year(df, 2000)
ser_total_2000.name = 't_2000'

del df

print(f"total:     {len(ser_total_2019)} records")
print(f"2015 year: {len(ser_total_2015)} records")
print(f"2014 year: {len(ser_total_2014)} records")
print(f"2000 year: {len(ser_total_2000)} records")

total:     221 records
2015 year: 222 records
2014 year: 222 records
2000 year: 223 records

In [7]:
df = pd.read_csv('data/World_Bank_Group-male.csv', skiprows=4, index_col=0)

ser_males_2019 = extract_data_for_year(df, 2019)
ser_males_2019.name = 'male'

del df

print(f"males: {len(ser_males_2019)} records")

males: 221 records

In [8]:
df = pd.read_csv('data/World_Bank_Group-female.csv', skiprows=4, index_col=0)

ser_females_2019 = extract_data_for_year(df, 2019)
ser_females_2019.name = 'female'

del df

print(f"males: {len(ser_females_2019)} records")

males: 221 records

In [9]:
df = pd.concat([ser_total_2019, ser_males_2019, ser_females_2019], axis='columns', join='outer')  \
       .join([ser_total_2015, ser_total_2014, ser_total_2000], how='left')
df.index.name = ''

print(df.shape)
df.head(2)

(221, 6)

,total,male,female,t_2015,t_2014,t_2000
,,,,,,
Aruba,76.248000,73.286000,79.010000,75.683000,75.601000,73.569000
Africa Eastern and Southern,63.755674,61.290717,66.219722,61.856452,61.337911,51.964481

In [10]:
df.insert(loc=3, column='gender_gap', value=df['female']-df['male'])
df.insert(loc=4, column='Δ_t_2015', value=df['total']-df['t_2015'])
df.insert(loc=5, column='Δ_t_2014', value=df['total']-df['t_2014'])
df.insert(loc=6, column='Δ_t_2000', value=df['total']-df['t_2000'])
df.drop(columns=['t_2015', 't_2014', 't_2000'], inplace=True)
df.sort_values(by='total', ascending=False, inplace=True)

In [11]:
print(df.shape)
df.head(2)

(221, 7)

,total,male,female,gender_gap,Δ_t_2015,Δ_t_2014,Δ_t_2000
,,,,,,,
Japan,84.356341,81.41,87.45,6.04,0.562439,0.768537,3.280244
Liechtenstein,84.160976,82.60,85.80,3.20,1.504878,2.087805,7.334146

<br />
<br />
<br />

In [12]:
# ls_new = df.index.to_list()
# print(len(ls_new))

# ls_old = ['Japan', 'Liechtenstein', 'Switzerland', ...]

# print(len(ls_old))

In [13]:
# [country for country in ls_new if country not in ls_old]

In [14]:
# [country for country in ls_old if country not in ls_new]

<br />
<br />
<br />

In [15]:
dd_N_America = ['Antigua and Barbuda', 'Bahamas', 'Barbados', 'Belize', 'Canada', 'Costa Rica',
                'Cuba', 'Dominican Republic', 'El Salvador', 'Grenada', 'Guatemala',
                'Haiti', 'Honduras', 'Jamaica', 'Mexico', 'Nicaragua', 'Panama',
                'St. Lucia', 'St. Vincent and the Grenadines',
                'Trinidad and Tobago', 'USA',
                'World',                
                'Bermuda', 'Puerto Rico', 'Virgin Islands (U.S.)', 'British Virgin Islands', 'Turks and Caicos Islands',
                'Caribbean small states', 'Sint Maarten', 'Collectivity of Saint Martin', 'Dominica', 'St. Kitts and Nevis',
                'Aruba', 'Greenland']
# no values in the source: ['Dominica', 'St. Kitts and Nevis']

df_N_America = df.loc[dd_N_America]   \
                 .sort_values(by='total', ascending=False)
df_N_America

,total,male,female,gender_gap,Δ_t_2015,Δ_t_2014,Δ_t_2000
,,,,,,,
Canada,82.228780,80.180000,84.380000,4.200000,0.413171,0.444390,3.061951
Bermuda,81.033000,77.791000,84.178000,6.387000,0.115000,1.515000,2.175000
Collectivity of Saint Martin,79.983000,76.875000,83.260000,6.385000,0.674000,0.017000,3.320000
Virgin Islands (U.S.),79.668293,76.400000,83.100000,6.700000,0.651220,0.800000,3.048780
Costa Rica,79.427000,77.002000,81.953000,4.951000,0.341000,0.653000,1.841000
Puerto Rico,79.063000,74.832000,83.456000,8.624000,-0.632000,0.134000,3.086000
USA,78.787805,76.300000,81.400000,5.100000,0.097561,-0.053659,2.151220
Antigua and Barbuda,78.691000,75.909000,81.171000,5.262000,0.778000,0.833000,4.085000
Panama,77.810000,74.789000,80.954000,6.165000,0.342000,0.562000,3.809000
Cuba,77.611000,75.244000,80.075000,4.831000,-0.161000,-0.242000,1.428000
Barbados,77.257000,75.230000,79.123000,3.893000,0.607000,0.781000,3.168000
Aruba,76.248000,73.286000,79.010000,5.724000,0.565000,0.647000,2.679000
British Virgin Islands,75.863000,73.113000,78.804000,5.691000,0.188000,0.251000,1.897000
Sint Maarten,75.437000,72.541000,78.797000,6.256000,-1.517000,-1.336000,0.923000
Turks and Caicos Islands,75.326000,72.600000,78.371000,5.771000,-1.586000,-1.809000,1.751000
Grenada,74.863000,72.129000,77.834000,5.705000,-0.150000,-0.122000,2.080000
Trinidad and Tobago,74.228000,70.828000,77.697000,6.869000,-0.275000,0.013000,5.126000
Mexico,74.202000,70.931000,77.574000,6.643000,-0.480000,-0.595000,0.633000
Nicaragua,74.054000,71.066000,77.001000,5.935000,1.071000,1.242000,6.820000
Belize,73.931000,71.062000,77.247000,6.185000,0.744000,0.620000,5.367000
Dominican Republic,73.577000,70.471000,76.965000,6.494000,0.624000,0.710000,4.154000
Dominica,73.559000,70.355000,77.205000,6.850000,4.832000,4.125000,0.866000
St. Lucia,73.445000,70.100000,77.058000,6.958000,0.307000,0.581000,2.677000
Guatemala,73.129000,70.439000,75.812000,5.373000,1.026000,1.165000,5.683000
World,72.979716,70.623612,75.470008,4.846396,0.884638,1.098420,5.279314
Honduras,72.881000,70.534000,75.370000,4.836000,0.394000,0.622000,4.219000
St. Vincent and the Grenadines,72.835000,70.533000,75.580000,5.047000,-1.572000,-1.638000,1.458000
El Salvador,72.559000,68.009000,76.776000,8.767000,0.745000,0.813000,2.694000
Caribbean small states,72.523410,69.783525,75.343235,5.559710,-0.086854,-0.157467,2.914077
Greenland,72.043659,70.190000,73.990000,3.800000,0.066341,0.058049,5.942927
Jamaica,71.767000,69.668000,73.874000,4.206000,-0.627000,-1.215000,0.823000
St. Kitts and Nevis,71.572000,68.294000,75.195000,6.901000,0.809000,0.606000,1.791000
Bahamas,71.205000,68.445000,73.830000,5.385000,-1.899000,-2.161000,-0.836000
Haiti,64.255000,61.314000,67.329000,6.015000,1.018000,1.268000,5.890000

In [16]:
table_code_N_America = create_table(df_N_America, col_middle=COL_MIDDLE)
output_table_code(table_code_N_America, 'Table code WBG -2019 -N_America -en.txt', destination='file')

Data has written to file

In [17]:
table_code_N_America = create_table(df_N_America, col_middle=COL_MIDDLE, lang='ru')
output_table_code(table_code_N_America, 'Table code WBG -2019 -N_America -ru.txt', destination='file')

Data has written to file

<br />
<br />
<br />

In [18]:
dd_S_America = ['Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia', 'Ecuador',
                'Guyana', 'Paraguay', 'Peru', 'Suriname', 'Uruguay', 'Venezuela',
                'World']

df_S_America = df.loc[dd_S_America]   \
                 .sort_values(by='total', ascending=False)
df_S_America

,total,male,female,gender_gap,Δ_t_2015,Δ_t_2014,Δ_t_2000
,,,,,,,
Chile,80.326000,77.894000,82.711000,4.817000,0.580000,0.85300,3.456000
Uruguay,77.508000,73.579000,81.296000,7.717000,0.025000,0.14200,2.483000
Ecuador,77.297000,74.699000,79.953000,5.254000,0.508000,0.67500,4.458000
Argentina,77.284000,73.857000,80.681000,6.824000,0.524000,0.52900,3.358000
Colombia,76.752000,73.800000,79.721000,5.921000,0.495000,0.70900,5.432000
Peru,76.156000,73.904000,78.497000,4.593000,0.535000,0.82300,5.732000
Brazil,75.338000,72.203000,78.469000,6.266000,1.006000,1.03200,5.601000
Paraguay,73.621000,70.961000,76.441000,5.480000,0.430000,0.74300,3.871000
World,72.979716,70.623612,75.470008,4.846396,0.884638,1.09842,5.279314
Suriname,72.242000,68.944000,75.680000,6.736000,1.442000,2.46000,6.734000
Venezuela,72.161000,68.034000,76.566000,8.532000,-0.845000,-0.69200,-0.317000
Guyana,69.124000,65.806000,72.658000,6.852000,0.923000,1.24200,4.641000
Bolivia,67.841000,65.370000,70.475000,5.105000,0.523000,0.67800,5.495000

In [19]:
table_code_S_America = create_table(df_S_America, col_middle=COL_MIDDLE)
output_table_code(table_code_S_America, 'Table code WBG -2019 -S_America -en.txt', destination='file')

Data has written to file

In [20]:
table_code_S_America = create_table(df_S_America, col_middle=COL_MIDDLE, lang='ru')
output_table_code(table_code_S_America, 'Table code WBG -2019 -S_America -ru.txt', destination='file')

Data has written to file

<br />
<br />
<br />

In [21]:
dd_Asia = ['Afghanistan', 'Armenia', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Bhutan', 'Brunei', 'Cambodia', 'China', 'Cyprus', 'Egypt',
           'Georgia', 'India', 'Indonesia', 'Iran', 'Iraq', 'Israel', 'Japan', 'Jordan', 'Kazakhstan', 'North Korea', 'South Korea',
           'Kuwait', 'Kyrgyzstan', 'Laos', 'Lebanon', 'Malaysia', 'Maldives', 'Mongolia', 'Myanmar', 'Nepal', 'Oman', 'Pakistan',
           'Philippines', 'Qatar', 'Russia', 'Saudi Arabia', 'Singapore', 'Sri Lanka', 'Syria', 'Tajikistan', 'Thailand', 'Timor-Leste',
           'Turkey', 'Turkmenistan', 'United Arab Emirates', 'Uzbekistan', 'Vietnam', 'Yemen', 'Palestine',
           'World']  # 'Europe & Central Asia', 'South Asia', 'East Asia & Pacific', 'Middle East & North Africa'

df_Asia = df.loc[dd_Asia]   \
            .sort_values(by='total', ascending=False)
df_Asia

,total,male,female,gender_gap,Δ_t_2015,Δ_t_2014,Δ_t_2000
,,,,,,,
Japan,84.356341,81.410000,87.450000,6.040000,0.562439,0.768537,3.280244
Singapore,83.595122,81.400000,85.900000,4.500000,0.851220,1.100000,5.643902
South Korea,83.226829,80.300000,86.300000,6.000000,1.202439,1.504878,7.317073
Israel,82.804878,81.000000,84.700000,3.700000,0.753659,0.651220,3.851220
Cyprus,81.397000,79.508000,83.270000,3.762000,0.431000,0.626000,4.829000
Qatar,80.990000,80.064000,82.646000,2.582000,0.926000,1.222000,6.162000
Maldives,80.116000,79.323000,81.162000,1.839000,0.421000,0.692000,9.240000
Bahrain,80.019000,78.980000,81.319000,2.339000,0.614000,0.691000,4.523000
United Arab Emirates,79.726000,78.175000,81.907000,3.732000,0.503000,0.682000,5.346000
Kuwait,79.685000,78.249000,82.266000,4.017000,0.123000,0.240000,2.963000
Lebanon,79.236000,77.251000,81.043000,3.792000,0.007000,0.263000,5.305000
Thailand,78.975000,74.638000,83.433000,8.795000,1.258000,1.560000,6.659000
Oman,78.002000,76.543000,79.947000,3.404000,0.315000,0.556000,4.536000
China,77.968000,75.298000,80.816000,5.518000,0.991000,1.251000,6.087000
Turkey,77.832000,74.680000,80.953000,6.273000,1.186000,1.267000,5.971000
Saudi Arabia,77.304000,76.070000,78.909000,2.839000,0.386000,0.547000,4.837000
Iran,76.103000,73.379000,79.055000,5.676000,0.979000,1.321000,6.412000
Jordan,76.044000,73.894000,78.506000,4.612000,1.033000,1.255000,4.126000
Sri Lanka,76.008000,72.227000,79.743000,7.516000,1.081000,1.357000,5.653000
Malaysia,75.760000,73.465000,78.306000,4.841000,0.666000,0.614000,2.985000
Armenia,75.439000,70.403000,79.856000,9.453000,1.003000,1.381000,4.815000
Palestine,75.241000,73.128000,77.338000,4.210000,0.835000,2.619000,4.853000
Brunei,74.748000,72.706000,76.986000,4.280000,-0.002000,-0.031000,0.668000
Vietnam,74.093000,69.369000,78.888000,9.519000,0.217000,0.238000,1.631000
Georgia,73.470000,68.493000,78.429000,9.936000,0.173000,0.371000,3.895000
North Korea,73.198000,70.625000,75.700000,5.075000,0.414000,0.256000,12.435000
Kazakhstan,73.180000,68.820000,77.300000,8.480000,1.210000,1.740000,7.730000
Azerbaijan,73.102000,70.230000,75.832000,5.602000,1.651000,1.986000,8.211000
Russia,73.083902,68.240000,78.170000,9.930000,1.900488,2.340244,7.600244
World,72.979716,70.623612,75.470008,4.846396,0.884638,1.098420,5.279314
Bangladesh,72.806000,70.713000,75.090000,4.377000,2.315000,2.820000,7.027000
Philippines,71.865000,69.986000,73.742000,3.756000,0.597000,0.714000,2.452000
Mongolia,71.822000,67.254000,76.645000,9.391000,2.324000,2.775000,8.940000
Syria,71.822000,68.224000,75.638000,7.414000,6.698000,8.669000,1.058000
Kyrgyzstan,71.600000,67.600000,75.800000,8.200000,0.948780,1.197561,3.041463
Iraq,71.576000,69.559000,73.428000,3.869000,2.136000,2.662000,4.759000
Bhutan,71.391000,69.813000,73.236000,3.423000,1.048000,1.342000,9.381000
Egypt,71.358000,69.049000,73.711000,4.662000,0.875000,0.943000,3.351000
Uzbekistan,71.344000,68.782000,73.883000,5.101000,0.869000,1.110000,5.620000
India,70.910000,69.525000,72.395000,2.870000,1.274000,1.836000,8.241000
Tajikistan,70.867000,68.862000,73.010000,4.148000,1.561000,1.798000,7.607000
Cambodia,70.692000,68.400000,72.873000,4.473000,0.819000,0.956000,12.067000
Indonesia,70.518000,68.481000,72.597000,4.116000,0.819000,0.985000,4.085000
Nepal,69.558000,67.755000,71.351000,3.596000,2.102000,1.473000,6.944000
Turkmenistan,69.002000,65.552000,72.464000,6.912000,0.220000,0.388000,3.976000
Timor-Leste,68.268000,66.721000,69.950000,3.229000,1.131000,1.481000,9.700000
Laos,68.138000,66.155000,70.234000,4.079000,1.468000,1.777000,9.760000
Pakistan,66.756000,64.595000,69.096000,4.501000,1.059000,1.472000,4.654000
Myanmar,66.610000,63.572000,69.799000,6.227000,1.049000,1.554000,6.455000
Yemen,65.092000,61.807000,68.627000,6.820000,-0.781000,-2.292000,2.504000
Afghanistan,63.565000,60.619000,66.677000,6.058000,0.906000,1.020000,8.267000

In [22]:
table_code_Asia = create_table(df_Asia, col_middle=COL_MIDDLE)
output_table_code(table_code_Asia, 'Table code WBG -2019 -Asia -en.txt', destination='file')

Data has written to file

In [23]:
table_code_Asia = create_table(df_Asia, col_middle=COL_MIDDLE, lang='ru')
output_table_code(table_code_Asia, 'Table code WBG -2019 -Asia -ru.txt', destination='file')

Data has written to file

<br />
<br />
<br />

In [24]:
dd_Europe = ['Albania', 'Armenia', 'Austria', 'Azerbaijan', 'Belarus', 'Belgium', 'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Cyprus',
             'Czechia', 'Denmark', 'Estonia', 'Finland', 'France', 'Georgia', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy',
             'Kazakhstan', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Moldova', 'Montenegro', 'Netherlands', 'North Macedonia', 'Norway',
             'Poland', 'Portugal', 'Romania', 'Russia', 'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland',
             'Turkey', 'Ukraine', 'United Kingdom', 'Liechtenstein',
             'World', 'European Union',
             'Channel Islands', 'Faroe Islands', 'Gibraltar', 'Isle of Man']  # 'Central Europe and the Baltics', 'Europe & Central Asia']
# small countries: Andorra, Liechtenstein, Monaco, San Marino, Vatican City

df_Europe = df.loc[dd_Europe]   \
              .sort_values(by='total', ascending=False)
df_Europe

,total,male,female,gender_gap,Δ_t_2015,Δ_t_2014,Δ_t_2000
,,,,,,,
Liechtenstein,84.160976,82.600000,85.800000,3.200000,1.504878,2.087805,7.334146
Switzerland,83.904878,82.100000,85.800000,3.700000,1.007317,0.707317,4.224390
Spain,83.831707,81.100000,86.700000,5.600000,1.000000,0.602439,4.865854
Italy,83.497561,81.400000,85.700000,4.300000,0.953659,0.407317,3.719512
Iceland,83.163415,81.700000,84.700000,3.000000,0.695122,0.302439,3.509756
Sweden,83.109756,81.500000,84.800000,3.300000,0.904878,0.856098,3.465854
Norway,82.958537,81.300000,84.700000,3.400000,0.653659,0.858537,4.324390
Faroe Islands,82.946341,80.800000,85.200000,4.400000,1.153659,1.353659,4.509756
Malta,82.858537,81.200000,84.600000,3.400000,0.960976,0.812195,4.509756
France,82.826829,79.900000,85.900000,6.000000,0.504878,0.107317,3.770732
Ireland,82.702439,80.800000,84.700000,3.900000,1.248780,1.353659,6.165854
Luxembourg,82.639024,80.200000,85.200000,5.000000,0.346341,0.409756,4.765854
Gibraltar,82.363000,80.374000,84.288000,3.914000,1.936000,0.481000,0.993000
Netherlands,82.112195,80.600000,83.700000,3.100000,0.602439,0.404878,4.124390
Belgium,81.995122,79.800000,84.300000,4.500000,1.002439,0.707317,4.273171
Finland,81.982927,79.300000,84.800000,5.500000,0.502439,0.802439,4.517073
Austria,81.895122,79.700000,84.200000,4.500000,0.704878,0.404878,3.768293
Portugal,81.675610,78.700000,84.800000,6.100000,0.551220,0.553659,5.360976
Greece,81.639024,79.200000,84.200000,5.000000,0.602439,0.253659,3.751220
Slovenia,81.529268,78.700000,84.500000,5.800000,0.753659,0.451220,6.117073
Denmark,81.451220,79.500000,83.500000,4.000000,0.748780,0.751220,4.858537
United Kingdom,81.404878,79.600000,83.300000,3.700000,0.448780,0.100000,3.663415
Cyprus,81.397000,79.508000,83.270000,3.762000,0.431000,0.626000,4.829000
Channel Islands,81.390000,79.266000,83.499000,4.233000,-0.043000,-0.494000,2.235000
European Union,81.314858,78.665905,84.109062,5.443157,0.746419,0.442876,4.239541
Germany,81.292683,79.000000,83.700000,4.700000,0.651220,0.202439,3.365854
Isle of Man,80.737000,78.857000,82.629000,3.772000,1.832000,0.700000,6.012000
Albania,79.282000,77.168000,81.666000,4.498000,0.638000,0.875000,3.878000
Czechia,79.229268,76.400000,82.200000,5.800000,0.651220,0.404878,4.260976
Estonia,78.646341,74.500000,83.000000,8.500000,1.056098,1.612195,8.229268
Croatia,78.424390,75.400000,81.600000,6.200000,1.148780,0.946341,5.616585
Poland,77.904878,74.100000,81.900000,7.800000,0.453659,0.302439,4.156098
Turkey,77.832000,74.680000,80.953000,6.273000,1.186000,1.267000,5.971000
Slovakia,77.665854,74.300000,81.200000,6.900000,1.102439,0.853659,4.614634
Bosnia and Herzegovina,77.241000,75.208000,79.220000,4.012000,1.059000,1.582000,2.745000
Montenegro,76.682927,74.000000,79.500000,5.500000,0.234146,0.241463,2.864439
North Macedonia,76.602439,74.700000,78.600000,3.900000,1.200000,1.151220,3.656098
Hungary,76.319512,73.100000,79.700000,6.600000,0.751220,0.556098,5.073171
Lithuania,76.282927,71.600000,81.200000,9.600000,1.960976,1.765854,4.263415
Serbia,75.936585,73.400000,78.600000,5.200000,0.648780,0.600000,4.353659
Romania,75.607317,71.900000,79.500000,7.600000,0.695122,0.697561,4.443902
Armenia,75.439000,70.403000,79.856000,9.453000,1.003000,1.381000,4.815000
Latvia,75.387805,70.900000,80.100000,9.200000,0.907317,1.263415,5.073171
Bulgaria,75.112195,71.600000,78.800000,7.200000,0.497561,0.646341,3.448780
Belarus,74.226829,69.300000,79.400000,10.100000,0.602439,1.256098,5.314634
Georgia,73.470000,68.493000,78.429000,9.936000,0.173000,0.371000,3.895000
Kazakhstan,73.180000,68.820000,77.300000,8.480000,1.210000,1.740000,7.730000
Azerbaijan,73.102000,70.230000,75.832000,5.602000,1.651000,1.986000,8.211000
Russia,73.083902,68.240000,78.170000,9.930000,1.900488,2.340244,7.600244
World,72.979716,70.623612,75.470008,4.846396,0.884638,1.098420,5.279314
Ukraine,71.827317,66.920000,76.980000,10.060000,0.637805,0.640732,4.151707
Moldova,70.935000,66.378000,75.617000,9.239000,1.695000,1.904000,4.518000

In [25]:
table_code_Europe = create_table(df_Europe, col_middle=COL_MIDDLE)
output_table_code(table_code_Europe, 'Table code WBG -2019 -Europe -en.txt', destination='file')

Data has written to file

In [26]:
table_code_Europe = create_table(df_Europe, col_middle=COL_MIDDLE, lang='ru')
output_table_code(table_code_Europe, 'Table code WBG -2019 -Europe -ru.txt', destination='file')

Data has written to file

<br />
<br />
<br />

In [27]:
dd_Africa = ['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cameroon', 'Cabo Verde',
             "Cote d'Ivoire", 'Central African Republic', 'Chad', 'Comoros', 'DR Congo',
             'Congo, Rep.', 'Djibouti', 'Egypt', 'Equatorial Guinea', 'Eritrea', 'Eswatini',
             'Ethiopia', 'Gabon', 'Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Kenya',
             'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius',
             'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda', 'Sao Tome and Principe',
             'Senegal', 'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa', 'South Sudan', 'Sudan',
             'Tanzania', 'Togo', 'Tunisia', 'Uganda', 'Zambia', 'Zimbabwe',
             'World']  # 'Middle East & North Africa', 'Africa Eastern and Southern', 'Sub-Saharan Africa', 'Africa Western and Central'

df_Africa = df.loc[dd_Africa]   \
              .sort_values(by='total', ascending=False)
df_Africa

,total,male,female,gender_gap,Δ_t_2015,Δ_t_2014,Δ_t_2000
,,,,,,,
Algeria,76.474000,75.238000,77.760000,2.522000,0.852000,1.364000,5.996000
Cabo Verde,76.004000,71.570000,80.183000,8.613000,1.384000,0.764000,7.386000
Tunisia,75.993000,72.895000,79.379000,6.484000,0.301000,0.343000,2.303000
Morocco,74.270000,72.245000,76.448000,4.203000,1.350000,1.732000,7.483000
Mauritius,74.235854,71.070000,77.560000,6.490000,-0.117317,0.041463,2.572439
Seychelles,74.046341,69.900000,78.400000,8.500000,-0.248780,0.817073,1.268293
World,72.979716,70.623612,75.470008,4.846396,0.884638,1.098420,5.279314
Libya,72.463000,69.496000,75.766000,6.270000,0.765000,0.952000,1.783000
Egypt,71.358000,69.049000,73.711000,4.662000,0.875000,0.943000,3.351000
Senegal,68.526000,65.947000,70.954000,5.007000,1.647000,2.074000,11.583000
Sao Tome and Principe,68.523000,65.831000,71.620000,5.789000,1.274000,1.678000,6.868000
Eritrea,67.300000,65.216000,69.309000,4.093000,1.267000,1.700000,11.189000
Tanzania,66.989000,64.921000,69.117000,4.196000,2.338000,3.116000,14.627000
Gabon,66.603000,64.581000,68.865000,4.284000,1.143000,1.629000,5.534000
Rwanda,66.437000,64.180000,68.480000,4.300000,1.139000,1.497000,19.308000
South Africa,66.175000,62.834000,69.107000,6.273000,2.225000,2.795000,7.705000
Madagascar,65.882000,63.662000,68.210000,4.548000,1.543000,1.627000,7.944000
Sudan,65.876000,63.432000,68.388000,4.956000,1.217000,1.607000,7.557000
Ethiopia,65.838000,63.051000,68.795000,5.744000,2.189000,2.933000,15.300000
Mauritania,65.687000,63.777000,67.651000,3.874000,1.202000,1.532000,4.659000
Botswana,65.464000,62.934000,67.891000,4.957000,1.646000,2.856000,14.453000
Ghana,64.740000,62.686000,66.825000,4.139000,1.565000,1.695000,6.545000
Malawi,64.119000,60.402000,67.968000,7.566000,2.741000,3.220000,19.601000
Comoros,64.068000,62.009000,66.306000,4.297000,1.172000,1.552000,5.311000
Gambia,63.755000,62.330000,65.186000,2.856000,1.261000,1.486000,6.813000
Djibouti,63.085000,60.695000,65.563000,4.868000,1.128000,1.444000,6.512000
Namibia,63.075000,59.426000,66.637000,7.211000,2.375000,3.253000,11.085000
Uganda,62.991000,60.893000,64.990000,4.097000,1.905000,2.583000,14.649000
Kenya,62.943000,60.678000,65.275000,4.597000,1.051000,1.127000,8.532000
Niger,62.897000,61.868000,63.939000,2.071000,1.814000,2.111000,13.575000
Zambia,62.793000,60.080000,65.409000,5.329000,1.585000,2.094000,17.562000
"Congo, Rep.",62.747000,61.346000,64.165000,2.819000,-0.486000,-0.203000,9.065000
Angola,62.448000,59.977000,64.922000,4.945000,1.793000,2.408000,16.424000
Burundi,62.351000,60.339000,64.347000,4.008000,2.134000,2.483000,14.837000
Equatorial Guinea,61.644000,59.984000,63.540000,3.556000,1.541000,2.049000,8.418000
Cameroon,61.584000,60.186000,62.996000,2.810000,1.926000,2.649000,8.652000
Zimbabwe,61.292000,58.644000,63.661000,5.017000,1.701000,2.446000,16.606000
Mozambique,61.166000,58.312000,63.920000,5.608000,3.015000,3.892000,11.675000
Liberia,61.104000,59.892000,62.298000,2.406000,1.956000,1.983000,9.748000
Togo,60.901000,60.350000,61.443000,1.093000,1.505000,2.048000,6.159000
Guinea-Bissau,60.882000,58.763000,62.872000,4.109000,1.754000,2.272000,10.761000
Eswatini,60.549000,56.975000,64.353000,7.378000,5.530000,7.499000,13.293000
Benin,60.454000,59.050000,61.858000,2.808000,1.077000,1.329000,3.876000
DR Congo,60.276000,58.335000,62.243000,3.908000,1.786000,1.980000,8.495000
Sierra Leone,60.255000,58.941000,61.554000,2.613000,3.066000,3.862000,15.205000
Burkina Faso,60.039000,58.173000,61.822000,3.649000,1.194000,1.680000,9.192000
Guinea,59.720000,58.544000,60.817000,2.273000,1.586000,1.834000,7.241000
Mali,59.664000,58.523000,60.841000,2.318000,1.301000,1.764000,9.125000
Cote d'Ivoire,59.319000,58.162000,60.590000,2.428000,1.557000,2.111000,8.477000
Somalia,57.078000,55.122000,59.092000,3.970000,2.221000,2.801000,6.418000
South Sudan,55.912000,54.471000,57.290000,2.819000,0.346000,0.939000,9.884000
Central African Republic,55.025000,53.048000,57.106000,4.058000,2.232000,4.459000,9.619000
Lesotho,54.173000,51.406000,57.053000,5.647000,3.072000,4.140000,5.746000
Chad,53.259000,51.664000,54.908000,3.244000,1.670000,2.057000,5.816000
Nigeria,52.910000,52.651000,53.165000,0.514000,1.069000,1.119000,5.717000

In [28]:
table_code_Africa = create_table(df_Africa, col_middle=COL_MIDDLE)
output_table_code(table_code_Africa, 'Table code WBG -2019 -Africa -en.txt', destination='file')

Data has written to file

In [29]:
table_code_Africa = create_table(df_Africa, col_middle=COL_MIDDLE, lang='ru')
output_table_code(table_code_Africa, 'Table code WBG -2019 -Africa -ru.txt', destination='file')

Data has written to file

<br />
<br />
<br />

In [30]:
dd_Oceania = ['Australia', 'Papua New Guinea', 'New Zealand', 'Fiji', 'Solomon Islands', 'Vanuatu',
              'Samoa', 'Kiribati', 'Micronesia', 'Tonga', 'Marshall Islands', 'Nauru', 'Tuvalu',
              'French Polynesia', 'New Caledonia', 'Guam', 'Pacific island small states',
              'World']
# Database does not contain data for 'Palau', 'American Samoa', 'Northern Mariana Islands'

df_Oceania = df.loc[dd_Oceania]   \
                 .sort_values(by='total', ascending=False)
df_Oceania

,total,male,female,gender_gap,Δ_t_2015,Δ_t_2014,Δ_t_2000
,,,,,,,
French Polynesia,82.996000,80.704000,85.608000,4.904000,0.642000,0.782000,3.460000
Australia,82.900000,80.900000,85.000000,4.100000,0.500000,0.600000,3.665854
New Zealand,82.056098,80.300000,83.900000,3.600000,0.443659,0.599268,3.419512
New Caledonia,80.419707,76.808000,84.212000,7.404000,3.139220,3.183122,5.256293
Guam,77.717000,74.164000,81.576000,7.412000,1.101000,0.968000,3.300000
World,72.979716,70.623612,75.470008,4.846396,0.884638,1.098420,5.279314
Samoa,72.157000,69.767000,74.805000,5.038000,-0.358000,-0.306000,1.411000
Micronesia,71.077000,67.581000,74.842000,7.261000,-0.331000,-0.452000,1.308000
Tonga,70.871000,68.265000,73.669000,5.404000,0.264000,0.331000,1.893000
Solomon Islands,70.382000,69.032000,71.900000,2.868000,0.799000,1.148000,3.157000
Vanuatu,69.877000,67.801000,72.405000,4.604000,0.364000,0.412000,0.911000
Pacific island small states,69.294251,67.432680,71.325317,3.892637,0.732043,0.651612,1.990303
Fiji,67.893000,66.126000,69.728000,3.602000,1.049000,0.517000,1.583000
Kiribati,67.150000,65.295000,68.782000,3.487000,1.091000,1.335000,2.741000
Papua New Guinea,65.474000,62.963000,68.671000,5.708000,0.773000,1.215000,3.754000
Marshall Islands,64.746000,63.233000,66.608000,3.375000,0.919000,1.123000,1.471000
Tuvalu,64.278000,60.592000,68.850000,8.258000,0.218000,0.253000,0.779000
Nauru,63.484000,60.055000,67.321000,7.266000,1.215000,1.677000,4.752000

In [31]:
table_code_Oceania = create_table(df_Oceania)
output_table_code(table_code_Oceania, 'Table code WBG -2019 -Oceania -en.txt', destination='file')

Data has written to file

In [32]:
table_code_Oceania = create_table(df_Oceania, lang='ru')
output_table_code(table_code_Oceania, 'Table code WBG -2019 -Oceania -ru.txt', destination='file')

Data has written to file

<br />
<br />
<br />

In [33]:
dd_CIS = ['Armenia', 'Azerbaijan', 'Belarus', 'Kazakhstan', 'Kyrgyzstan', 'Moldova',
          'Russia', 'Tajikistan', 'Uzbekistan', 'Turkmenistan']  # 'Georgia', 'Ukraine'

df_CIS = df.loc[dd_CIS]   \
           .sort_values(by='total', ascending=False)
df_CIS

,total,male,female,gender_gap,Δ_t_2015,Δ_t_2014,Δ_t_2000
,,,,,,,
Armenia,75.439000,70.403,79.856,9.453,1.003000,1.381000,4.815000
Belarus,74.226829,69.300,79.400,10.100,0.602439,1.256098,5.314634
Kazakhstan,73.180000,68.820,77.300,8.480,1.210000,1.740000,7.730000
Azerbaijan,73.102000,70.230,75.832,5.602,1.651000,1.986000,8.211000
Russia,73.083902,68.240,78.170,9.930,1.900488,2.340244,7.600244
Kyrgyzstan,71.600000,67.600,75.800,8.200,0.948780,1.197561,3.041463
Uzbekistan,71.344000,68.782,73.883,5.101,0.869000,1.110000,5.620000
Moldova,70.935000,66.378,75.617,9.239,1.695000,1.904000,4.518000
Tajikistan,70.867000,68.862,73.010,4.148,1.561000,1.798000,7.607000
Turkmenistan,69.002000,65.552,72.464,6.912,0.220000,0.388000,3.976000

In [34]:
table_code_CIS = create_table(df_CIS, col_middle=COL_MIDDLE)
output_table_code(table_code_CIS, 'Table code WBG -2019 -CIS -en.txt', destination='file')

Data has written to file

In [35]:
table_code_CIS = create_table(df_CIS, col_middle=COL_MIDDLE, lang='ru')
output_table_code(table_code_CIS, 'Table code WBG -2019 -CIS -ru.txt', destination='file')

Data has written to file

<br />
<br />
<br />

In [36]:
ls_regions = [
    'European Union', 'Central Europe and the Baltics',
    'Europe & Central Asia',
    'South Asia',
    'East Asia & Pacific',
    'Middle East & North Africa',
    'Africa Eastern and Southern', 'Sub-Saharan Africa', 'Africa Western and Central',
    'North America', 'Latin America & Caribbean',
    'Arab World'
]

# exclude countries with population <50,000
ls_dropped_territories = ['St. Kitts and Nevis', 'Turks and Caicos Islands', 'Sint Maarten', 'Gibraltar',
                          'Collectivity of Saint Martin', 'British Virgin Islands', 'Tuvalu', 'Nauru']  # 'Palau'

In [37]:
df_all_countries = df.drop(ls_regions + ls_dropped_territories)
print(len(df_all_countries))

201

In [38]:
table_code_all_countries = create_table(df_all_countries, col_middle=COL_MIDDLE)
output_table_code(table_code_all_countries, 'Table code WBG -2019 -all_countries -en.txt', destination='file')

Data has written to file

In [39]:
table_code_all_countries = create_table(df_all_countries, col_middle=COL_MIDDLE, lang='ru')
output_table_code(table_code_all_countries, 'Table code WBG -2019 -all_countries -ru.txt', destination='file')

Data has written to file

<br />
<br />
<br />

In [40]:
# create code for placing info in Wikipedia
def create_table_for_regions(df, col_middle='Δ_t_2014', lang='en'):

    if lang=='ru':
        file_header='wbg_stats_header_2019_ru.txt'
        ptn_1 = 'флагификация'
        ptn_2 = 'флаг'
        prettify_name = {
            'European Union': '[[Европейский союз]]',
            'Central Europe and the Baltics': '[[Центральная Европа]] и [[Прибалтика]]',
            'Europe & Central Asia': '[[Европа]] и [[Центральная Азия]]',
            'South Asia': '[[Южная Азия]]',
            'East Asia & Pacific': '[[Восточная Азия]] и [[Австралия и Океания|Океания]]',
            'Middle East & North Africa': '[[Страны MENA|Ближний Восток и Северная Африка]]',
            'Africa Eastern and Southern': '[[Восточная Африка|Восточная]] и [[Южная Африка|Южная]] Африка',
            'Sub-Saharan Africa': '[[Чёрная Африка|Африка к югу от Сахары]]',
            'Africa Western and Central': '[[Западная Африка|Западная]] и [[Центральная Африка|Центральная]] Африка',
            'North America': '[[Северная Америка]]',
            'Latin America & Caribbean': '[[Латинская Америка]] и [[Антильские острова|Карибы]]',
            'Arab World': 'Арабский мир',
            'World': 'Мир',
        }
    else:
        file_header='wbg_stats_header_2019_en.txt'
        ptn_1 = 'flaglist'
        ptn_2 = 'flagicon'
        prettify_name = {
            'European Union': '[[European Union]]',
            'Central Europe and the Baltics': '[[Central Europe]] & the [[Baltic states|Baltics]]',
            'Europe & Central Asia': '[[Europe]] & [[Central Asia]]',
            'South Asia': '[[South Asia]]',
            'East Asia & Pacific': '[[Asia-Pacific|East Asia & Pacific]]',
            'Middle East & North Africa': '[[MENA|Middle East & North Africa]]',
            'Africa Eastern and Southern': 'Africa [[East Africa|Eastern]] & [[Southern Africa|Southern]]',
            'Sub-Saharan Africa': '[[Sub-Saharan Africa]]',
            'Africa Western and Central': 'Africa [[West Africa|Western]] & [[Central Africa|Central]]',
            'North America': '[[North America]]',
            'Latin America & Caribbean': '[[Latin America and the Caribbean|Latin America & Caribbean]]'
        }
        
    with open('design/' + file_header, mode='r', encoding="utf-8") as fh:
        st = fh.read()
        
    st = st.strip()
        
    for i in range(len(df)):
        ser = df.iloc[i]
        if ser.name in ['World']:
            st += '\n' + '|-class=static-row-header\n' + \
                  f'|align=center| \'\'\'{prettify_name.get(ser.name, ser.name)}\'\'\' ' + \
                  f'||style="text-align:center; background:#e0ffd8;"| \'\'\'{ser.total:0.2f}\'\'\' ' + \
                  f'||style="text-align:center; background:#eaf3ff;"| \'\'\'{ser.male:0.2f}\'\'\' ' + \
                  f'||style="text-align:center; background:#fee7f6;"| \'\'\'{ser.female:0.2f}\'\'\' ' + \
                  f'||style="text-align:center;"| \'\'\'{ser.gender_gap:0.2f}\'\'\' ' + \
                  f'||style="text-align:center; background:#fff8dc;"| \'\'\'{ser[col_middle]:0.2f}\'\'\' ' + \
                  f'||style="text-align:center; background:#fff8dc;"| \'\'\'{ser.Δ_t_2000:0.2f}\'\'\''
        else:
            st += '\n' + '|-\n' + \
                  f'|align=left|{prettify_name.get(ser.name, ser.name)} ' + \
                  f'||style="text-align:center; background:#e0ffd8;"| {ser.total:0.2f} ' + \
                  f'||style="text-align:center; background:#eaf3ff;"| {ser.male:0.2f} ' + \
                  f'||style="text-align:center; background:#fee7f6;"| {ser.female:0.2f} ' + \
                  f'||style="text-align:center;"| {ser.gender_gap:0.2f} ' + \
                  f'||style="text-align:center; background:#fff8dc;"| {ser[col_middle]:0.2f} ' + \
                  f'||style="text-align:center; background:#fff8dc;"| {ser.Δ_t_2000:0.2f}'
    st += '\n|}'

    if lang == 'ru':
        st = re.sub('(?<=\d)\.(?=\d)', ',', st)  # replace . to comma, if this . is between two digits

    return st

In [41]:
df_regions = df.loc[ls_regions + ['World']]   \
               .sort_values(by='total', ascending=False)

In [42]:
table_code_regions = create_table_for_regions(df_regions, col_middle=COL_MIDDLE)
output_table_code(table_code_regions, 'Table code WBG -2019 -z_regions -en.txt', destination='file')

Data has written to file

In [43]:
table_code_regions = create_table_for_regions(df_regions, col_middle=COL_MIDDLE, lang='ru')
output_table_code(table_code_regions, 'Table code WBG -2019 -z_regions -ru.txt', destination='file')

Data has written to file

<br />
<br />
<br />

<br />
<br />
<br />