The World Band > [Life expectancy at birth, total](https://data.worldbank.org/indicator/SP.DYN.LE00.IN)<br />
The World Band > [Life expectancy at birth, male](https://data.worldbank.org/indicator/SP.DYN.LE00.MA.IN)<br />
The World Band > [Life expectancy at birth, female](https://data.worldbank.org/indicator/SP.DYN.LE00.FE.IN)<br />
[World Development Indicators > Life expectancy at birth](https://databank.worldbank.org/reports.aspx?source=2&series=SP.DYN.LE00.IN&country=) *(databank.worldbank.org)*<br />
[OECD stat](https://stats.oecd.org/index.aspx?queryid=30114)

"[Список стран по ожидаемой продолжительности жизни](https://ru.wikipedia.org/wiki/Список_стран_по_ожидаемой_продолжительности_жизни)"<br />
"[Продолжительность жизни в субъектах Российской Федерации](https://ru.wikipedia.org/wiki/Продолжительность_жизни_в_субъектах_Российской_Федерации)"<br />
[Таблица подбора цветов](http://mal-bioit.ru/survey-web-colors)<br />
[Список государств и зависимых территорий по населению](https://ru.wikipedia.org/wiki/Список_государств_и_зависимых_территорий_по_населению)

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import math
import re

In [2]:
pd.options.display.max_rows = 300

DESTINATION_OUTPUT = ''  # to where table code should be placed: 'file', 'here' or just print 'Done'

In [3]:
def output_table_code(st, file_name='', destination=''):
    if not destination:
        destination = DESTINATION_OUTPUT
        
    if destination == 'file':
        with open('output/'+file_name, 'w', encoding="utf-8") as fh:
            fh.write(st)
        print('Data has written to file')
    elif destination == 'here':
        print(st)
    else:
        print('done')

In [4]:
# create code for placing info in Wikipedia
def create_table(df, lang='en'):

    def if_value(x, prec=2):
        return '—' if math.isnan(x) else \
               f"{x:0.{prec}f}"  if x>=0 else \
               f"−{-x:0.{prec}f}"

    def chval(x, prec=2):  # change_value
        return 'style="background:#fffae0;"|—' if math.isnan(x) else \
               f'style="background:#fffae0;color:darkgreen;"| {x:0.{prec}f}' if x>0 else \
               f'style="background:#fffae0;color:crimson;"| −{-x:0.{prec}f}' if x<0 else \
               f'style="background:#fffae0;color:darkgray;"| −{x:0.{prec}f}'  # normal sorting is required '−' before 0.0 - bug in wiki
    
    def chval_bold(x, prec=2):  # change_value
        return '—' if math.isnan(x) else \
               f'style="background:#fffae0;color:darkgreen;"| \'\'\'{x:0.{prec}f}\'\'\'' if x>0 else \
               f'style="background:#fffae0;color:crimson;"| \'\'\'−{-x:0.{prec}f}\'\'\'' if x<0 else \
               f'style="background:#fffae0;color:darkgray;"| \'\'\'{x:0.{prec}f}\'\'\''

    if lang=='ru':
        file_header='wbg_stats_header_2021_ru.txt'
        ptn_1 = 'флагификация'
        ptn_2 = 'флаг'
        prettify_name = {
            'European Union': '[[Европейский союз]]',
            'Central Europe and the Baltics': '[[Центральная Европа]] и [[Прибалтика]]',
            'Europe & Central Asia': '[[Европа]] и [[Центральная Азия]]',
            'South Asia': '[[Южная Азия]]',
            'East Asia & Pacific': '[[Восточная Азия]] и [[Австралия и Океания|Океания]]',
            'Middle East & North Africa': '[[Страны MENA|Ближний Восток и Северная Африка]]',
            'Africa Eastern and Southern': '[[Восточная Африка|Восточная]] и [[Южная Африка|Южная]] Африка',
            'Sub-Saharan Africa': '[[Чёрная Африка|Африка к югу от Сахары]]',
            'Africa Western and Central': '[[Западная Африка|Западная]] и [[Центральная Африка|Центральная]] Африка',
            'North America': '[[Северная Америка]]',
            'Latin America & Caribbean': '[[Латинская Америка]] и [[Антильские острова|Карибы]]',
            'Arab World': 'Арабский мир',
            'World': 'Мир',
            'Caribbean small states': '[[Список стран Карибского бассейна|Малые страны Карибского бассейна]]',
            'Pacific island small states': 'Малые страны Тихого океана',
            'Small states': 'Малые страны',
            'Other small states': 'Другие малые страны'
        }
    else:
        file_header='wbg_stats_header_2021_en.txt'
        ptn_1 = 'flaglist'
        ptn_2 = 'flagicon'
        prettify_name = {
            'European Union': '[[European Union]]',
            'Central Europe and the Baltics': '[[Central Europe]] & the [[Baltic states|Baltics]]',
            'Europe & Central Asia': '[[Europe]] & [[Central Asia]]',
            'South Asia': '[[South Asia]]',
            'East Asia & Pacific': '[[Asia-Pacific|East Asia & Pacific]]',
            'Middle East & North Africa': '[[MENA|Middle East & North Africa]]',
            'Africa Eastern and Southern': 'Africa [[East Africa|Eastern]] & [[Southern Africa|Southern]]',
            'Sub-Saharan Africa': '[[Sub-Saharan Africa]]',
            'Africa Western and Central': 'Africa [[West Africa|Western]] & [[Central Africa|Central]]',
            'North America': '[[North America]]',
            'Latin America & Caribbean': '[[Latin America and the Caribbean|Latin America & Caribbean]]'
        }
        
    with open('design/' + file_header, mode='r', encoding="utf-8") as fh:
        st_header = fh.read()
        
    st_header = st_header.strip()
    st = ''
        
    for i in range(len(df)):
        ser = df.iloc[i]
        if ser.name in ['World',
                        'European Union', 'Central Europe and the Baltics',
                        'Europe & Central Asia',
                        'South Asia',
                        'East Asia & Pacific',
                        'Middle East & North Africa',
                        'Africa Eastern and Southern', 'Sub-Saharan Africa', 'Africa Western and Central',
                        'North America', 'Latin America & Caribbean']:
            pass
            st += '\n' + '|-class=static-row-header\n' + \
                  f'|align=center| \'\'\'{prettify_name.get(ser.name, ser.name)}\'\'\' ' + \
                  f'||style="text-align:center; background:#e0ffd8;"| \'\'\'{if_value(ser.total, 2)}\'\'\' ' + \
                  f'||style="text-align:center; background:#eaf3ff;"| \'\'\'{if_value(ser.male, 2)}\'\'\' ' + \
                  f'||style="text-align:center; background:#fee7f6;"| \'\'\'{if_value(ser.female, 2)}\'\'\' ' + \
                  f'||style="text-align:center; background:#fff8dc;"| \'\'\'{if_value(ser.gender_gap, 2)}\'\'\' ' + \
                  f'||style="text-align:center; border-left-width:2px; padding-left:1em;"| \'\'\'{if_value(ser["2014_t"], 2)}\'\'\' ' + \
                  f'||{chval_bold(ser["2014→2019"], 2)} ' + \
                  f'||style="text-align:center;"| \'\'\'{if_value(ser["2019_t"], 2)}\'\'\' ' + \
                  f'||{chval_bold(ser["2019→2020"], 2)} ' + \
                  f'||style="text-align:center;"| \'\'\'{if_value(ser["2020_t"], 2)}\'\'\' ' + \
                  f'||{chval_bold(ser["2020→2021"], 2)} ' + \
                  f'||style="text-align:center; background:#e0ffd8;"| \'\'\'{if_value(ser.total, 2)}\'\'\' ' + \
                  f'||{chval_bold(ser["2014→2021"], 2)}'
        elif ser.name in ['Caribbean small states',
                          'Pacific island small states',
                          'Small states',
                          'Other small states']:
            st += '\n' + '|-\n' + \
                  f'|style="text-align:left; padding-left: 35px;"|{prettify_name.get(ser.name, ser.name)} ' + \
                  f'||style="text-align:center; background:#e0ffd8;"| {if_value(ser.total, 2)} ' + \
                  f'||style="text-align:center; background:#eaf3ff;"| {if_value(ser.male, 2)} ' + \
                  f'||style="text-align:center; background:#fee7f6;"| {if_value(ser.female, 2)} ' + \
                  f'||style="text-align:center; background:#fff8dc;"| {if_value(ser.gender_gap, 2)} ' + \
                  f'||style="text-align:center; border-left-width:2px; padding-left:1em;"| {if_value(ser["2014_t"], 2)} ' + \
                  f'||{chval(ser["2014→2019"], 2)} ' + \
                  f'||style="text-align:center;"| {if_value(ser["2019_t"], 2)} ' + \
                  f'||{chval(ser["2019→2020"], 2)} ' + \
                  f'||style="text-align:center;"| {if_value(ser["2020_t"], 2)} ' + \
                  f'||{chval(ser["2020→2021"], 2)} ' + \
                  f'||style="text-align:center; background:#e0ffd8;"| {if_value(ser.total, 2)} ' + \
                  f'||{chval(ser["2014→2021"], 2)}'
        else:
            st += '\n' + '|-\n' + \
                  f'|align=left|{{{{{ptn_1}|{ser.name}}}}} ' + \
                  f'||style="text-align:center; background:#e0ffd8;"| {if_value(ser.total, 2)} ' + \
                  f'||style="text-align:center; background:#eaf3ff;"| {if_value(ser.male, 2)} ' + \
                  f'||style="text-align:center; background:#fee7f6;"| {if_value(ser.female, 2)} ' + \
                  f'||style="text-align:center; background:#fff8dc;"| {if_value(ser.gender_gap, 2)} ' + \
                  f'||style="text-align:center; border-left-width:2px; padding-left:1em;"| {if_value(ser["2014_t"], 2)} ' + \
                  f'||{chval(ser["2014→2019"], 2)} ' + \
                  f'||style="text-align:center;"| {if_value(ser["2019_t"], 2)} ' + \
                  f'||{chval(ser["2019→2020"], 2)} ' + \
                  f'||style="text-align:center;"| {if_value(ser["2020_t"], 2)} ' + \
                  f'||{chval(ser["2020→2021"], 2)} ' + \
                  f'||style="text-align:center; background:#e0ffd8;"| {if_value(ser.total, 2)} ' + \
                  f'||{chval(ser["2014→2021"], 2)}'
    st += '\n|}'
    
    # WARNING: be sure that inline styles do not contains numbers with comma
    if lang == 'ru':
        st = re.sub('(?<=\d)\.(?=\d)', ',', st)  # replace . to comma, if this . is between two digits
        
    st = st_header + st
    
    return st

In [5]:
def extract_data_for_year(df, year='2019'):
    ls_dropping = [
        'Hong Kong SAR, China',     # administrative region of China, population 7,291,000
        'Macao SAR, China',         # administrative region of China, population 682,000
        'Kosovo',                   # partially recognised state, population 1,806,000
        # 'West Bank and Gaza',        # Palestine, partially recognised state, population 5,227,000
        # 'New Caledonia',             # French Overseas Territory in Oceania, population 271,000
        # 'Channel Islands',           # archipelago in Europe, consisting of two Crown Dependencies, population 172,000
        # 'Curacao',                   #  constituent country of the Netherlands in S.America, population 149,000, little info about LE
        # 'Virgin Islands (U.S.)',     # unincorporated and organized territory of USA, population 87,000
        # 'Isle of Man',               # self-governing Crown Dependency, Europe, population 84,000
        # 'Dominica',                  # micro-state in N.America, population 72,400
        # 'Marshall Islands',          # micro-state in Oceania, population 62,000
        # 'Faroe Islands',             # autonomous territory of Denmark in Europe, population 54,000
        # 'St. Kitts and Nevis',       # micro-state in N.America, population 47,600
        # 'Turks and Caicos Islands',  # British Overseas Territory in N.America, population 44,000
        # 'Sint Maarten (Dutch part)', # constituent country of the Netherlands in N.America, population 41,500
        # 'Gibraltar',                 # British Overseas Territory in Europe, population 34,000
        # 'St. Martin (French part)',  # French Overseas Territory in N.America, population 32,500
        # 'British Virgin Islands',    # British Overseas Territory in N.America, population 30,000
        # 'Palau',           #  mini-state in Oceania, population 22,000, little info about LE
        # 'Tuvalu',                    # island micro-state in Oceania, population 12,000
        # 'Nauru'                      # micro-state in Oceania, population 11,000
        'Euro area',
        'IBRD only',
        'IDA & IBRD total',
        'IDA total',
        'IDA blend',
        'IDA only',
        'OECD members',
        'Small states',
        'Other small states',
        'Europe & Central Asia (excluding high income)',
        'East Asia & Pacific (excluding high income)',
        'Latin America & Caribbean (excluding high income)',
        'Middle East & North Africa (excluding high income)',
        'Sub-Saharan Africa (excluding high income)',
        'East Asia & Pacific (IDA & IBRD countries)',
        'Europe & Central Asia (IDA & IBRD countries)',
        'Middle East & North Africa (IDA & IBRD countries)',
        'Sub-Saharan Africa (IDA & IBRD countries)',           
        'Latin America & the Caribbean (IDA & IBRD countries)',
        'South Asia (IDA & IBRD)',
        'Heavily indebted poor countries (HIPC)',
        'Fragile and conflict affected situations',
        'Least developed countries: UN classification',
        'Early-demographic dividend',
        'Late-demographic dividend',
        'Pre-demographic dividend',
        'Post-demographic dividend',
        'Low income',
        'Lower middle income',
        'Low & middle income',
        'Middle income',
        'Upper middle income',
        'High income'
    ]
    
    ser = df.drop(ls_dropping) \
            [str(year)] \
            .dropna() \
            .rename(index = {'United States':'USA',
                             'Russian Federation': 'Russia',
                             'Korea, Rep.': 'South Korea',
                             'Egypt, Arab Rep.': 'Egypt',
                             'Congo, Dem. Rep.': 'DR Congo',   #'Congo, Democratic Republic of',
                             'Congo, Rep.': 'Congo, Rep.', #'Republic of the Congo', #'Congo Republic',  #'Congo, Republic of',
                             'Yemen, Rep.': 'Yemen',
                             'Micronesia, Fed. Sts.': 'Micronesia',
                             'Gambia, The': 'Gambia',
                             'Iran, Islamic Rep.': 'Iran',
                             "Korea, Dem. People's Rep.": 'North Korea',
                             'Syrian Arab Republic': 'Syria',
                             'Venezuela, RB': 'Venezuela',
                             'Kyrgyz Republic': 'Kyrgyzstan',
                             'Lao PDR': 'Laos',
                             'Czech Republic': 'Czechia',
                             'Slovak Republic': 'Slovakia',
                             'Bahamas, The': 'Bahamas',
                             'Brunei Darussalam': 'Brunei',
                             'Turkiye': 'Turkey',
                             'West Bank and Gaza': 'Palestine',
                             'Sint Maarten (Dutch part)': 'Sint Maarten',
                             'St. Martin (French part)': 'Collectivity of Saint Martin'
                            })
    
    return ser

In [6]:
df = pd.read_csv('data/World_Bank_Group-total.csv', skiprows=4, index_col=0)

ser_2021_total = extract_data_for_year(df, 2021)
ser_2021_total.name = '2021_total'

ser_2020_total = extract_data_for_year(df, 2020)
ser_2020_total.name = '2020_total'

ser_2019_total = extract_data_for_year(df, 2019)
ser_2019_total.name = '2019_total'

ser_2014_total = extract_data_for_year(df, 2014)
ser_2014_total.name = '2014_total'

ser_2000_total = extract_data_for_year(df, 2000)
ser_2000_total.name = '2000_total'

del df

print(f"2021-total: {len(ser_2021_total)} records")
print(f"2020-total: {len(ser_2020_total)} records")
print(f"2019-total: {len(ser_2019_total)} records")
print(f"2014-total: {len(ser_2014_total)} records")
print(f"2000-total: {len(ser_2000_total)} records")

2021-total: 221 records
2020-total: 221 records
2019-total: 221 records
2014-total: 222 records
2000-total: 223 records

In [7]:
df = pd.read_csv('data/World_Bank_Group-male.csv', skiprows=4, index_col=0)

ser_2021_male = extract_data_for_year(df, 2021)
ser_2021_male.name = '2021_male'

del df

print(f"2021-male: {len(ser_2021_male)} records")

2021-male: 221 records

In [8]:
df = pd.read_csv('data/World_Bank_Group-female.csv', skiprows=4, index_col=0)

ser_2021_female = extract_data_for_year(df, 2021)
ser_2021_female.name = '2021_female'

del df

print(f"2021-female: {len(ser_2021_female)} records")

2021-female: 221 records

In [9]:
# concate series, removing records without data for last years
df = pd.concat([ser_2021_total, ser_2021_male, ser_2021_female, ser_2020_total, ser_2019_total], axis='columns', join='outer')  \
       .join([ser_2014_total, ser_2000_total], how='left')

df.index.name = ''

# change order of columls and rename them
df = df[['2021_total', '2021_male', '2021_female', '2000_total', '2014_total', '2019_total', '2020_total']]
df.rename(columns={'2021_total': 'total',
                   '2021_male': 'male',
                   '2021_female': 'female',
                   '2000_total': '2000_t',
                   '2014_total': '2014_t',
                   '2019_total': '2019_t',
                   '2020_total': '2020_t'}, inplace=True)

print(df.shape)
df.loc[['World', 'Russia']]

(221, 7)

,total,male,female,2000_t,2014_t,2019_t,2020_t
,,,,,,,
World,71.327718,68.886746,73.948295,67.700402,71.881296,72.979716,72.24385
Russia,69.361220,64.210000,74.770000,65.483659,70.743659,73.083902,71.33878

In [10]:
# calculate difference between some columns and insert result as new columns in dataframe
df.insert(loc=3, column='gender_gap', value=df['female']-df['male'])
df.insert(loc=5, column='2000→2014', value=df['2014_t']-df['2000_t'])
df.insert(loc=7, column='2014→2019', value=df['2019_t']-df['2014_t'])
df.insert(loc=9, column='2019→2020', value=df['2020_t']-df['2019_t'])
df.insert(loc=11, column='2020→2021', value=df['total']-df['2020_t'])
df.insert(loc=12, column='2014→2021', value=df['total']-df['2014_t'])

# sort DataFrame by total life expectancy
df.sort_values(by=['total', 'male', 'female'], ascending=False, inplace=True)

print(df.shape)
df.loc[['World', 'Russia']]

(221, 13)

,total,male,female,gender_gap,2000_t,2000→2014,2014_t,2014→2019,2019_t,2019→2020,2020_t,2020→2021,2014→2021
,,,,,,,,,,,,,
World,71.327718,68.886746,73.948295,5.061549,67.700402,4.180894,71.881296,1.098420,72.979716,-0.735866,72.24385,-0.916132,-0.553578
Russia,69.361220,64.210000,74.770000,10.560000,65.483659,5.260000,70.743659,2.340244,73.083902,-1.745122,71.33878,-1.977561,-1.382439

<br />
<br />
<br />

In [11]:
# ls_new = df.index.to_list()
# print(len(ls_new))

# ls_old = ['Japan', 'Singapore', 'South Korea', ...]

# print(len(ls_old))

In [12]:
# [country for country in ls_new if country not in ls_old]

In [13]:
# [country for country in ls_old if country not in ls_new]

<br />
<br />
<br />

In [14]:
ls_N_America = ['Antigua and Barbuda', 'Bahamas', 'Barbados', 'Belize', 'Canada', 'Costa Rica',
                'Cuba', 'Dominican Republic', 'El Salvador', 'Grenada', 'Guatemala',
                'Haiti', 'Honduras', 'Jamaica', 'Mexico', 'Nicaragua', 'Panama',
                'St. Lucia', 'St. Vincent and the Grenadines',
                'Trinidad and Tobago', 'USA',
                'World',                
                'Bermuda', 'Puerto Rico', 'Virgin Islands (U.S.)', 'British Virgin Islands', 'Turks and Caicos Islands',
                'Caribbean small states', 'Sint Maarten', 'Collectivity of Saint Martin', 'Dominica', 'St. Kitts and Nevis',
                'Aruba', 'Greenland']

df_N_America = df.loc[ls_N_America]   \
                 .sort_values(by='total', ascending=False)
df_N_America

,total,male,female,gender_gap,2000_t,2000→2014,2014_t,2014→2019,2019_t,2019→2020,2020_t,2020→2021,2014→2021
,,,,,,,,,,,,,
Canada,82.596610,80.621000,84.671000,4.050000,79.166829,2.617561,81.784390,0.444390,82.228780,-0.558293,81.670488,0.926122,0.812220
Collectivity of Saint Martin,80.379000,77.254000,83.624000,6.370000,76.663000,3.303000,79.966000,0.017000,79.983000,0.166000,80.149000,0.230000,0.413000
Puerto Rico,80.162000,75.865000,84.522000,8.657000,75.977000,2.952000,78.929000,0.134000,79.063000,-1.022000,78.041000,2.121000,1.233000
Virgin Islands (U.S.),80.068293,76.800000,83.500000,6.700000,76.619512,2.248780,78.868293,0.800000,79.668293,0.151220,79.819512,0.248780,1.200000
Bermuda,79.280000,75.817000,82.708000,6.891000,78.858000,0.660000,79.518000,1.515000,81.033000,0.103000,81.136000,-1.856000,-0.238000
Antigua and Barbuda,78.497000,75.775000,80.941000,5.166000,74.606000,3.252000,77.858000,0.833000,78.691000,0.150000,78.841000,-0.344000,0.639000
Barbados,77.571000,75.629000,79.359000,3.730000,74.089000,2.387000,76.476000,0.781000,77.257000,0.136000,77.393000,0.178000,1.095000
Costa Rica,77.023000,74.418000,79.811000,5.393000,77.586000,1.188000,78.774000,0.653000,79.427000,-0.150000,79.277000,-2.254000,-1.751000
USA,76.329268,73.500000,79.300000,5.800000,76.636585,2.204878,78.841463,-0.053659,78.787805,-1.807317,76.980488,-0.651220,-2.512195
Panama,76.223000,73.050000,79.594000,6.544000,74.001000,3.247000,77.248000,0.562000,77.810000,-1.153000,76.657000,-0.434000,-1.025000
Grenada,74.936000,72.212000,77.898000,5.686000,72.783000,2.202000,74.985000,-0.122000,74.863000,0.061000,74.924000,0.012000,-0.049000
Aruba,74.626000,71.798000,77.315000,5.517000,73.569000,2.032000,75.601000,0.647000,76.248000,-0.525000,75.723000,-1.097000,-0.975000
Turks and Caicos Islands,74.587000,71.809000,77.702000,5.893000,73.575000,3.560000,77.135000,-1.809000,75.326000,-0.325000,75.001000,-0.414000,-2.548000
British Virgin Islands,74.494000,71.749000,77.457000,5.708000,73.966000,1.646000,75.612000,0.251000,75.863000,-0.014000,75.849000,-1.355000,-1.118000
Sint Maarten,73.972000,71.538000,76.696000,5.158000,74.514000,2.259000,76.773000,-1.336000,75.437000,-0.853000,74.584000,-0.612000,-2.801000
Nicaragua,73.837000,70.836000,76.803000,5.967000,67.234000,5.578000,72.812000,1.242000,74.054000,-2.259000,71.795000,2.042000,1.025000
Cuba,73.683000,71.245000,76.359000,5.114000,76.183000,1.670000,77.853000,-0.242000,77.611000,-0.044000,77.567000,-3.884000,-4.170000
Trinidad and Tobago,72.971000,69.662000,76.403000,6.741000,69.102000,5.113000,74.215000,0.013000,74.228000,0.178000,74.406000,-1.435000,-1.244000
Dominica,72.814000,69.725000,76.301000,6.576000,72.693000,-3.259000,69.434000,4.125000,73.559000,0.090000,73.649000,-0.835000,3.380000
Dominican Republic,72.615000,69.298000,76.291000,6.993000,69.423000,3.444000,72.867000,0.710000,73.577000,-0.688000,72.889000,-0.274000,-0.252000
St. Kitts and Nevis,71.682000,68.346000,75.341000,6.995000,69.781000,1.185000,70.966000,0.606000,71.572000,0.055000,71.627000,0.055000,0.716000
Bahamas,71.598000,68.121000,75.096000,6.975000,72.041000,1.325000,73.366000,-2.161000,71.205000,1.472000,72.677000,-1.079000,-1.768000
World,71.327718,68.886746,73.948295,5.061549,67.700402,4.180894,71.881296,1.098420,72.979716,-0.735866,72.243850,-0.916132,-0.553578
Greenland,71.147561,69.650000,72.720000,3.070000,66.100732,5.884878,71.985610,0.058049,72.043659,-0.406829,71.636829,-0.489268,-0.838049
St. Lucia,71.111000,67.838000,74.717000,6.879000,70.768000,2.096000,72.864000,0.581000,73.445000,-0.029000,73.416000,-2.305000,-1.753000
Caribbean small states,70.996259,68.270578,73.840412,5.569833,69.609333,3.071544,72.680877,-0.157467,72.523410,0.055794,72.579204,-1.582945,-1.684618
El Salvador,70.748000,66.078000,75.149000,9.071000,69.865000,1.881000,71.746000,0.813000,72.559000,-1.498000,71.061000,-0.313000,-0.998000
Jamaica,70.500000,68.469000,72.543000,4.074000,70.944000,2.038000,72.982000,-1.215000,71.767000,0.102000,71.869000,-1.369000,-2.482000
Belize,70.470000,67.119000,74.332000,7.213000,68.564000,4.747000,73.311000,0.620000,73.931000,-1.077000,72.854000,-2.384000,-2.841000
Mexico,70.213000,66.056000,74.864000,8.808000,73.569000,1.228000,74.797000,-0.595000,74.202000,-4.069000,70.133000,0.080000,-4.584000
Honduras,70.123000,67.894000,72.534000,4.640000,68.662000,3.597000,72.259000,0.622000,72.881000,-1.419000,71.462000,-1.339000,-2.136000
St. Vincent and the Grenadines,69.629000,67.354000,72.396000,5.042000,71.377000,3.096000,74.473000,-1.638000,72.835000,-0.709000,72.126000,-2.497000,-4.844000
Guatemala,69.237000,66.005000,72.651000,6.646000,67.446000,4.518000,71.964000,1.165000,73.129000,-1.332000,71.797000,-2.560000,-2.727000
Haiti,63.192000,60.399000,66.119000,5.720000,58.365000,4.622000,62.987000,1.268000,64.255000,-0.203000,64.052000,-0.860000,0.205000

In [15]:
table_code_N_America = create_table(df_N_America)
output_table_code(table_code_N_America, 'Table code WBG -2021 -N_America -en.txt', destination='file')

Data has written to file

In [16]:
table_code_N_America = create_table(df_N_America, lang='ru')
output_table_code(table_code_N_America, 'Table code WBG -2021 -N_America -ru.txt', destination='file')

Data has written to file

<br />
<br />
<br />

In [17]:
ls_S_America = ['Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia', 'Ecuador',
                'Guyana', 'Paraguay', 'Peru', 'Suriname', 'Uruguay', 'Venezuela',
                'World']

df_S_America = df.loc[ls_S_America]  \
                 .sort_values(by='total', ascending=False)
df_S_America

,total,male,female,gender_gap,2000_t,2000→2014,2014_t,2014→2019,2019_t,2019→2020,2020_t,2020→2021,2014→2021
,,,,,,,,,,,,,
Chile,78.944000,76.472000,81.437000,4.965000,76.870000,2.603000,79.473000,0.85300,80.326000,-0.949000,79.37700,-0.433000,-0.529000
Uruguay,75.436000,71.654000,79.258000,7.604000,75.025000,2.341000,77.366000,0.14200,77.508000,0.922000,78.43000,-2.994000,-1.930000
Argentina,75.390000,72.182000,78.647000,6.465000,73.926000,2.829000,76.755000,0.52900,77.284000,-1.392000,75.89200,-0.502000,-1.365000
Ecuador,73.670000,70.260000,77.462000,7.202000,72.839000,3.783000,76.622000,0.67500,77.297000,-5.144000,72.15300,1.517000,-2.952000
Colombia,72.830000,69.404000,76.442000,7.038000,71.320000,4.723000,76.043000,0.70900,76.752000,-1.983000,74.76900,-1.939000,-3.213000
Brazil,72.750000,69.560000,76.009000,6.449000,69.737000,4.569000,74.306000,1.03200,75.338000,-1.329000,74.00900,-1.259000,-1.556000
Peru,72.377000,70.121000,74.746000,4.625000,70.424000,4.909000,75.333000,0.82300,76.156000,-2.491000,73.66500,-1.288000,-2.956000
World,71.327718,68.886746,73.948295,5.061549,67.700402,4.180894,71.881296,1.09842,72.979716,-0.735866,72.24385,-0.916132,-0.553578
Venezuela,70.554000,66.259000,75.207000,8.948000,72.478000,0.375000,72.853000,-0.69200,72.161000,-1.066000,71.09500,-0.541000,-2.299000
Suriname,70.274000,67.207000,73.551000,6.344000,65.508000,4.274000,69.782000,2.46000,72.242000,0.319000,72.56100,-2.287000,0.492000
Paraguay,70.262000,67.434000,73.385000,5.951000,69.750000,3.128000,72.878000,0.74300,73.621000,-0.439000,73.18200,-2.920000,-2.616000
Guyana,65.673000,62.481000,69.104000,6.623000,64.483000,3.399000,67.882000,1.24200,69.124000,-0.638000,68.48600,-2.813000,-2.209000
Bolivia,63.630000,60.879000,66.800000,5.921000,62.346000,4.817000,67.163000,0.67800,67.841000,-3.374000,64.46700,-0.837000,-3.533000

In [18]:
table_code_S_America = create_table(df_S_America)
output_table_code(table_code_S_America, 'Table code WBG -2021 -S_America -en.txt', destination='file')

Data has written to file

In [19]:
table_code_S_America = create_table(df_S_America, lang='ru')
output_table_code(table_code_S_America, 'Table code WBG -2021 -S_America -ru.txt', destination='file')

Data has written to file

<br />
<br />
<br />

In [20]:
ls_Asia = ['Afghanistan', 'Armenia', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Bhutan', 'Brunei', 'Cambodia', 'China', 'Cyprus', 'Egypt',
           'Georgia', 'India', 'Indonesia', 'Iran', 'Iraq', 'Israel', 'Japan', 'Jordan', 'Kazakhstan', 'North Korea', 'South Korea',
           'Kuwait', 'Kyrgyzstan', 'Laos', 'Lebanon', 'Malaysia', 'Maldives', 'Mongolia', 'Myanmar', 'Nepal', 'Oman', 'Pakistan',
           'Philippines', 'Qatar', 'Russia', 'Saudi Arabia', 'Singapore', 'Sri Lanka', 'Syria', 'Tajikistan', 'Thailand', 'Timor-Leste',
           'Turkey', 'Turkmenistan', 'United Arab Emirates', 'Uzbekistan', 'Vietnam', 'Yemen', 'Palestine',
           'World']  # 'Europe & Central Asia', 'South Asia', 'East Asia & Pacific', 'Middle East & North Africa'

df_Asia = df.loc[ls_Asia]   \
            .sort_values(by='total', ascending=False)
df_Asia

,total,male,female,gender_gap,2000_t,2000→2014,2014_t,2014→2019,2019_t,2019→2020,2020_t,2020→2021,2014→2021
,,,,,,,,,,,,,
Japan,84.445610,81.470000,87.570000,6.100000,81.076098,2.511707,83.587805,0.768537,84.356341,0.203659,84.560000,-0.114390,0.857805
South Korea,83.526829,80.600000,86.600000,6.000000,75.909756,5.812195,81.721951,1.504878,83.226829,0.200000,83.426829,0.100000,1.804878
Singapore,83.441463,81.100000,85.900000,4.800000,77.951220,4.543902,82.495122,1.100000,83.595122,0.870732,84.465854,-1.024390,0.946341
Israel,82.500000,80.500000,84.600000,4.100000,78.953659,3.200000,82.153659,0.651220,82.804878,-0.156098,82.648780,-0.148780,0.346341
Cyprus,81.203000,79.209000,83.204000,3.995000,76.568000,4.203000,80.771000,0.626000,81.397000,-0.006000,81.391000,-0.188000,0.432000
Maldives,79.918000,79.082000,81.019000,1.937000,70.876000,8.548000,79.424000,0.692000,80.116000,-0.241000,79.875000,0.043000,0.494000
Qatar,79.272000,78.314000,80.937000,2.623000,74.828000,4.940000,79.768000,1.222000,80.990000,-1.891000,79.099000,0.173000,-0.496000
Bahrain,78.760000,77.757000,80.018000,2.261000,75.496000,3.832000,79.328000,0.691000,80.019000,-0.845000,79.174000,-0.414000,-0.568000
Thailand,78.715000,74.518000,83.041000,8.523000,72.316000,5.099000,77.415000,1.560000,78.975000,0.299000,79.274000,-0.559000,1.300000
United Arab Emirates,78.710000,77.216000,80.937000,3.721000,74.380000,4.664000,79.044000,0.682000,79.726000,-0.780000,78.946000,-0.236000,-0.334000
Kuwait,78.673000,77.192000,81.463000,4.271000,76.722000,2.723000,79.445000,0.240000,79.685000,-2.765000,76.920000,1.753000,-0.772000
China,78.211000,75.463000,81.155000,5.692000,71.881000,4.836000,76.717000,1.251000,77.968000,0.109000,78.077000,0.134000,1.494000
Saudi Arabia,76.936000,75.590000,78.771000,3.181000,72.467000,4.290000,76.757000,0.547000,77.304000,-1.065000,76.239000,0.697000,0.179000
Sri Lanka,76.399000,73.110000,79.502000,6.392000,70.355000,4.296000,74.651000,1.357000,76.008000,0.385000,76.393000,0.006000,1.748000
Turkey,76.032000,73.040000,79.121000,6.081000,71.861000,4.704000,76.565000,1.267000,77.832000,-1.982000,75.850000,0.182000,-0.533000
Lebanon,75.047000,72.847000,77.251000,4.404000,73.931000,5.042000,78.973000,0.263000,79.236000,-1.432000,77.804000,-2.757000,-3.926000
Malaysia,74.884000,72.659000,77.362000,4.703000,72.775000,2.371000,75.146000,0.614000,75.760000,0.178000,75.938000,-1.054000,-0.262000
Brunei,74.642000,72.602000,76.881000,4.279000,74.080000,0.699000,74.779000,-0.031000,74.748000,0.047000,74.795000,-0.153000,-0.137000
Jordan,74.256000,72.128000,76.773000,4.645000,71.918000,2.871000,74.789000,1.255000,76.044000,-0.860000,75.184000,-0.928000,-0.533000
Iran,73.875000,71.246000,76.808000,5.562000,69.691000,5.091000,74.782000,1.321000,76.103000,-1.271000,74.832000,-0.957000,-0.907000
Vietnam,73.618000,69.117000,78.235000,9.118000,72.462000,1.393000,73.855000,0.238000,74.093000,1.285000,75.378000,-1.760000,-0.237000
Palestine,73.473000,71.094000,75.939000,4.845000,70.388000,2.234000,72.622000,2.619000,75.241000,-0.838000,74.403000,-0.930000,0.851000
North Korea,73.284000,70.831000,75.743000,4.912000,60.763000,12.179000,72.942000,0.256000,73.198000,0.076000,73.274000,0.010000,0.342000
Oman,72.541000,70.984000,74.716000,3.732000,73.466000,3.980000,77.446000,0.556000,78.002000,-3.245000,74.757000,-2.216000,-4.905000
Bangladesh,72.381000,70.599000,74.267000,3.668000,65.779000,4.207000,69.986000,2.820000,72.806000,-0.838000,71.968000,0.413000,2.395000
Syria,72.063000,69.058000,75.175000,6.117000,70.764000,-7.611000,63.153000,8.669000,71.822000,0.318000,72.140000,-0.077000,8.910000
Armenia,72.043000,66.554000,77.350000,10.796000,70.624000,3.434000,74.058000,1.381000,75.439000,-3.266000,72.173000,-0.130000,-2.015000
Kyrgyzstan,71.900000,67.900000,76.100000,8.200000,68.558537,1.843902,70.402439,1.197561,71.600000,0.200000,71.800000,0.100000,1.497561
Bhutan,71.815000,70.141000,73.773000,3.632000,62.010000,8.039000,70.049000,1.342000,71.391000,0.218000,71.609000,0.206000,1.766000
Georgia,71.694000,66.803000,76.681000,9.878000,69.575000,3.524000,73.099000,0.371000,73.470000,-0.705000,72.765000,-1.071000,-1.405000
Tajikistan,71.594000,69.568000,73.734000,4.166000,63.260000,5.809000,69.069000,1.798000,70.867000,-2.873000,67.994000,3.600000,2.525000
World,71.327718,68.886746,73.948295,5.061549,67.700402,4.180894,71.881296,1.098420,72.979716,-0.735866,72.243850,-0.916132,-0.553578
Mongolia,70.975000,66.537000,75.696000,9.159000,62.882000,6.165000,69.047000,2.775000,71.822000,0.319000,72.141000,-1.166000,1.928000
Uzbekistan,70.862000,68.334000,73.390000,5.056000,65.724000,4.510000,70.234000,1.110000,71.344000,-1.013000,70.331000,0.531000,0.628000
Iraq,70.378000,68.200000,72.422000,4.222000,66.817000,2.097000,68.914000,2.662000,71.576000,-2.453000,69.123000,1.255000,1.464000
Kazakhstan,70.230000,66.330000,74.030000,7.700000,65.450000,5.990000,71.440000,1.740000,73.180000,-1.810000,71.370000,-1.140000,-1.210000
Egypt,70.221000,67.935000,72.608000,4.673000,68.007000,2.408000,70.415000,0.943000,71.358000,-0.368000,70.990000,-0.769000,-0.194000
Cambodia,69.584000,66.819000,72.291000,5.472000,58.625000,11.111000,69.736000,0.956000,70.692000,-0.276000,70.416000,-0.832000,-0.152000
Azerbaijan,69.366000,65.646000,73.287000,7.641000,64.891000,6.225000,71.116000,1.986000,73.102000,-6.234000,66.868000,2.498000,-1.750000
Russia,69.361220,64.210000,74.770000,10.560000,65.483659,5.260000,70.743659,2.340244,73.083902,-1.745122,71.338780,-1.977561,-1.382439
Philippines,69.266000,67.172000,71.482000,4.310000,69.413000,1.738000,71.151000,0.714000,71.865000,0.254000,72.119000,-2.853000,-1.885000
Turkmenistan,69.264000,65.865000,72.663000,6.798000,65.026000,3.588000,68.614000,0.388000,69.002000,-0.315000,68.687000,0.577000,0.650000
Nepal,68.450000,66.574000,70.362000,3.788000,62.614000,5.471000,68.085000,1.473000,69.558000,-0.312000,69.246000,-0.796000,0.365000
Laos,68.061000,66.154000,70.078000,3.924000,58.378000,7.983000,66.361000,1.777000,68.138000,0.359000,68.497000,-0.436000,1.700000
Timor-Leste,67.737000,66.100000,69.544000,3.444000,58.568000,8.219000,66.787000,1.481000,68.268000,0.207000,68.475000,-0.738000,0.950000
Indonesia,67.570000,65.533000,69.744000,4.211000,66.433000,3.100000,69.533000,0.985000,70.518000,-1.710000,68.808000,-1.238000,-1.963000
India,67.240000,65.756000,68.886000,3.130000,62.669000,6.405000,69.074000,1.836000,70.910000,-0.760000,70.150000,-2.910000,-1.834000
Pakistan,66.098000,63.787000,68.623000,4.836000,62.102000,3.182000,65.284000,1.472000,66.756000,-0.487000,66.269000,-0.171000,0.814000
Myanmar,65.672000,62.546000,69.001000,6.455000,60.155000,4.901000,65.056000,1.554000,66.610000,0.187000,66.797000,-1.125000,0.616000
Yemen,63.753000,60.629000,67.134000,6.505000,62.588000,4.796000,67.384000,-2.292000,65.092000,-0.442000,64.650000,-0.897000,-3.631000
Afghanistan,61.982000,58.915000,65.279000,6.364000,55.298000,7.247000,62.545000,1.020000,63.565000,-0.990000,62.575000,-0.593000,-0.563000

In [21]:
table_code_Asia = create_table(df_Asia)
output_table_code(table_code_Asia, 'Table code WBG -2021 -Asia -en.txt', destination='file')

Data has written to file

In [22]:
table_code_Asia = create_table(df_Asia, lang='ru')
output_table_code(table_code_Asia, 'Table code WBG -2021 -Asia -ru.txt', destination='file')

Data has written to file

<br />
<br />
<br />

In [23]:
ls_Europe = ['Albania', 'Armenia', 'Austria', 'Azerbaijan', 'Belarus', 'Belgium', 'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Cyprus',
             'Czechia', 'Denmark', 'Estonia', 'Finland', 'France', 'Georgia', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy',
             'Kazakhstan', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Moldova', 'Montenegro', 'Netherlands', 'North Macedonia', 'Norway',
             'Poland', 'Portugal', 'Romania', 'Russia', 'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland',
             'Turkey', 'Ukraine', 'United Kingdom', 'Liechtenstein',
             'World', 'European Union',
             'Channel Islands', 'Faroe Islands', 'Gibraltar', 'Isle of Man']  # 'Central Europe and the Baltics', 'Europe & Central Asia']
# small countries: Andorra, Liechtenstein, Monaco, San Marino, Vatican City

df_Europe = df.loc[ls_Europe]   \
              .sort_values(by='total', ascending=False)
df_Europe

,total,male,female,gender_gap,2000_t,2000→2014,2014_t,2014→2019,2019_t,2019→2020,2020_t,2020→2021,2014→2021
,,,,,,,,,,,,,
Liechtenstein,84.402439,82.500000,86.400000,3.900000,76.826829,5.246341,82.073171,2.087805,84.160976,-2.502439,81.658537,2.743902,2.329268
Switzerland,83.851220,81.900000,85.900000,4.000000,79.680488,3.517073,83.197561,0.707317,83.904878,-0.904878,83.000000,0.851220,0.653659
Faroe Islands,83.497561,81.400000,85.700000,4.300000,78.436585,3.156098,81.592683,1.353659,82.946341,0.251220,83.197561,0.300000,1.904878
Spain,83.178049,80.300000,86.200000,5.900000,78.965854,4.263415,83.229268,0.602439,83.831707,-1.500000,82.331707,0.846341,-0.051220
Norway,83.163415,81.700000,84.700000,3.000000,78.634146,3.465854,82.100000,0.858537,82.958537,0.251220,83.209756,-0.046341,1.063415
Sweden,83.156098,81.400000,85.000000,3.600000,79.643902,2.609756,82.253659,0.856098,83.109756,-0.753659,82.356098,0.800000,0.902439
Iceland,83.117073,81.800000,84.500000,2.700000,79.653659,3.207317,82.860976,0.302439,83.163415,-0.100000,83.063415,0.053659,0.256098
Malta,82.860976,81.300000,84.500000,3.200000,78.348780,3.697561,82.046341,0.812195,82.858537,-0.509756,82.348780,0.512195,0.814634
Italy,82.795122,80.600000,85.100000,4.500000,79.778049,3.312195,83.090244,0.407317,83.497561,-1.302439,82.195122,0.600000,-0.295122
Luxembourg,82.748780,80.700000,84.900000,4.200000,77.873171,4.356098,82.229268,0.409756,82.639024,-0.495122,82.143902,0.604878,0.519512
France,82.324390,79.300000,85.500000,6.200000,79.056098,3.663415,82.719512,0.107317,82.826829,-0.651220,82.175610,0.148780,-0.395122
Ireland,82.102439,80.200000,84.100000,3.900000,76.536585,4.812195,81.348780,1.353659,82.702439,-0.146341,82.556098,-0.453659,0.753659
Finland,81.934146,79.300000,84.700000,5.400000,77.465854,3.714634,81.180488,0.802439,81.982927,-0.051220,81.931707,0.002439,0.753659
Belgium,81.890244,79.500000,84.400000,4.900000,77.721951,3.565854,81.287805,0.707317,81.995122,-1.300000,80.695122,1.195122,0.602439
Netherlands,81.460976,79.900000,83.100000,3.200000,77.987805,3.719512,81.707317,0.404878,82.112195,-0.753659,81.358537,0.102439,-0.246341
Denmark,81.404878,79.600000,83.300000,3.700000,76.592683,4.107317,80.700000,0.751220,81.451220,0.151220,81.602439,-0.197561,0.704878
Austria,81.239024,78.800000,83.800000,5.000000,78.126829,3.363415,81.490244,0.404878,81.895122,-0.702439,81.192683,0.046341,-0.251220
Channel Islands,81.232000,79.115000,83.355000,4.240000,79.155000,2.729000,81.884000,-0.494000,81.390000,-0.126000,81.264000,-0.032000,-0.652000
Cyprus,81.203000,79.209000,83.204000,3.995000,76.568000,4.203000,80.771000,0.626000,81.397000,-0.006000,81.391000,-0.188000,0.432000
Portugal,81.073171,78.000000,84.300000,6.300000,76.314634,4.807317,81.121951,0.553659,81.675610,-0.700000,80.975610,0.097561,-0.048780
Germany,80.900976,78.540000,83.380000,4.840000,77.926829,3.163415,81.090244,0.202439,81.292683,-0.251220,81.041463,-0.140488,-0.189268
Slovenia,80.875610,77.900000,84.000000,6.100000,75.412195,5.665854,81.078049,0.451220,81.529268,-0.997561,80.531707,0.343902,-0.202439
United Kingdom,80.700000,78.700000,82.800000,4.100000,77.741463,3.563415,81.304878,0.100000,81.404878,-1.053659,80.351220,0.348780,-0.604878
Isle of Man,80.525000,78.564000,82.531000,3.967000,74.725000,5.312000,80.037000,0.700000,80.737000,-0.149000,80.588000,-0.063000,0.488000
European Union,80.387131,77.658520,83.265708,5.607188,77.075317,3.796666,80.871982,0.442876,81.314858,-0.862765,80.452093,-0.064962,-0.484852
Greece,80.182927,77.500000,83.000000,5.500000,77.887805,3.497561,81.385366,0.253659,81.639024,-0.351220,81.287805,-1.104878,-1.202439
Gibraltar,79.329000,77.108000,81.701000,4.593000,81.370000,0.512000,81.882000,0.481000,82.363000,-0.165000,82.198000,-2.869000,-2.553000
Czechia,77.373171,74.300000,80.600000,6.300000,74.968293,3.856098,78.824390,0.404878,79.229268,-1.002439,78.226829,-0.853659,-1.451220
Estonia,76.741463,72.400000,81.300000,8.900000,70.417073,6.617073,77.034146,1.612195,78.646341,-0.051220,78.595122,-1.853659,-0.292683
Albania,76.463000,74.087000,79.173000,5.086000,75.404000,3.003000,78.407000,0.875000,79.282000,-2.293000,76.989000,-0.526000,-1.944000
Croatia,76.424390,73.400000,79.600000,6.200000,72.807805,4.670244,77.478049,0.946341,78.424390,-0.700000,77.724390,-1.300000,-1.053659
Turkey,76.032000,73.040000,79.121000,6.081000,71.861000,4.704000,76.565000,1.267000,77.832000,-1.982000,75.850000,0.182000,-0.533000
Poland,75.602439,71.700000,79.700000,8.000000,73.748780,3.853659,77.602439,0.302439,77.904878,-1.404878,76.500000,-0.897561,-2.000000
Bosnia and Herzegovina,75.300000,73.108000,77.530000,4.422000,74.496000,1.163000,75.659000,1.582000,77.241000,-1.016000,76.225000,-0.925000,-0.359000
Slovakia,74.714634,71.300000,78.300000,7.000000,73.051220,3.760976,76.812195,0.853659,77.665854,-0.800000,76.865854,-2.151220,-2.097561
North Macedonia,74.536829,72.410000,76.770000,4.360000,72.946341,2.504878,75.451220,1.151220,76.602439,-2.207317,74.395122,0.141707,-0.914390
Hungary,74.465854,71.100000,78.000000,6.900000,71.246341,4.517073,75.763415,0.556098,76.319512,-0.751220,75.568293,-1.102439,-1.297561
Lithuania,74.339024,69.900000,79.000000,9.100000,72.019512,2.497561,74.517073,1.765854,76.282927,-1.304878,74.978049,-0.639024,-0.178049
Montenegro,73.824390,70.800000,77.000000,6.200000,73.818488,2.622976,76.441463,0.241463,76.682927,-0.751220,75.931707,-2.107317,-2.617073
Latvia,73.282927,68.600000,78.200000,9.600000,70.314634,3.809756,74.124390,1.263415,75.387805,-0.202439,75.185366,-1.902439,-0.841463
Romania,72.960976,69.400000,76.700000,7.300000,71.163415,3.746341,74.909756,0.697561,75.607317,-1.353659,74.253659,-1.292683,-1.948780
Serbia,72.730732,69.960000,75.640000,5.680000,71.582927,3.753659,75.336585,0.600000,75.936585,-1.458537,74.478049,-1.747317,-2.605854
Belarus,72.370683,67.298000,77.697000,10.399000,68.912195,4.058537,72.970732,1.256098,74.226829,-1.769610,72.457220,-0.086537,-0.600049
Armenia,72.043000,66.554000,77.350000,10.796000,70.624000,3.434000,74.058000,1.381000,75.439000,-3.266000,72.173000,-0.130000,-2.015000
Georgia,71.694000,66.803000,76.681000,9.878000,69.575000,3.524000,73.099000,0.371000,73.470000,-0.705000,72.765000,-1.071000,-1.405000
Bulgaria,71.514634,68.100000,75.100000,7.000000,71.663415,2.802439,74.465854,0.646341,75.112195,-1.453659,73.658537,-2.143902,-2.951220
World,71.327718,68.886746,73.948295,5.061549,67.700402,4.180894,71.881296,1.098420,72.979716,-0.735866,72.243850,-0.916132,-0.553578
Kazakhstan,70.230000,66.330000,74.030000,7.700000,65.450000,5.990000,71.440000,1.740000,73.180000,-1.810000,71.370000,-1.140000,-1.210000
Ukraine,69.647805,65.160000,74.360000,9.200000,67.675610,3.510976,71.186585,0.640732,71.827317,-0.642195,71.185122,-1.537317,-1.538780
Azerbaijan,69.366000,65.646000,73.287000,7.641000,64.891000,6.225000,71.116000,1.986000,73.102000,-6.234000,66.868000,2.498000,-1.750000
Russia,69.361220,64.210000,74.770000,10.560000,65.483659,5.260000,70.743659,2.340244,73.083902,-1.745122,71.338780,-1.977561,-1.382439
Moldova,68.846000,64.443000,73.547000,9.104000,66.417000,2.614000,69.031000,1.904000,70.935000,-0.769000,70.166000,-1.320000,-0.185000

In [24]:
table_code_Europe = create_table(df_Europe)
output_table_code(table_code_Europe, 'Table code WBG -2021 -Europe -en.txt', destination='file')

Data has written to file

In [25]:
table_code_Europe = create_table(df_Europe, lang='ru')
output_table_code(table_code_Europe, 'Table code WBG -2021 -Europe -ru.txt', destination='file')

Data has written to file

<br />
<br />
<br />

In [26]:
ls_Africa = ['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cameroon', 'Cabo Verde',
             "Cote d'Ivoire", 'Central African Republic', 'Chad', 'Comoros', 'DR Congo',
             'Congo, Rep.', 'Djibouti', 'Egypt', 'Equatorial Guinea', 'Eritrea', 'Eswatini',
             'Ethiopia', 'Gabon', 'Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Kenya',
             'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius',
             'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda', 'Sao Tome and Principe',
             'Senegal', 'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa', 'South Sudan', 'Sudan',
             'Tanzania', 'Togo', 'Tunisia', 'Uganda', 'Zambia', 'Zimbabwe',
             'World']  # 'Middle East & North Africa', 'Africa Eastern and Southern', 'Sub-Saharan Africa', 'Africa Western and Central'

df_Africa = df.loc[ls_Africa]   \
              .sort_values(by='total', ascending=False)
df_Africa

,total,male,female,gender_gap,2000_t,2000→2014,2014_t,2014→2019,2019_t,2019→2020,2020_t,2020→2021,2014→2021
,,,,,,,,,,,,,
Algeria,76.377000,74.879000,77.959000,3.080000,70.478000,4.632000,75.110000,1.364000,76.474000,-2.021000,74.453000,1.924000,1.267000
Cabo Verde,74.052000,69.589000,78.457000,8.868000,68.618000,6.622000,75.240000,0.764000,76.004000,-1.196000,74.808000,-0.756000,-1.188000
Morocco,74.042000,71.893000,76.398000,4.505000,66.787000,5.751000,72.538000,1.732000,74.270000,-0.350000,73.920000,0.122000,1.504000
Tunisia,73.772000,70.743000,77.145000,6.402000,73.690000,1.960000,75.650000,0.343000,75.993000,-0.701000,75.292000,-1.520000,-1.878000
Mauritius,73.680244,70.290000,77.240000,6.950000,71.663415,2.530976,74.194390,0.041463,74.235854,-0.058780,74.177073,-0.496829,-0.514146
Seychelles,73.397561,71.300000,75.600000,4.300000,72.778049,0.451220,73.229268,0.817073,74.046341,3.190244,77.236585,-3.839024,0.168293
Libya,71.911000,69.630000,74.396000,4.766000,70.680000,0.831000,71.511000,0.952000,72.463000,0.009000,72.472000,-0.561000,0.400000
World,71.327718,68.886746,73.948295,5.061549,67.700402,4.180894,71.881296,1.098420,72.979716,-0.735866,72.243850,-0.916132,-0.553578
Egypt,70.221000,67.935000,72.608000,4.673000,68.007000,2.408000,70.415000,0.943000,71.358000,-0.368000,70.990000,-0.769000,-0.194000
Sao Tome and Principe,67.591000,65.161000,70.419000,5.258000,61.655000,5.190000,66.845000,1.678000,68.523000,-0.738000,67.785000,-0.194000,0.746000
Senegal,67.093000,64.752000,69.284000,4.532000,56.943000,9.509000,66.452000,2.074000,68.526000,-0.520000,68.006000,-0.913000,0.641000
Eritrea,66.536000,64.350000,68.655000,4.305000,56.111000,9.489000,65.600000,1.700000,67.300000,-0.167000,67.133000,-0.597000,0.936000
Tanzania,66.201000,64.183000,68.311000,4.128000,52.362000,11.511000,63.873000,3.116000,66.989000,-0.581000,66.408000,-0.207000,2.328000
Rwanda,66.072000,63.798000,68.164000,4.366000,47.129000,17.811000,64.940000,1.497000,66.437000,0.337000,66.774000,-0.702000,1.132000
Gabon,65.821000,63.488000,68.494000,5.006000,61.069000,3.905000,64.974000,1.629000,66.603000,-0.072000,66.531000,-0.710000,0.847000
Sudan,65.267000,62.741000,67.879000,5.138000,58.319000,5.950000,64.269000,1.607000,65.876000,-0.262000,65.614000,-0.347000,0.998000
Ethiopia,64.975000,61.910000,68.285000,6.375000,50.538000,12.367000,62.905000,2.933000,65.838000,-0.467000,65.371000,-0.396000,2.070000
Madagascar,64.485000,62.234000,66.870000,4.636000,57.938000,6.317000,64.255000,1.627000,65.882000,-0.700000,65.182000,-0.697000,0.230000
Mauritania,64.364000,62.666000,66.098000,3.432000,61.028000,3.127000,64.155000,1.532000,65.687000,-1.155000,64.532000,-0.168000,0.209000
Ghana,63.795000,61.630000,66.014000,4.384000,58.195000,4.850000,63.045000,1.695000,64.740000,-0.626000,64.114000,-0.319000,0.750000
"Congo, Rep.",63.519000,62.124000,64.935000,2.811000,53.682000,9.268000,62.950000,-0.203000,62.747000,1.038000,63.785000,-0.266000,0.569000
Comoros,63.417000,61.245000,65.827000,4.582000,58.757000,3.759000,62.516000,1.552000,64.068000,0.098000,64.166000,-0.749000,0.901000
Malawi,62.904000,59.493000,66.469000,6.976000,44.518000,16.381000,60.899000,3.220000,64.119000,-0.402000,63.717000,-0.813000,2.005000
Uganda,62.705000,60.423000,64.920000,4.497000,48.342000,12.066000,60.408000,2.583000,62.991000,-0.140000,62.851000,-0.146000,2.297000
South Africa,62.341000,59.458000,64.999000,5.541000,58.470000,4.910000,63.380000,2.795000,66.175000,-0.923000,65.252000,-2.911000,-1.039000
Djibouti,62.305000,59.728000,65.019000,5.291000,56.573000,5.068000,61.641000,1.444000,63.085000,-0.391000,62.694000,-0.389000,0.664000
Gambia,62.083000,60.656000,63.529000,2.873000,56.942000,5.327000,62.269000,1.486000,63.755000,-1.143000,62.612000,-0.529000,-0.186000
Burundi,61.663000,59.711000,63.609000,3.898000,47.514000,12.354000,59.868000,2.483000,62.351000,-0.785000,61.566000,0.097000,1.795000
Angola,61.643000,59.029000,64.307000,5.278000,46.024000,14.016000,60.040000,2.408000,62.448000,-0.187000,62.261000,-0.618000,1.603000
Togo,61.619000,60.849000,62.391000,1.542000,54.742000,4.111000,58.853000,2.048000,60.901000,0.134000,61.035000,0.584000,2.766000
Niger,61.576000,60.407000,62.794000,2.387000,49.322000,11.464000,60.786000,2.111000,62.897000,-1.446000,61.451000,0.125000,0.790000
Kenya,61.427000,58.935000,64.090000,5.155000,54.411000,7.405000,61.816000,1.127000,62.943000,-0.268000,62.675000,-1.248000,-0.389000
Zambia,61.223000,58.487000,63.928000,5.441000,45.231000,15.468000,60.699000,2.094000,62.793000,-0.413000,62.380000,-1.157000,0.524000
Botswana,61.141000,58.691000,63.594000,4.903000,51.011000,11.597000,62.608000,2.856000,65.464000,0.183000,65.647000,-4.506000,-1.467000
Liberia,60.747000,59.411000,62.072000,2.661000,51.356000,7.765000,59.121000,1.983000,61.104000,-0.156000,60.948000,-0.201000,1.626000
Equatorial Guinea,60.594000,58.781000,62.726000,3.945000,53.226000,6.369000,59.595000,2.049000,61.644000,-0.936000,60.708000,-0.114000,0.999000
Cameroon,60.333000,58.690000,62.018000,3.328000,52.932000,6.003000,58.935000,2.649000,61.584000,-0.751000,60.833000,-0.500000,1.398000
Sierra Leone,60.062000,58.758000,61.354000,2.596000,45.050000,11.343000,56.393000,3.862000,60.255000,-0.492000,59.763000,0.299000,3.669000
Benin,59.821000,58.221000,61.445000,3.224000,56.578000,2.547000,59.125000,1.329000,60.454000,-0.366000,60.088000,-0.267000,0.696000
Guinea-Bissau,59.652000,57.392000,61.796000,4.404000,50.121000,8.489000,58.610000,2.272000,60.882000,-0.883000,59.999000,-0.347000,1.042000
Mozambique,59.325000,56.204000,62.432000,6.228000,49.491000,7.783000,57.274000,3.892000,61.166000,0.006000,61.172000,-1.847000,2.051000
Burkina Faso,59.270000,57.474000,60.990000,3.516000,50.847000,7.512000,58.359000,1.680000,60.039000,-0.308000,59.731000,-0.461000,0.911000
Namibia,59.269000,55.721000,62.985000,7.264000,51.990000,7.832000,59.822000,3.253000,63.075000,-0.246000,62.829000,-3.560000,-0.553000
Zimbabwe,59.253000,56.232000,62.045000,5.813000,44.686000,14.160000,58.846000,2.446000,61.292000,-0.168000,61.124000,-1.871000,0.407000
DR Congo,59.193000,56.953000,61.521000,4.568000,51.781000,6.515000,58.296000,1.980000,60.276000,-0.537000,59.739000,-0.546000,0.897000
Mali,58.941000,57.618000,60.331000,2.713000,50.539000,7.361000,57.900000,1.764000,59.664000,-1.031000,58.633000,0.308000,1.041000
Guinea,58.892000,57.595000,60.099000,2.504000,52.479000,5.407000,57.886000,1.834000,59.720000,-0.393000,59.327000,-0.435000,1.006000
Cote d'Ivoire,58.598000,57.400000,59.941000,2.541000,50.842000,6.366000,57.208000,2.111000,59.319000,-0.287000,59.032000,-0.434000,1.390000
Eswatini,57.066000,53.366000,61.248000,7.882000,47.256000,5.794000,53.050000,7.499000,60.549000,-0.857000,59.692000,-2.626000,4.016000
Somalia,55.280000,53.246000,57.414000,4.168000,50.660000,3.617000,54.277000,2.801000,57.078000,-1.111000,55.967000,-0.687000,1.003000
South Sudan,54.975000,53.429000,56.472000,3.043000,46.028000,8.945000,54.973000,0.939000,55.912000,-0.432000,55.480000,-0.505000,0.002000
Central African Republic,53.895000,51.645000,56.303000,4.658000,45.406000,5.160000,50.566000,4.459000,55.025000,-0.421000,54.604000,-0.709000,3.329000
Lesotho,53.062000,50.374000,55.927000,5.553000,48.427000,1.606000,50.033000,4.140000,54.173000,0.520000,54.693000,-1.631000,3.029000
Nigeria,52.676000,52.285000,53.070000,0.785000,47.193000,4.598000,51.791000,1.119000,52.910000,-0.023000,52.887000,-0.211000,0.885000
Chad,52.525000,50.845000,54.283000,3.438000,47.443000,3.759000,51.202000,2.057000,53.259000,-0.482000,52.777000,-0.252000,1.323000

In [27]:
table_code_Africa = create_table(df_Africa)
output_table_code(table_code_Africa, 'Table code WBG -2021 -Africa -en.txt', destination='file')

Data has written to file

In [28]:
table_code_Africa = create_table(df_Africa, lang='ru')
output_table_code(table_code_Africa, 'Table code WBG -2021 -Africa -ru.txt', destination='file')

Data has written to file

<br />
<br />
<br />

In [29]:
ls_Oceania = ['Australia', 'Papua New Guinea', 'New Zealand', 'Fiji', 'Solomon Islands', 'Vanuatu',
              'Samoa', 'Kiribati', 'Micronesia', 'Tonga', 'Marshall Islands', 'Nauru', 'Tuvalu',
              'French Polynesia', 'New Caledonia', 'Guam', 'Pacific island small states',
              'World']
# Database does not contain data for 'Palau', 'American Samoa', 'Northern Mariana Islands'

df_Oceania = df.loc[ls_Oceania]   \
                 .sort_values(by='total', ascending=False)
df_Oceania

,total,male,female,gender_gap,2000_t,2000→2014,2014_t,2014→2019,2019_t,2019→2020,2020_t,2020→2021,2014→2021
,,,,,,,,,,,,,
Australia,83.300000,81.300000,85.400000,4.100000,79.234146,3.065854,82.300000,0.600000,82.900000,0.300000,83.200000,0.100000,1.000000
New Zealand,82.207317,80.500000,84.000000,3.500000,78.636585,2.820244,81.456829,0.599268,82.056098,0.200000,82.256098,-0.048780,0.750488
French Polynesia,79.486000,76.975000,82.632000,5.657000,79.536000,2.678000,82.214000,0.782000,82.996000,-0.779000,82.217000,-2.731000,-2.728000
New Caledonia,79.127341,75.361000,83.082000,7.721000,75.163415,2.073171,77.236585,3.183122,80.419707,0.415244,80.834951,-1.707610,1.890756
Guam,76.656000,72.982000,80.704000,7.722000,74.417000,2.332000,76.749000,0.968000,77.717000,-1.105000,76.612000,0.044000,-0.093000
Samoa,72.767000,70.312000,75.503000,5.191000,70.746000,1.717000,72.463000,-0.306000,72.157000,0.611000,72.768000,-0.001000,0.304000
World,71.327718,68.886746,73.948295,5.061549,67.700402,4.180894,71.881296,1.098420,72.979716,-0.735866,72.243850,-0.916132,-0.553578
Tonga,70.986000,68.416000,73.719000,5.303000,68.978000,1.562000,70.540000,0.331000,70.871000,0.057000,70.928000,0.058000,0.446000
Micronesia,70.710000,67.120000,74.608000,7.488000,69.769000,1.760000,71.529000,-0.452000,71.077000,-0.403000,70.674000,0.036000,-0.819000
Vanuatu,70.449000,68.397000,72.945000,4.548000,68.966000,0.499000,69.465000,0.412000,69.877000,0.422000,70.299000,0.150000,0.984000
Solomon Islands,70.348000,68.931000,71.959000,3.028000,67.225000,2.009000,69.234000,1.148000,70.382000,-0.183000,70.199000,0.149000,1.114000
Pacific island small states,69.163594,67.306949,71.200086,3.893137,67.303949,1.338691,68.642640,0.651612,69.294251,0.070670,69.364921,-0.201327,0.520954
Kiribati,67.417000,65.504000,69.096000,3.592000,64.409000,1.406000,65.815000,1.335000,67.150000,0.116000,67.266000,0.151000,1.602000
Fiji,67.114000,65.426000,68.877000,3.451000,66.310000,1.066000,67.376000,0.517000,67.893000,0.031000,67.924000,-0.810000,-0.262000
Papua New Guinea,65.351000,62.948000,68.415000,5.467000,61.720000,2.539000,64.259000,1.215000,65.474000,0.313000,65.787000,-0.436000,1.092000
Marshall Islands,65.269000,63.692000,67.200000,3.508000,63.275000,0.348000,63.623000,1.123000,64.746000,0.231000,64.977000,0.292000,1.646000
Tuvalu,64.547000,60.816000,69.138000,8.322000,63.499000,0.526000,64.025000,0.253000,64.278000,0.104000,64.382000,0.165000,0.522000
Nauru,63.617000,60.261000,67.303000,7.042000,58.732000,3.075000,61.807000,1.677000,63.484000,-0.047000,63.437000,0.180000,1.810000

In [30]:
table_code_Oceania = create_table(df_Oceania)
output_table_code(table_code_Oceania, 'Table code WBG -2021 -Oceania -en.txt', destination='file')

Data has written to file

In [31]:
table_code_Oceania = create_table(df_Oceania, lang='ru')
output_table_code(table_code_Oceania, 'Table code WBG -2021 -Oceania -ru.txt', destination='file')

Data has written to file

<br />
<br />
<br />

In [32]:
ls_CIS = ['Armenia', 'Azerbaijan', 'Belarus', 'Kazakhstan', 'Kyrgyzstan', 'Moldova',
          'Russia', 'Tajikistan', 'Uzbekistan', 'Turkmenistan']  # 'Georgia', 'Ukraine'

df_CIS = df.loc[ls_CIS]   \
           .sort_values(by='total', ascending=False)
df_CIS

,total,male,female,gender_gap,2000_t,2000→2014,2014_t,2014→2019,2019_t,2019→2020,2020_t,2020→2021,2014→2021
,,,,,,,,,,,,,
Belarus,72.370683,67.298,77.697,10.399,68.912195,4.058537,72.970732,1.256098,74.226829,-1.769610,72.45722,-0.086537,-0.600049
Armenia,72.043000,66.554,77.350,10.796,70.624000,3.434000,74.058000,1.381000,75.439000,-3.266000,72.17300,-0.130000,-2.015000
Kyrgyzstan,71.900000,67.900,76.100,8.200,68.558537,1.843902,70.402439,1.197561,71.600000,0.200000,71.80000,0.100000,1.497561
Tajikistan,71.594000,69.568,73.734,4.166,63.260000,5.809000,69.069000,1.798000,70.867000,-2.873000,67.99400,3.600000,2.525000
Uzbekistan,70.862000,68.334,73.390,5.056,65.724000,4.510000,70.234000,1.110000,71.344000,-1.013000,70.33100,0.531000,0.628000
Kazakhstan,70.230000,66.330,74.030,7.700,65.450000,5.990000,71.440000,1.740000,73.180000,-1.810000,71.37000,-1.140000,-1.210000
Azerbaijan,69.366000,65.646,73.287,7.641,64.891000,6.225000,71.116000,1.986000,73.102000,-6.234000,66.86800,2.498000,-1.750000
Russia,69.361220,64.210,74.770,10.560,65.483659,5.260000,70.743659,2.340244,73.083902,-1.745122,71.33878,-1.977561,-1.382439
Turkmenistan,69.264000,65.865,72.663,6.798,65.026000,3.588000,68.614000,0.388000,69.002000,-0.315000,68.68700,0.577000,0.650000
Moldova,68.846000,64.443,73.547,9.104,66.417000,2.614000,69.031000,1.904000,70.935000,-0.769000,70.16600,-1.320000,-0.185000

In [33]:
table_code_CIS = create_table(df_CIS)
output_table_code(table_code_CIS, 'Table code WBG -2021 -CIS -en.txt', destination='file')

Data has written to file

In [34]:
table_code_CIS = create_table(df_CIS, lang='ru')
output_table_code(table_code_CIS, 'Table code WBG -2021 -CIS -ru.txt', destination='file')

Data has written to file

<br />
<br />
<br />

In [35]:
ls_regions = [
    'European Union', 'Central Europe and the Baltics',
    'Europe & Central Asia',
    'South Asia',
    'East Asia & Pacific',
    'Middle East & North Africa',
    'Africa Eastern and Southern', 'Sub-Saharan Africa', 'Africa Western and Central',
    'North America', 'Latin America & Caribbean',
    'Arab World'
]

# exclude countries with population <50,000
ls_dropped_territories = ['St. Kitts and Nevis', 'Turks and Caicos Islands', 'Sint Maarten', 'Gibraltar',
                          'Collectivity of Saint Martin', 'British Virgin Islands', 'Tuvalu', 'Nauru']  # 'Palau'

In [36]:
df_all_countries = df.drop(ls_regions + ls_dropped_territories)
print(len(df_all_countries))

201

In [37]:
table_code_all_countries = create_table(df_all_countries)
output_table_code(table_code_all_countries, 'Table code WBG -2021 -all_countries -en.txt', destination='file')

Data has written to file

In [38]:
table_code_all_countries = create_table(df_all_countries, lang='ru')
output_table_code(table_code_all_countries, 'Table code WBG -2021 -all_countries -ru.txt', destination='file')

Data has written to file

<br />
<br />
<br />

In [39]:
# create code for placing info in Wikipedia
def create_table_for_regions(df, lang='en'):

    def if_value(x, prec=2):
        return '—' if math.isnan(x) else \
               f"{x:0.{prec}f}"  if x>=0 else \
               f"−{-x:0.{prec}f}"

    def chval(x, prec=2):  # change_value
        return 'style="background:#fffae0;"| —' if math.isnan(x) else \
               f'style="background:#fffae0;color:darkgreen;"| {x:0.{prec}f}' if x>0 else \
               f'style="background:#fffae0;color:crimson;"| −{-x:0.{prec}f}' if x<0 else \
               f'style="background:#fffae0;color:darkgray;"| −{x:0.{prec}f}'  # normal sorting is required '−' before 0.0 - bug in wiki
    
    def chval_bold(x, prec=2):  # change_value
        return '—' if math.isnan(x) else \
               f'style="background:#fffae0;color:darkgreen;"| \'\'\'{x:0.{prec}f}\'\'\'' if x>0 else \
               f'style="background:#fffae0;color:crimson;"| \'\'\'−{-x:0.{prec}f}\'\'\'' if x<0 else \
               f'style="background:#fffae0;color:darkgray;"| \'\'\'{x:0.{prec}f}\'\'\''

    if lang=='ru':
        file_header='wbg_stats_header_2021_ru.txt'
        ptn_1 = 'флагификация'
        ptn_2 = 'флаг'
        prettify_name = {
            'European Union': '[[Европейский союз]]',
            'Central Europe and the Baltics': '[[Центральная Европа]] и [[Прибалтика]]',
            'Europe & Central Asia': '[[Европа]] и [[Центральная Азия]]',
            'South Asia': '[[Южная Азия]]',
            'East Asia & Pacific': '[[Восточная Азия]] и [[Австралия и Океания|Океания]]',
            'Middle East & North Africa': '[[Страны MENA|Ближний Восток и Северная Африка]]',
            'Africa Eastern and Southern': '[[Восточная Африка|Восточная]] и [[Южная Африка|Южная]] Африка',
            'Sub-Saharan Africa': '[[Чёрная Африка|Африка к югу от Сахары]]',
            'Africa Western and Central': '[[Западная Африка|Западная]] и [[Центральная Африка|Центральная]] Африка',
            'North America': '[[Северная Америка]]',
            'Latin America & Caribbean': '[[Латинская Америка]] и [[Антильские острова|Карибы]]',
            'Arab World': 'Арабский мир',
            'World': 'Мир'
        }
    else:
        file_header='wbg_stats_header_2021_en.txt'
        ptn_1 = 'flaglist'
        ptn_2 = 'flagicon'
        prettify_name = {
            'European Union': '[[European Union]]',
            'Central Europe and the Baltics': '[[Central Europe]] & the [[Baltic states|Baltics]]',
            'Europe & Central Asia': '[[Europe]] & [[Central Asia]]',
            'South Asia': '[[South Asia]]',
            'East Asia & Pacific': '[[Asia-Pacific|East Asia & Pacific]]',
            'Middle East & North Africa': '[[MENA|Middle East & North Africa]]',
            'Africa Eastern and Southern': 'Africa [[East Africa|Eastern]] & [[Southern Africa|Southern]]',
            'Sub-Saharan Africa': '[[Sub-Saharan Africa]]',
            'Africa Western and Central': 'Africa [[West Africa|Western]] & [[Central Africa|Central]]',
            'North America': '[[North America]]',
            'Latin America & Caribbean': '[[Latin America and the Caribbean|Latin America & Caribbean]]'
        }
        
    with open('design/' + file_header, mode='r', encoding="utf-8") as fh:
        st_header = fh.read()
        
    st_header = st_header.strip()
    st = ''
        
    for i in range(len(df)):
        ser = df.iloc[i]
        if ser.name in ['World']:
            st += '\n' + '|-class=static-row-header\n' + \
                  f'|align=center| \'\'\'{prettify_name.get(ser.name, ser.name)}\'\'\' ' + \
                  f'||style="text-align:center; background:#e0ffd8;"| \'\'\'{if_value(ser.total, 2)}\'\'\' ' + \
                  f'||style="text-align:center; background:#eaf3ff;"| \'\'\'{if_value(ser.male, 2)}\'\'\' ' + \
                  f'||style="text-align:center; background:#fee7f6;"| \'\'\'{if_value(ser.female, 2)}\'\'\' ' + \
                  f'||style="text-align:center; background:#fff8dc;"| \'\'\'{if_value(ser.gender_gap, 2)}\'\'\' ' + \
                  f'||style="text-align:center; border-left-width:2px;"| \'\'\'{if_value(ser["2014_t"], 2)}\'\'\' ' + \
                  f'||{chval_bold(ser["2014→2019"], 2)} ' + \
                  f'||style="text-align:center;"| \'\'\'{if_value(ser["2019_t"], 2)}\'\'\' ' + \
                  f'||{chval_bold(ser["2019→2020"], 2)} ' + \
                  f'||style="text-align:center;"| \'\'\'{if_value(ser["2020_t"], 2)}\'\'\' ' + \
                  f'||{chval_bold(ser["2020→2021"], 2)} ' + \
                  f'||style="text-align:center; background:#e0ffd8;"| \'\'\'{if_value(ser.total, 2)}\'\'\' ' + \
                  f'||{chval_bold(ser["2014→2021"], 2)} '
        else:
            st += '\n' + '|-\n' + \
                  f'|align=left|{prettify_name.get(ser.name, ser.name)} ' + \
                  f'||style="text-align:center; background:#e0ffd8;"| {if_value(ser.total, 2)} ' + \
                  f'||style="text-align:center; background:#eaf3ff;"| {if_value(ser.male, 2)} ' + \
                  f'||style="text-align:center; background:#fee7f6;"| {if_value(ser.female, 2)} ' + \
                  f'||style="text-align:center; background:#fff8dc;"| {if_value(ser.gender_gap, 2)} ' + \
                  f'||style="text-align:center; border-left-width:2px;"| {if_value(ser["2014_t"], 2)} ' + \
                  f'||{chval(ser["2014→2019"], 2)} ' + \
                  f'||style="text-align:center;"| {if_value(ser["2019_t"], 2)} ' + \
                  f'||{chval(ser["2019→2020"], 2)} ' + \
                  f'||style="text-align:center;"| {if_value(ser["2020_t"], 2)} ' + \
                  f'||{chval(ser["2020→2021"], 2)} ' + \
                  f'||style="text-align:center; background:#e0ffd8;"| {if_value(ser.total, 2)} ' + \
                  f'||{chval(ser["2014→2021"], 2)}'
    st += '\n|}'

    # WARNING: be sure that inline styles do not contains numbers with comma
    if lang == 'ru':
        st = re.sub('(?<=\d)\.(?=\d)', ',', st)  # replace . to comma, if this . is between two digits
        
    st = st_header + st

    return st

In [40]:
df_regions = df.loc[ls_regions + ['World']]   \
               .sort_values(by='total', ascending=False)
df_regions

,total,male,female,gender_gap,2000_t,2000→2014,2014_t,2014→2019,2019_t,2019→2020,2020_t,2020→2021,2014→2021
,,,,,,,,,,,,,
European Union,80.387131,77.658520,83.265708,5.607188,77.075317,3.796666,80.871982,0.442876,81.314858,-0.862765,80.452093,-0.064962,-0.484852
North America,76.977263,74.238122,79.853964,5.615842,76.885154,2.251130,79.136284,0.005428,79.141712,-1.677840,77.463872,-0.486610,-2.159022
Europe & Central Asia,76.631526,73.511858,79.951636,6.439778,73.132090,4.164361,77.296451,0.889797,78.186248,-1.227058,76.959190,-0.327664,-0.664925
East Asia & Pacific,76.393934,73.639441,79.329139,5.689697,71.552570,4.178735,75.731305,1.066470,76.797775,-0.035835,76.761940,-0.368005,0.662629
Central Europe and the Baltics,74.932414,71.323053,78.730265,7.407212,72.719725,3.955899,76.675624,0.591221,77.266845,-1.179128,76.087717,-1.155303,-1.743210
Middle East & North Africa,72.745907,70.640188,75.084930,4.444742,69.282178,3.341685,72.623863,1.335252,73.959115,-1.009347,72.949768,-0.203862,0.122043
Latin America & Caribbean,72.147446,68.802793,75.699847,6.897054,71.228436,3.322211,74.550648,0.487702,75.038349,-1.999875,73.038474,-0.891028,-2.403202
World,71.327718,68.886746,73.948295,5.061549,67.700402,4.180894,71.881296,1.098420,72.979716,-0.735866,72.243850,-0.916132,-0.553578
Arab World,70.814483,68.832433,72.989694,4.157261,67.297331,3.195298,70.492629,1.351997,71.844626,-0.921266,70.923360,-0.108877,0.321854
South Asia,67.579129,65.893976,69.432071,3.538094,62.892973,5.743696,68.636668,1.836087,70.472755,-0.724424,69.748331,-2.169202,-1.057539
Africa Eastern and Southern,62.454585,59.894505,65.078467,5.183962,51.964481,9.373430,61.337911,2.417762,63.755674,-0.441818,63.313856,-0.859271,1.116674
Sub-Saharan Africa,60.241740,58.264333,62.278226,4.013893,51.264545,7.878109,59.142654,2.101633,61.244287,-0.395396,60.848891,-0.607151,1.099086
Africa Western and Central,56.988657,55.903419,58.099828,2.196409,50.221954,5.700275,55.922229,1.633567,57.555796,-0.329423,57.226373,-0.237716,1.066428

In [41]:
table_code_regions = create_table_for_regions(df_regions)
output_table_code(table_code_regions, 'Table code WBG -2021 -z_regions -en.txt', destination='file')

Data has written to file

In [42]:
table_code_regions = create_table_for_regions(df_regions, lang='ru')
output_table_code(table_code_regions, 'Table code WBG -2021 -z_regions -ru.txt', destination='file')

Data has written to file

<br />
<br />
<br />

In [43]:
# check that all countries are considered for local tables
ls_all_countries = sorted(df.index.to_list())
print(len(ls_all_countries))

221

In [44]:
# combine all local lists into one

import itertools
all_local_lists = sorted(set(itertools.chain(ls_N_America, ls_S_America, ls_Asia, ls_Europe, ls_Africa, ls_Oceania, ls_regions)))
print(len(all_local_lists))

221

In [45]:
[country for country in ls_all_countries if country not in all_local_lists]

[]

In [46]:
[country for country in all_local_lists if country not in ls_all_countries]

[]