The World Band > [Life expectancy at birth, total](https://data.worldbank.org/indicator/SP.DYN.LE00.IN)<br />
The World Band > [Life expectancy at birth, male](https://data.worldbank.org/indicator/SP.DYN.LE00.MA.IN)<br />
The World Band > [Life expectancy at birth, female](https://data.worldbank.org/indicator/SP.DYN.LE00.FE.IN)<br />
[World Development Indicators > Life expectancy at birth](https://databank.worldbank.org/reports.aspx?source=2&series=SP.DYN.LE00.IN&country=) *(databank.worldbank.org)*<br />
[OECD stat](https://stats.oecd.org/index.aspx?queryid=30114)

"[Список стран по ожидаемой продолжительности жизни](https://ru.wikipedia.org/wiki/Список_стран_по_ожидаемой_продолжительности_жизни)"<br />
"[Продолжительность жизни в субъектах Российской Федерации](https://ru.wikipedia.org/wiki/Продолжительность_жизни_в_субъектах_Российской_Федерации)"<br />
[Таблица подбора цветов](http://mal-bioit.ru/survey-web-colors)<br />
[Список государств и зависимых территорий по населению](https://ru.wikipedia.org/wiki/Список_государств_и_зависимых_территорий_по_населению)

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
pd.options.display.max_rows = 300

DESTINATION_OUTPUT = ''  # to where table code should be placed: 'file', 'here' or just print 'Done'

COL_MIDDLE_EN = 'Δ_2014'
COL_MIDDLE_RU = 'Δ_2014'

In [3]:
def output_table_code(st, file_name='', destination=''):
    if not destination:
        destination = DESTINATION_OUTPUT
        
    if destination == 'file':
        with open('output/'+file_name, 'w', encoding="utf-8") as fh:
            fh.write(st)
        print('Data has written to file')
    elif destination == 'here':
        print(st)
    else:
        print('done')

In [4]:
# create code for placing info in Wikipedia
def create_table(df, col_middle='Δ_2014', lang='en'):

    if lang=='ru':
        file_header='wbg_stats_header_2019_ru.txt'
        ptn_1 = 'флагификация'
        ptn_2 = 'флаг'
        prettify_name = {
            'European Union': '[[Европейский союз]]',
            'Central Europe and the Baltics': '[[Центральная Европа]] и [[Прибалтика]]',
            'Europe & Central Asia': '[[Европа]] и [[Центральная Азия]]',
            'South Asia': '[[Южная Азия]]',
            'East Asia & Pacific': '[[Восточная Азия]] и [[Австралия и Океания|Океания]]',
            'Middle East & North Africa': '[[Страны MENA|Ближний Восток и Северная Африка]]',
            'Africa Eastern and Southern': '[[Восточная Африка|Восточная]] и [[Южная Африка|Южная]] Африка',
            'Sub-Saharan Africa': '[[Чёрная Африка|Африка к югу от Сахары]]',
            'Africa Western and Central': '[[Западная Африка|Западная]] и [[Центральная Африка|Центральная]] Африка',
            'North America': '[[Северная Америка]]',
            'Latin America & Caribbean': '[[Латинская Америка]] и [[Антильские острова|Карибы]]',
            'Arab World': 'Арабский мир',
            'World': 'Мир',
            'Caribbean small states': '[[Список стран Карибского бассейна|Малые страны Карибского бассейна]]',
            'Pacific island small states': 'Малые страны на островах Тихого океана',
            'Small states': 'Малые страны',
            'Other small states': 'Другие малые страны'
        }
    else:
        file_header='wbg_stats_header_2019_en.txt'
        ptn_1 = 'flaglist'
        ptn_2 = 'flagicon'
        prettify_name = {
            'European Union': '[[European Union]]',
            'Central Europe and the Baltics': '[[Central Europe]] & the [[Baltic states|Baltics]]',
            'Europe & Central Asia': '[[Europe]] & [[Central Asia]]',
            'South Asia': '[[South Asia]]',
            'East Asia & Pacific': '[[Asia-Pacific|East Asia & Pacific]]',
            'Middle East & North Africa': '[[MENA|Middle East & North Africa]]',
            'Africa Eastern and Southern': 'Africa [[East Africa|Eastern]] & [[Southern Africa|Southern]]',
            'Sub-Saharan Africa': '[[Sub-Saharan Africa]]',
            'Africa Western and Central': 'Africa [[West Africa|Western]] & [[Central Africa|Central]]',
            'North America': '[[North America]]',
            'Latin America & Caribbean': '[[Latin America and the Caribbean|Latin America & Caribbean]]'
        }
        
    with open('design/' + file_header, mode='r', encoding="utf-8") as fh:
        st = fh.read()
        
    st = st[:-1]
        
    for i in range(len(df)):
        ser = df.iloc[i]
        if ser.name in ['World',
                        'European Union', 'Central Europe and the Baltics',
                        'Europe & Central Asia',
                        'South Asia',
                        'East Asia & Pacific',
                        'Middle East & North Africa',
                        'Africa Eastern and Southern', 'Sub-Saharan Africa', 'Africa Western and Central',
                        'North America', 'Latin America & Caribbean']:
            st += '\n' + '|-class=static-row-header\n' + \
                  f'|align=center| \'\'\'{prettify_name.get(ser.name, ser.name)}\'\'\' ' + \
                  f'||style="text-align:center; background:#e0ffd8;"| \'\'\'{ser.total:0.2f}\'\'\' ' + \
                  f'||style="text-align:center; background:#eaf3ff;"| \'\'\'{ser.male:0.2f}\'\'\' ' + \
                  f'||style="text-align:center; background:#fee7f6;"| \'\'\'{ser.female:0.2f}\'\'\' ' + \
                  f'||style="text-align:center;"| \'\'\'{ser.gender_gap:0.2f}\'\'\' ' + \
                  f'||style="text-align:center; background:#fff8dc;"| \'\'\'{ser[col_middle]:0.2f}\'\'\' ' + \
                  f'||style="text-align:center; background:#fff8dc;"| \'\'\'{ser.Δ_2000:0.2f}\'\'\''
        elif ser.name in ['Caribbean small states',
                          'Pacific island small states',
                          'Small states',
                          'Other small states']:
            st += '\n' + '|-\n' + \
                  f'|style="text-align:left; padding-left: 35px;"|{prettify_name.get(ser.name, ser.name)} ' + \
                  f'||style="text-align:center; background:#e0ffd8;"| {ser.total:0.2f} ' + \
                  f'||style="text-align:center; background:#eaf3ff;"| {ser.male:0.2f} ' + \
                  f'||style="text-align:center; background:#fee7f6;"| {ser.female:0.2f} ' + \
                  f'||style="text-align:center;"| {ser.gender_gap:0.2f} ' + \
                  f'||style="text-align:center; background:#fff8dc;"| {ser[col_middle]:0.2f} ' + \
                  f'||style="text-align:center; background:#fff8dc;"| {ser.Δ_2000:0.2f}'
        else:
            st += '\n' + '|-\n' + \
                  f'|align=left|{{{{{ptn_1}|{ser.name}}}}} ' + \
                  f'||style="text-align:center; background:#e0ffd8;"| {ser.total:0.2f} ' + \
                  f'||style="text-align:center; background:#eaf3ff;"| {ser.male:0.2f} ' + \
                  f'||style="text-align:center; background:#fee7f6;"| {ser.female:0.2f} ' + \
                  f'||style="text-align:center;"| {ser.gender_gap:0.2f} ' + \
                  f'||style="text-align:center; background:#fff8dc;"| {ser[col_middle]:0.2f} ' + \
                  f'||style="text-align:center; background:#fff8dc;"| {ser.Δ_2000:0.2f}'
    st += '\n|}'
    return st

In [5]:
def extract_data_for_year(df, year='2019'):
    ls_dropping = [
        'Hong Kong SAR, China',
        'Macao SAR, China',
        'St. Martin (French part)',
        'New Caledonia',
        'Virgin Islands (U.S.)',
        'Channel Islands',
        'Faroe Islands',
        'West Bank and Gaza',
        'Kosovo',
        'Euro area',
        'IBRD only',
        'IDA & IBRD total',
        'IDA total',
        'IDA blend',
        'IDA only',
        'OECD members',
        'Europe & Central Asia (excluding high income)',
        'East Asia & Pacific (excluding high income)',
        'Latin America & Caribbean (excluding high income)',
        'Middle East & North Africa (excluding high income)',
        'Sub-Saharan Africa (excluding high income)',
        'East Asia & Pacific (IDA & IBRD countries)',
        'Europe & Central Asia (IDA & IBRD countries)',
        'Middle East & North Africa (IDA & IBRD countries)',
        'Sub-Saharan Africa (IDA & IBRD countries)',           
        'Latin America & the Caribbean (IDA & IBRD countries)',
        'South Asia (IDA & IBRD)',
        'Heavily indebted poor countries (HIPC)',
        'Fragile and conflict affected situations',
        'Least developed countries: UN classification',
        'Early-demographic dividend',
        'Late-demographic dividend',
        'Pre-demographic dividend',
        'Post-demographic dividend',
        'Low income',
        'Lower middle income',
        'Low & middle income',
        'Middle income',
        'Upper middle income',
        'High income'
    ]
    
    ser = df.drop(ls_dropping) \
            [str(year)] \
            .dropna() \
            .rename(index = {'United States':'USA',
                             'Russian Federation': 'Russia',
                             'Korea, Rep.': 'South Korea',
                             'Egypt, Arab Rep.': 'Egypt',
                             'Congo, Dem. Rep.': 'Congo, Democratic Republic of',
                             'Congo, Rep.': 'Congo, Republic of',
                             'Yemen, Rep.': 'Yemen',
                             'Micronesia, Fed. Sts.': 'Micronesia',
                             'Gambia, The': 'Gambia',
                             'Iran, Islamic Rep.': 'Iran',
                             "Korea, Dem. People's Rep.": 'North Korea',
                             'Syrian Arab Republic': 'Syria',
                             'Venezuela, RB': 'Venezuela',
                             'Kyrgyz Republic': 'Kyrgyzstan',
                             'Lao PDR': 'Laos',
                             'Czech Republic': 'Czechia',
                             'Slovak Republic': 'Slovakia',
                             'Bahamas, The': 'Bahamas',
                             'Brunei Darussalam': 'Brunei',
                             'St. Lucia': 'Saint Lucia',
                             'St. Vincent and the Grenadines': 'Saint Vincent and the Grenadines'
                            })
    
    
    return ser

In [6]:
df = pd.read_csv('data/World_Bank_Group-total.csv', skiprows=4, index_col=0)

ser_total_2019 = extract_data_for_year(df, 2019)
ser_total_2019.name = 'total'

ser_total_2015 = extract_data_for_year(df, 2015)
ser_total_2015.name = '2015'

ser_total_2014 = extract_data_for_year(df, 2014)
ser_total_2014.name = '2014'

ser_total_2000 = extract_data_for_year(df, 2000)
ser_total_2000.name = '2000'

del df

print(f"total:     {len(ser_total_2019)} records")
print(f"2015 year: {len(ser_total_2015)} records")
print(f"2014 year: {len(ser_total_2014)} records")
print(f"2000 year: {len(ser_total_2000)} records")

total:     207 records
2015 year: 209 records
2014 year: 209 records
2000 year: 209 records

In [7]:
df = pd.read_csv('data/World_Bank_Group-male.csv', skiprows=4, index_col=0)

ser_males_2019 = extract_data_for_year(df, 2019)
ser_males_2019.name = 'male'

del df

print(f"males: {len(ser_males_2019)} records")

males: 207 records

In [8]:
df = pd.read_csv('data/World_Bank_Group-female.csv', skiprows=4, index_col=0)

ser_females_2019 = extract_data_for_year(df, 2019)
ser_females_2019.name = 'female'

del df

print(f"males: {len(ser_females_2019)} records")

males: 207 records

In [9]:
df = pd.concat([ser_total_2019, ser_males_2019, ser_females_2019], axis='columns', join='outer')  \
       .join([ser_total_2015, ser_total_2014, ser_total_2000], how='left')
df.index.name = ''

print(df.shape)
df.head(2)

(207, 6)

,total,male,female,2015,2014,2000
,,,,,,
Aruba,76.293000,73.768000,78.641000,75.725000,75.583000,73.787000
Africa Eastern and Southern,64.005213,61.813185,66.202116,62.259288,61.647367,51.276129

In [10]:
df.insert(loc=3, column='gender_gap', value=df['female']-df['male'])
df.insert(loc=4, column='Δ_2015', value=df['total']-df['2015'])
df.insert(loc=5, column='Δ_2014', value=df['total']-df['2014'])
df.insert(loc=6, column='Δ_2000', value=df['total']-df['2000'])
df.drop(columns=['2015', '2014', '2000'], inplace=True)
df.sort_values(by='total', ascending=False, inplace=True)

In [11]:
print(df.shape)
df.head(2)

(207, 7)

,total,male,female,gender_gap,Δ_2015,Δ_2014,Δ_2000
,,,,,,,
Japan,84.356341,81.41,87.45,6.04,0.562439,0.768537,3.280244
Liechtenstein,84.160976,82.60,85.80,3.20,1.504878,2.087805,7.334146

<br />
<br />
<br />

In [12]:
dd_S_America = ['Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia', 'Ecuador',
                'Guyana', 'Paraguay', 'Peru', 'Suriname', 'Uruguay', 'Venezuela',
                'World']

df_S_America = df.loc[dd_S_America]   \
                 .sort_values(by='total', ascending=False)
df_S_America

,total,male,female,gender_gap,Δ_2015,Δ_2014,Δ_2000
,,,,,,,
Chile,80.181000,77.771000,82.442000,4.671000,0.535000,0.677000,3.815000
Uruguay,77.911000,74.119000,81.478000,7.359000,0.542000,0.667000,3.180000
Colombia,77.287000,74.528000,80.019000,5.491000,0.756000,0.965000,4.342000
Ecuador,77.010000,74.282000,79.838000,5.556000,0.867000,1.087000,4.249000
Peru,76.736000,74.060000,79.507000,5.447000,0.944000,1.207000,5.625000
Argentina,76.667000,73.242000,79.995000,6.753000,0.599000,0.754000,3.091000
Brazil,75.881000,72.243000,79.555000,7.312000,0.887000,1.136000,5.765000
Paraguay,74.254000,72.263000,76.396000,4.133000,0.592000,0.781000,3.708000
World,72.762667,70.598106,75.068109,4.470002,0.810552,1.016612,5.213707
Venezuela,72.064000,68.327000,76.004000,7.677000,-0.520000,-0.698000,-0.048000
Suriname,71.682000,68.468000,75.063000,6.595000,0.433000,0.549000,3.860000
Bolivia,71.513000,68.684000,74.508000,5.824000,1.236000,1.622000,9.061000
Guyana,69.906000,66.927000,73.095000,6.168000,0.644000,0.857000,4.664000

In [13]:
table_code_S_America = create_table(df_S_America, col_middle=COL_MIDDLE_EN)

output_table_code(table_code_S_America, 'Table code WBG -2019 -S_America -en.txt', destination='file')

Data has written to file

In [14]:
table_code_S_America = create_table(df_S_America, col_middle=COL_MIDDLE_RU, lang='ru')

output_table_code(table_code_S_America, 'Table code WBG -2019 -S_America -ru.txt', destination='file')

Data has written to file

<br />
<br />
<br />

In [15]:
dd_Asia = ['Afghanistan', 'Armenia', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Bhutan', 'Brunei', 'Cambodia', 'China', 'Cyprus', 'Egypt',
           'Georgia', 'India', 'Indonesia', 'Iran', 'Iraq', 'Israel', 'Japan', 'Jordan', 'Kazakhstan', 'North Korea', 'South Korea',
           'Kuwait', 'Kyrgyzstan', 'Laos', 'Lebanon', 'Malaysia', 'Maldives', 'Mongolia', 'Myanmar', 'Nepal', 'Oman', 'Pakistan',
           'Philippines', 'Qatar', 'Russia', 'Saudi Arabia', 'Singapore', 'Sri Lanka', 'Syria', 'Tajikistan', 'Thailand', 'Timor-Leste',
           'Turkey', 'Turkmenistan', 'United Arab Emirates', 'Uzbekistan', 'Vietnam', 'Yemen',
           'World', 'Europe & Central Asia', 'South Asia', 'East Asia & Pacific', 'Middle East & North Africa']

df_Asia = df.loc[dd_Asia]   \
            .sort_values(by='total', ascending=False)
df_Asia

,total,male,female,gender_gap,Δ_2015,Δ_2014,Δ_2000
,,,,,,,
Japan,84.356341,81.410000,87.450000,6.040000,0.562439,0.768537,3.280244
Singapore,83.595122,81.400000,85.900000,4.500000,0.851220,1.100000,5.643902
South Korea,83.226829,80.300000,86.300000,6.000000,1.202439,1.504878,7.317073
Israel,82.804878,81.000000,84.700000,3.700000,0.753659,0.651220,3.851220
Cyprus,80.982000,78.921000,83.032000,4.111000,0.632000,0.804000,2.973000
Qatar,80.227000,79.142000,82.010000,2.868000,0.469000,0.581000,2.760000
Lebanon,78.930000,77.140000,80.869000,3.729000,0.162000,0.198000,4.423000
Maldives,78.921000,77.523000,80.779000,3.256000,1.230000,1.561000,8.748000
Europe & Central Asia,78.159127,75.134433,81.371832,6.237400,0.918578,0.876013,5.130179
United Arab Emirates,77.972000,77.291000,79.314000,2.023000,0.687000,0.877000,3.645000
Oman,77.861000,76.127000,80.343000,4.216000,0.974000,1.227000,5.735000
Turkey,77.691000,74.724000,80.563000,5.839000,1.159000,1.519000,7.686000
Bahrain,77.292000,76.436000,78.423000,1.987000,0.530000,0.668000,2.852000
Thailand,77.150000,73.460000,80.900000,7.440000,1.059000,1.403000,6.527000
Sri Lanka,76.978000,73.596000,80.261000,6.665000,0.662000,0.831000,5.645000
China,76.912000,74.761000,79.244000,4.483000,0.984000,1.283000,5.515000
Iran,76.677000,75.593000,77.885000,2.292000,0.881000,1.175000,6.501000
East Asia & Pacific,76.265608,73.811255,78.885183,5.073928,0.870994,1.138738,5.093689
Malaysia,76.156000,74.234000,78.317000,4.083000,0.695000,0.888000,3.562000
Brunei,75.860000,74.728000,77.106000,2.378000,0.542000,0.667000,3.051000
Kuwait,75.489000,74.760000,76.580000,1.820000,0.359000,0.470000,2.347000
Vietnam,75.400000,71.301000,79.523000,8.222000,0.290000,0.344000,2.375000
Saudi Arabia,75.133000,73.935000,76.759000,2.824000,0.482000,0.600000,2.572000
Armenia,75.087000,71.327000,78.516000,7.189000,0.620000,0.814000,3.678000
Jordan,74.526000,72.839000,76.306000,3.467000,0.448000,0.557000,2.796000
Middle East & North Africa,74.270874,72.633207,76.078370,3.445163,0.756029,0.944436,4.383617
Georgia,73.767000,69.349000,78.140000,8.791000,0.794000,1.060000,3.865000
Kazakhstan,73.180000,68.820000,77.300000,8.480000,1.210000,1.740000,7.730000
Russia,73.083902,68.240000,78.170000,9.930000,1.900488,2.340244,7.600244
Azerbaijan,73.005000,70.511000,75.455000,4.944000,0.739000,0.983000,6.242000
World,72.762667,70.598106,75.068109,4.470002,0.810552,1.016612,5.213707
Syria,72.697000,67.941000,78.103000,10.162000,2.789000,2.876000,-0.413000
Bangladesh,72.591000,70.877000,74.595000,3.718000,1.077000,1.360000,7.144000
North Korea,72.274000,68.615000,75.744000,7.129000,0.793000,1.076000,7.006000
Egypt,71.990000,69.742000,74.350000,4.608000,0.688000,0.873000,3.388000
Bhutan,71.777000,71.405000,72.176000,0.771000,1.358000,1.731000,10.893000
Uzbekistan,71.725000,69.592000,73.829000,4.237000,0.797000,1.054000,4.569000
Indonesia,71.716000,69.572000,73.967000,4.395000,0.948000,1.235000,5.944000
Kyrgyzstan,71.600000,67.600000,75.800000,8.200000,0.948780,1.197561,3.041463
Philippines,71.231000,67.263000,75.505000,8.242000,0.587000,0.750000,2.438000
Tajikistan,71.097000,68.935000,73.389000,4.454000,0.960000,1.223000,9.123000
Nepal,70.778000,69.259000,72.208000,2.949000,1.263000,1.610000,8.490000
Iraq,70.604000,68.565000,72.652000,4.087000,0.675000,0.904000,1.522000
Mongolia,69.870000,65.799000,74.142000,8.343000,0.759000,1.007000,7.001000
Cambodia,69.823000,67.538000,71.909000,4.371000,1.186000,1.550000,11.391000
India,69.656000,68.464000,70.950000,2.486000,1.049000,1.370000,7.151000
South Asia,69.643617,68.391220,71.013990,2.622771,1.001717,1.303414,6.819635
Timor-Leste,69.495000,67.492000,71.635000,4.143000,1.036000,1.298000,10.493000
Turkmenistan,68.191000,64.705000,71.717000,7.012000,0.487000,0.639000,4.578000
Laos,67.923000,66.142000,69.746000,3.604000,1.377000,1.779000,9.120000
Pakistan,67.273000,66.337000,68.287000,1.950000,0.696000,0.913000,4.453000
Myanmar,67.134000,64.046000,70.119000,6.073000,1.324000,1.756000,7.071000
Yemen,66.125000,64.443000,67.826000,3.383000,0.040000,0.059000,5.442000
Afghanistan,64.833000,63.382000,66.388000,3.006000,1.456000,1.867000,8.992000

In [16]:
table_code_Asia = create_table(df_Asia, col_middle=COL_MIDDLE_EN)

output_table_code(table_code_Asia, 'Table code WBG -2019 -Asia -en.txt', destination='file')

Data has written to file

In [17]:
table_code_Asia = create_table(df_Asia, col_middle=COL_MIDDLE_RU, lang='ru')

output_table_code(table_code_Asia, 'Table code WBG -2019 -Asia -ru.txt', destination='file')

Data has written to file

<br />
<br />
<br />

In [18]:
dd_Europe = ['Albania', 'Armenia', 'Austria', 'Azerbaijan', 'Belarus', 'Belgium', 'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Cyprus',
             'Czechia', 'Denmark', 'Estonia', 'Finland', 'France', 'Georgia', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy',
             'Kazakhstan', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Moldova', 'Montenegro', 'Netherlands', 'North Macedonia', 'Norway',
             'Poland', 'Portugal', 'Romania', 'Russia', 'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland',
             'Turkey', 'Ukraine', 'United Kingdom', 'Liechtenstein',
             'World', 'European Union', 'Central Europe and the Baltics'] #, 'Europe & Central Asia']
# small countries: Andorra, Liechtenstein, Monaco, San Marino, Vatican City

df_Europe = df.loc[dd_Europe]   \
              .sort_values(by='total', ascending=False)
df_Europe

,total,male,female,gender_gap,Δ_2015,Δ_2014,Δ_2000
,,,,,,,
Liechtenstein,84.160976,82.600000,85.800000,3.200000,1.504878,2.087805,7.334146
Switzerland,83.904878,82.100000,85.800000,3.700000,1.007317,0.707317,4.224390
Spain,83.831707,81.100000,86.700000,5.600000,1.000000,0.602439,4.865854
Italy,83.497561,81.400000,85.700000,4.300000,0.953659,0.407317,3.719512
Iceland,83.163415,81.700000,84.700000,3.000000,0.695122,0.302439,3.509756
Sweden,83.109756,81.500000,84.800000,3.300000,0.904878,0.856098,3.465854
Norway,82.958537,81.300000,84.700000,3.400000,0.653659,0.858537,4.324390
Malta,82.858537,81.200000,84.600000,3.400000,0.960976,0.812195,4.509756
France,82.826829,79.900000,85.900000,6.000000,0.504878,0.107317,3.770732
Ireland,82.702439,80.800000,84.700000,3.900000,1.248780,1.353659,6.165854
Luxembourg,82.639024,80.200000,85.200000,5.000000,0.346341,0.409756,4.765854
Netherlands,82.112195,80.600000,83.700000,3.100000,0.602439,0.404878,4.124390
Belgium,81.995122,79.800000,84.300000,4.500000,1.002439,0.707317,4.273171
Finland,81.982927,79.300000,84.800000,5.500000,0.502439,0.802439,4.517073
Austria,81.895122,79.700000,84.200000,4.500000,0.704878,0.404878,3.768293
Portugal,81.675610,78.700000,84.800000,6.100000,0.551220,0.553659,5.360976
Greece,81.639024,79.200000,84.200000,5.000000,0.602439,0.253659,3.751220
Slovenia,81.529268,78.700000,84.500000,5.800000,0.753659,0.451220,6.117073
Denmark,81.451220,79.500000,83.500000,4.000000,0.748780,0.751220,4.858537
European Union,81.313270,78.663924,84.107640,5.443716,0.746463,0.442823,4.234822
Germany,81.292683,79.000000,83.700000,4.700000,0.651220,0.202439,3.365854
United Kingdom,81.204878,79.400000,83.100000,3.700000,0.248780,-0.100000,3.463415
Cyprus,80.982000,78.921000,83.032000,4.111000,0.632000,0.804000,2.973000
Czechia,79.229268,76.400000,82.200000,5.800000,0.651220,0.404878,4.260976
Estonia,78.646341,74.500000,83.000000,8.500000,1.056098,1.612195,8.229268
Albania,78.573000,77.002000,80.201000,3.199000,0.548000,0.760000,4.618000
Croatia,78.424390,75.400000,81.600000,6.200000,1.148780,0.946341,5.616585
Poland,77.904878,74.100000,81.900000,7.800000,0.453659,0.302439,4.156098
Turkey,77.691000,74.724000,80.563000,5.839000,1.159000,1.519000,7.686000
Slovakia,77.665854,74.300000,81.200000,6.900000,1.102439,0.853659,4.614634
Bosnia and Herzegovina,77.401000,74.893000,79.857000,4.964000,0.536000,0.678000,2.998000
Central Europe and the Baltics,77.266844,73.702353,81.017103,7.314750,0.694966,0.591220,4.547119
Montenegro,76.682927,74.000000,79.500000,5.500000,0.234146,0.241463,3.500854
North Macedonia,76.602439,74.700000,78.600000,3.900000,1.200000,1.151220,3.656098
Hungary,76.319512,73.100000,79.700000,6.600000,0.751220,0.556098,5.073171
Lithuania,76.282927,71.600000,81.200000,9.600000,1.960976,1.765854,4.263415
Serbia,75.936585,73.400000,78.600000,5.200000,0.648780,0.600000,4.353659
Romania,75.607317,71.900000,79.500000,7.600000,0.695122,0.697561,4.443902
Latvia,75.387805,70.900000,80.100000,9.200000,0.907317,1.263415,5.073171
Bulgaria,75.112195,71.600000,78.800000,7.200000,0.497561,0.646341,3.448780
Armenia,75.087000,71.327000,78.516000,7.189000,0.620000,0.814000,3.678000
Belarus,74.226829,69.300000,79.400000,10.100000,0.602439,1.256098,5.314634
Georgia,73.767000,69.349000,78.140000,8.791000,0.794000,1.060000,3.865000
Kazakhstan,73.180000,68.820000,77.300000,8.480000,1.210000,1.740000,7.730000
Russia,73.083902,68.240000,78.170000,9.930000,1.900488,2.340244,7.600244
Azerbaijan,73.005000,70.511000,75.455000,4.944000,0.739000,0.983000,6.242000
World,72.762667,70.598106,75.068109,4.470002,0.810552,1.016612,5.213707
Moldova,71.901000,67.624000,76.157000,8.533000,0.423000,0.634000,4.895000
Ukraine,71.827317,66.920000,76.980000,10.060000,0.637805,0.640732,4.151707

In [19]:
table_code_Europe = create_table(df_Europe, col_middle=COL_MIDDLE_EN)

output_table_code(table_code_Europe, 'Table code WBG -2019 -Europe -en.txt', destination='file')

Data has written to file

In [20]:
table_code_Europe = create_table(df_Europe, col_middle=COL_MIDDLE_RU, lang='ru')

output_table_code(table_code_Europe, 'Table code WBG -2019 -Europe -ru.txt', destination='file')

Data has written to file

<br />
<br />
<br />

In [21]:
dd_Africa = ['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cameroon', 'Cabo Verde',
             "Cote d'Ivoire", 'Central African Republic', 'Chad', 'Comoros', 'Congo, Democratic Republic of',
             'Congo, Republic of', 'Djibouti', 'Egypt', 'Equatorial Guinea', 'Eritrea', 'Eswatini',
             'Ethiopia', 'Gabon', 'Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Kenya',
             'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius',
             'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda', 'Sao Tome and Principe',
             'Senegal', 'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa', 'South Sudan', 'Sudan',
             'Tanzania', 'Togo', 'Tunisia', 'Uganda', 'Zambia', 'Zimbabwe',
             'World', 'Middle East & North Africa', 'Africa Eastern and Southern', 'Sub-Saharan Africa', 'Africa Western and Central']

df_Africa = df.loc[dd_Africa]   \
              .sort_values(by='total', ascending=False)
df_Africa

,total,male,female,gender_gap,Δ_2015,Δ_2014,Δ_2000
,,,,,,,
Algeria,76.880000,75.676000,78.133000,2.457000,0.790000,1.002000,6.240000
Tunisia,76.699000,74.688000,78.721000,4.033000,0.777000,0.965000,3.527000
Morocco,76.680000,75.423000,77.895000,2.472000,0.954000,1.203000,7.996000
Middle East & North Africa,74.270874,72.633207,76.078370,3.445163,0.756029,0.944436,4.383617
Mauritius,74.235854,71.070000,77.560000,6.490000,-0.117317,0.041463,2.572439
Seychelles,74.046341,69.900000,78.400000,8.500000,-0.248780,0.817073,1.268293
Cabo Verde,72.981000,69.526000,76.197000,6.671000,0.864000,1.095000,4.398000
Libya,72.913000,70.097000,75.951000,5.854000,0.792000,0.932000,2.061000
World,72.762667,70.598106,75.068109,4.470002,0.810552,1.016612,5.213707
Egypt,71.990000,69.742000,74.350000,4.608000,0.688000,0.873000,3.388000
Sao Tome and Principe,70.385000,67.980000,72.814000,4.834000,1.008000,1.333000,9.020000
Botswana,69.592000,66.485000,72.386000,5.901000,2.254000,3.327000,18.963000
Rwanda,69.024000,66.821000,71.132000,4.311000,1.574000,2.140000,20.375000
Senegal,67.941000,65.757000,69.918000,4.161000,1.194000,1.571000,10.154000
Djibouti,67.112000,65.116000,69.357000,4.241000,2.976000,3.941000,10.090000
Madagascar,67.041000,65.417000,68.682000,3.265000,1.502000,1.908000,8.556000
Kenya,66.699000,64.313000,69.049000,4.736000,1.901000,2.564000,15.778000
Ethiopia,66.597000,64.694000,68.536000,3.842000,1.549000,2.050000,14.656000
Gabon,66.467000,64.382000,68.669000,4.287000,1.554000,2.149000,8.203000
Eritrea,66.321000,64.153000,68.555000,4.402000,1.657000,2.120000,11.048000
Tanzania,65.456000,63.643000,67.233000,3.590000,2.345000,3.168000,14.655000
Sudan,65.311000,63.467000,67.187000,3.720000,0.882000,1.142000,6.839000
Mauritania,64.925000,63.305000,66.515000,3.210000,0.989000,1.271000,4.219000
"Congo, Republic of",64.570000,63.082000,66.023000,2.941000,1.473000,1.988000,12.447000
Comoros,64.321000,62.587000,66.121000,3.534000,0.850000,1.107000,4.861000
Malawi,64.263000,61.101000,67.413000,6.312000,2.310000,3.221000,19.173000
South Africa,64.131000,60.726000,67.679000,6.953000,1.482000,2.163000,8.083000
Liberia,64.104000,62.715000,65.497000,2.782000,1.835000,2.381000,12.370000
Ghana,64.074000,62.991000,65.177000,2.186000,1.302000,1.658000,7.072000
Africa Eastern and Southern,64.005213,61.813185,66.202116,4.388931,1.745924,2.357846,12.729084
Zambia,63.886000,60.848000,66.891000,6.043000,2.149000,3.055000,19.886000
Namibia,63.708000,60.685000,66.516000,5.831000,1.589000,2.283000,11.516000
Uganda,63.368000,61.000000,65.622000,4.622000,1.995000,2.699000,17.139000
Niger,62.420000,61.281000,63.621000,2.340000,1.789000,2.350000,12.492000
Gambia,62.050000,60.656000,63.481000,2.825000,1.140000,1.383000,6.094000
Benin,61.771000,60.201000,63.324000,3.123000,1.163000,1.426000,6.380000
Sub-Saharan Africa,61.627452,59.859348,63.410146,3.550797,1.674621,2.222655,11.177238
Guinea,61.602000,60.855000,62.117000,1.262000,2.004000,2.586000,10.399000
Burundi,61.584000,59.764000,63.377000,3.613000,1.461000,1.919000,12.493000
Burkina Faso,61.577000,60.739000,62.294000,1.555000,1.658000,2.127000,11.088000
Zimbabwe,61.490000,59.798000,62.899000,3.101000,1.956000,3.080000,16.841000
Angola,61.147000,58.416000,64.039000,5.623000,1.749000,2.371000,14.625000
Togo,61.042000,60.152000,61.918000,1.766000,1.115000,1.462000,7.551000
Mozambique,60.854000,57.782000,63.671000,5.889000,3.648000,4.792000,11.908000
"Congo, Democratic Republic of",60.681000,59.147000,62.233000,3.086000,1.427000,1.853000,10.640000
Eswatini,60.194000,56.007000,64.845000,8.838000,4.835000,6.625000,12.704000
Mali,59.306000,58.529000,60.085000,1.556000,1.797000,2.270000,11.237000
Cameroon,59.292000,58.029000,60.561000,2.532000,1.709000,2.209000,8.299000
Equatorial Guinea,58.735000,57.743000,59.918000,2.175000,1.376000,1.734000,5.456000
Guinea-Bissau,58.322000,56.305000,60.213000,3.908000,1.363000,1.766000,7.954000
Africa Western and Central,58.115723,57.012163,59.231072,2.218910,1.573714,2.027454,8.896009
South Sudan,57.846000,56.351000,59.383000,3.032000,0.991000,1.294000,8.680000
Cote d'Ivoire,57.783000,56.593000,59.119000,2.526000,1.718000,2.275000,8.148000
Somalia,57.397000,55.725000,59.132000,3.407000,1.477000,1.888000,6.528000
Sierra Leone,54.696000,53.853000,55.495000,1.642000,1.755000,2.324000,15.255000
Nigeria,54.687000,53.789000,55.619000,1.830000,1.575000,2.015000,8.420000
Lesotho,54.331000,51.201000,57.580000,6.379000,3.293000,4.440000,6.640000
Chad,54.239000,52.835000,55.669000,2.834000,1.102000,1.450000,6.526000
Central African Republic,53.283000,51.081000,55.514000,4.433000,2.402000,3.154000,9.093000

In [22]:
table_code_Africa = create_table(df_Africa, col_middle=COL_MIDDLE_EN)

output_table_code(table_code_Africa, 'Table code WBG -2019 -Africa -en.txt', destination='file')

Data has written to file

In [23]:
table_code_Africa = create_table(df_Africa, col_middle=COL_MIDDLE_RU, lang='ru')

output_table_code(table_code_Africa, 'Table code WBG -2019 -Africa -ru.txt', destination='file')

Data has written to file

<br />
<br />
<br />

In [24]:
# dd_CIS = ['Armenia', 'Azerbaijan', 'Belarus', 'Kazakhstan', 'Kyrgyzstan', 'Moldova',
#           'Russia', 'Tajikistan', 'Uzbekistan', 'Turkmenistan', 'Ukraine']

# df_CIS = df.loc[dd_CIS]   \
#            .sort_values(by='total', ascending=False)
# df_CIS

In [25]:
# table_code_CIS = create_table(df_CIS, col_middle=COL_MIDDLE_EN)

# output_table_code(table_code_CIS, 'Table code WBG -2019 -CIS -en.txt', destination='file')

<br />
<br />
<br />

In [26]:
ls_regions = [
    'European Union', 'Central Europe and the Baltics',
    'Europe & Central Asia',
    'South Asia',
    'East Asia & Pacific',
    'Middle East & North Africa',
    'Africa Eastern and Southern', 'Sub-Saharan Africa', 'Africa Western and Central',
    'North America', 'Latin America & Caribbean',
    'Arab World'
]

In [27]:
df_all_countries = df.drop(ls_regions)

In [28]:
table_code_all_countries = create_table(df_all_countries, col_middle=COL_MIDDLE_EN)

output_table_code(table_code_all_countries, 'Table code WBG -2019 -all_countries -en.txt', destination='file')

Data has written to file

In [29]:
table_code_all_countries = create_table(df_all_countries, col_middle=COL_MIDDLE_RU, lang='ru')

output_table_code(table_code_all_countries, 'Table code WBG -2019 -all_countries -ru.txt', destination='file')

Data has written to file

<br />
<br />
<br />

In [30]:
# create code for placing info in Wikipedia
def create_table_for_regions(df, col_middle='Δ_2014', lang='en'):

    if lang=='ru':
        file_header='wbg_stats_header_2019_ru.txt'
        ptn_1 = 'флагификация'
        ptn_2 = 'флаг'
        prettify_name = {
            'European Union': '[[Европейский союз]]',
            'Central Europe and the Baltics': '[[Центральная Европа]] и [[Прибалтика]]',
            'Europe & Central Asia': '[[Европа]] и [[Центральная Азия]]',
            'South Asia': '[[Южная Азия]]',
            'East Asia & Pacific': '[[Восточная Азия]] и [[Австралия и Океания|Океания]]',
            'Middle East & North Africa': '[[Страны MENA|Ближний Восток и Северная Африка]]',
            'Africa Eastern and Southern': '[[Восточная Африка|Восточная]] и [[Южная Африка|Южная]] Африка',
            'Sub-Saharan Africa': '[[Чёрная Африка|Африка к югу от Сахары]]',
            'Africa Western and Central': '[[Западная Африка|Западная]] и [[Центральная Африка|Центральная]] Африка',
            'North America': '[[Северная Америка]]',
            'Latin America & Caribbean': '[[Латинская Америка]] и [[Антильские острова|Карибы]]',
            'Arab World': 'Арабский мир',
            'World': 'Мир',
        }
    else:
        file_header='wbg_stats_header_2019_en.txt'
        ptn_1 = 'flaglist'
        ptn_2 = 'flagicon'
        prettify_name = {
            'European Union': '[[European Union]]',
            'Central Europe and the Baltics': '[[Central Europe]] & the [[Baltic states|Baltics]]',
            'Europe & Central Asia': '[[Europe]] & [[Central Asia]]',
            'South Asia': '[[South Asia]]',
            'East Asia & Pacific': '[[Asia-Pacific|East Asia & Pacific]]',
            'Middle East & North Africa': '[[MENA|Middle East & North Africa]]',
            'Africa Eastern and Southern': 'Africa [[East Africa|Eastern]] & [[Southern Africa|Southern]]',
            'Sub-Saharan Africa': '[[Sub-Saharan Africa]]',
            'Africa Western and Central': 'Africa [[West Africa|Western]] & [[Central Africa|Central]]',
            'North America': '[[North America]]',
            'Latin America & Caribbean': '[[Latin America and the Caribbean|Latin America & Caribbean]]'
        }
        
    with open('design/' + file_header, mode='r', encoding="utf-8") as fh:
        st = fh.read()
        
    st = st[:-1]
        
    for i in range(len(df)):
        ser = df.iloc[i]
        if ser.name in ['World']:
            st += '\n' + '|-class=static-row-header\n' + \
                  f'|align=center| \'\'\'{prettify_name.get(ser.name, ser.name)}\'\'\' ' + \
                  f'||style="text-align:center; background:#e0ffd8;"| \'\'\'{ser.total:0.2f}\'\'\' ' + \
                  f'||style="text-align:center; background:#eaf3ff;"| \'\'\'{ser.male:0.2f}\'\'\' ' + \
                  f'||style="text-align:center; background:#fee7f6;"| \'\'\'{ser.female:0.2f}\'\'\' ' + \
                  f'||style="text-align:center;"| \'\'\'{ser.gender_gap:0.2f}\'\'\' ' + \
                  f'||style="text-align:center; background:#fff8dc;"| \'\'\'{ser[col_middle]:0.2f}\'\'\' ' + \
                  f'||style="text-align:center; background:#fff8dc;"| \'\'\'{ser.Δ_2000:0.2f}\'\'\''
        else:
            st += '\n' + '|-\n' + \
                  f'|align=left|{prettify_name.get(ser.name, ser.name)} ' + \
                  f'||style="text-align:center; background:#e0ffd8;"| {ser.total:0.2f} ' + \
                  f'||style="text-align:center; background:#eaf3ff;"| {ser.male:0.2f} ' + \
                  f'||style="text-align:center; background:#fee7f6;"| {ser.female:0.2f} ' + \
                  f'||style="text-align:center;"| {ser.gender_gap:0.2f} ' + \
                  f'||style="text-align:center; background:#fff8dc;"| {ser[col_middle]:0.2f} ' + \
                  f'||style="text-align:center; background:#fff8dc;"| {ser.Δ_2000:0.2f}'
    st += '\n|}'
    return st

In [31]:
df_regions = df.loc[ls_regions + ['World']]   \
               .sort_values(by='total', ascending=False)

In [32]:
table_code_regions = create_table_for_regions(df_regions, col_middle=COL_MIDDLE_EN)

output_table_code(table_code_regions, 'Table code WBG -2019 -z_regions -en.txt', destination='file')

Data has written to file

In [33]:
table_code_regions = create_table_for_regions(df_regions, col_middle=COL_MIDDLE_RU, lang='ru')

output_table_code(table_code_regions, 'Table code WBG -2019 -z_regions -ru.txt', destination='file')

Data has written to file

<br />
<br />
<br />

<br />
<br />
<br />