source of data: [The Japanese Mortality Database](https://www.ipss.go.jp/p-toukei/JMD/index-en.asp) > "Life expectancy at birth" tables<br>
wiki > [List of Japanese prefectures by life expectancy](https://en.wikipedia.org/wiki/List_of_Japanese_prefectures_by_life_expectancy) <i>[(alternative)](https://en.wikipedia.org/wiki/User:Lady3mlnm/List_of_Japanese_prefectures_by_life_expectancy_(alternative))</i> / [Продолжительность жизни в префектурах Японии](https://ru.wikipedia.org/wiki/Продолжительность_жизни_в_префектурах_Японии)<br />
[MapChart](https://www.mapchart.net/japan.html)<br />
see also: [Nippon.com](https://www.nippon.com/en/search.html?s=life%20expectancy)

In [2]:
import pandas as pd
# import math
import re
from collections import namedtuple

import sys
sys.path.append("..")
import mal_moduls_private.mal_total as mal

In [3]:
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [4]:
pd.options.display.min_rows = 6
pd.options.display.max_rows = 50
YEARS_SEL = list(range(2010, 2024))
SORTED_BY = [2020, 2023]
SELECTED_YEAR = 2020
CREATE_LEGEND_CODE = True

In [5]:
CountryGroup = namedtuple('CountryGroup', ['group_label', 'color', 'countries'])

<br>

In [7]:
pattern_region_general = re.compile(r'(?<=^[\d.]{3}).*(?=(.ken|.to|.fu), Life expectancy)')  # what is in the most cases, like '47.Okinawa.ken'
pattern_region_1       = re.compile(r'(?<=^[\d.]{3}).*(?=, Life expectancy)')  # case of '01.Hokkaido' in the file Jp_01.csv
pattern_region_0       = re.compile(r'(?<=^).*(?=, Life expectancy)')  # case of 'Japan' in the file Jp_01.csv

def load_data_for_region(region_nmb):
    df = pd.read_csv(f"data-LE_at_birth/Jp_{region_nmb:02}.csv", sep='\t', skiprows=2, index_col='Year')

    with open(f"data-LE_at_birth/Jp_{region_nmb:02}.csv", 'r') as fh:
        title_line = fh.readline()
        if region_nmb >= 2:
            fragment_name_found = re.search(pattern_region_general, title_line)
        elif region_nmb == 1:
            fragment_name_found = re.search(pattern_region_1, title_line)
        elif region_nmb == 0:
            fragment_name_found = re.search(pattern_region_0, title_line)
        else:
            raise ValueError(f"Not expected region number: {region_nmb}")
        title = fragment_name_found.group() if fragment_name_found else 'region name is not found'

    df.name = title
        
    return df, title


df_t = df_m = df_f = pd.DataFrame()
ls_titles = []

for region_nmb in range(48):
    df_current, title_current = load_data_for_region(region_nmb)

    df_t = pd.concat([df_t, df_current.loc[YEARS_SEL, 'Total']], axis='columns')
    df_m = pd.concat([df_m, df_current.loc[YEARS_SEL, 'Male']], axis='columns')
    df_f = pd.concat([df_f, df_current.loc[YEARS_SEL, 'Female']], axis='columns')
    ls_titles.append(title_current)

df_t.columns = df_m.columns = df_f.columns = ls_titles

df_t = df_t.T
df_m = df_m.T
df_f = df_f.T

df_t.head(3)

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
Japan,82.95,82.71,83.21,83.43,83.68,83.92,84.10,84.22,84.32,84.46,84.71,84.58,84.10,84.14
Hokkaido,82.70,82.83,82.98,83.19,83.42,83.63,83.69,83.99,83.98,84.07,84.32,83.98,83.57,83.62
Aomori,81.33,81.55,81.50,81.91,82.05,82.41,82.65,82.74,82.81,82.60,83.09,82.96,82.69,82.22

In [8]:
# for region in df_t.index.to_list():
#     print(f"    '{region}'\t: {{'jp': ('', ''), 'en': ('', ''), 'ru': ('', '')}},")

<br>

In [10]:
# sort values
df_t = pd.concat([df_t.loc[['Japan']],
                  df_t.drop(index='Japan').sort_values(by=SORTED_BY, ascending=False)])

ls_indexes_sorted = df_t.index.to_list()
df_m = df_m.loc[ls_indexes_sorted]
df_f = df_f.loc[ls_indexes_sorted]

df_t.head(3)

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
Japan,82.95,82.71,83.21,83.43,83.68,83.92,84.10,84.22,84.32,84.46,84.71,84.58,84.10,84.14
Shiga,83.66,83.84,83.98,84.20,84.52,84.63,84.99,84.96,85.15,85.35,85.71,85.60,85.09,85.19
Kyoto,83.50,83.54,83.62,83.88,84.18,84.49,84.74,84.89,85.07,85.20,85.54,85.39,84.64,84.89

<br>

In [12]:
# just for interest, explore results: determine regions with max and min values, and also look at specific regions
mal.min_and_max_values(df_t, row_center=['Japan', 'Okinawa'], nmb=3, max_lng=9)

Number of records: 48

In [13]:
# for male
mal.min_and_max_values(df_m, row_center=['Japan', 'Okinawa'], nmb=3, max_lng=9)

Number of records: 48

In [14]:
# for female
mal.min_and_max_values(df_f, row_center=['Japan', 'Okinawa'], nmb=3, max_lng=9)

Number of records: 48

<br />
<br />

In [16]:
# ls_1 = sorted(df_t.drop(index='Japan').index.to_list())
# print(len(ls_1))
# ls_1[:5]

In [17]:
# ls_2 = ["Aichi", "Akita", "Aomori", "Chiba", "Ehime", "Fukui", "Fukuoka", "Fukushima", "Gifu", "Gunma", "Hiroshima",
#         "Hokkaido", "Hyogo", "Ibaraki", "Ishikawa", "Iwate", "Kagawa", "Kagoshima", "Kanagawa", "Kochi", "Kumamoto",
#         "Kyoto", "Mie", "Miyagi", "Miyazaki", "Nagano", "Nagasaki", "Nara", "Niigata", "Oita", "Okayama", "Okinawa",
#         "Osaka", "Saga", "Saitama", "Shiga", "Shimane", "Shizuoka", "Tochigi", "Tokushima", "Tokyo", "Tottori",
#         "Toyama", "Wakayama", "Yamagata", "Yamaguchi", "Yamanashi"]
# print(len(ls_2))

In [18]:
# mal.compare_lists(ls_1, ls_2)

<br />
<br />

In [20]:
# renaming of provinces according to requirement of the online-service 'MapChart'
df_t.rename(index={
    'Gumma' : 'Gunma'
}, inplace=True)

df_m.rename(index={
    'Gumma' : 'Gunma'
}, inplace=True)

df_f.rename(index={
    'Gumma' : 'Gunma'
}, inplace=True)

<br />
<br />

<h4>Overall statistics</h4>

In [22]:
dd_legend_main = {
    '85.50–85.74' : '007800',
    '85.25–85.49' : '008800',
    '85.00–85.24' : '009800',
    '84.75–84.99' : '00a700',
    '84.50–84.74' : '00b800',
    '84.25–84.49' : '00cb00',
    '84.00–84.24' : '00e000',
    '83.75–83.99' : '00f000',
    '83.50–83.74' : '00ff00',
    '83.25–83.49' : '88ff00',
    '83.00–83.24' : 'b8ff00',
    '82.75–82.99' : 'deff00',
    '82.50–82.74' : 'ffff00',
    '82.25–82.49' : 'ffef00',
    '82.00–82.24' : 'ffe000',
    '81.75–81.99' : 'ffce00',
    '81.50–81.74' : 'ffbc00',
    '81.25–81.49' : 'ffac00',
    '81.00–81.24' : 'ff9c00',
    '80.75–80.99' : 'ff8700',
    '80.50–80.74' : 'ff7400',
    '80.25–80.49' : 'ff5200',
    '80.00–80.24' : 'ff0000',
    '79.75–79.99' : 'e10000',
	'79.50–79.74' : 'c70000',
	'79.25–79.49' : 'af0000',
	'79.00–79.24' : '9e0000',
	'78.75–78.99' : '8b0000',
	'78.50–78.74' : '790000',
	'78.25–78.49' : '670000',
	'78.00–78.24' : '580000'
}

def fn_create_legend_code(dd_legend):
    for k, v in dd_legend.items():
        print(f"{{{{Legend|#{v}|{k}}}}}")  

if CREATE_LEGEND_CODE:
    fn_create_legend_code(dd_legend_main)

{{Legend|#007800|85.50–85.74}}
{{Legend|#008800|85.25–85.49}}
{{Legend|#009800|85.00–85.24}}
{{Legend|#00a700|84.75–84.99}}
{{Legend|#00b800|84.50–84.74}}
{{Legend|#00cb00|84.25–84.49}}
{{Legend|#00e000|84.00–84.24}}
{{Legend|#00f000|83.75–83.99}}
{{Legend|#00ff00|83.50–83.74}}
{{Legend|#88ff00|83.25–83.49}}
{{Legend|#b8ff00|83.00–83.24}}
{{Legend|#deff00|82.75–82.99}}
{{Legend|#ffff00|82.50–82.74}}
{{Legend|#ffef00|82.25–82.49}}
{{Legend|#ffe000|82.00–82.24}}
{{Legend|#ffce00|81.75–81.99}}
{{Legend|#ffbc00|81.50–81.74}}
{{Legend|#ffac00|81.25–81.49}}
{{Legend|#ff9c00|81.00–81.24}}
{{Legend|#ff8700|80.75–80.99}}
{{Legend|#ff7400|80.50–80.74}}
{{Legend|#ff5200|80.25–80.49}}
{{Legend|#ff0000|80.00–80.24}}
{{Legend|#e10000|79.75–79.99}}
{{Legend|#c70000|79.50–79.74}}
{{Legend|#af0000|79.25–79.49}}
{{Legend|#9e0000|79.00–79.24}}
{{Legend|#8b0000|78.75–78.99}}
{{Legend|#790000|78.50–78.74}}
{{Legend|#670000|78.25–78.49}}
{{Legend|#580000|78.00–78.24}}

In [23]:
def filter_df(df, selected_year=SELECTED_YEAR):
    filtered_df = df.loc[:, [selected_year]]   \
                    .sort_values(by=selected_year, ascending=False) \
                    .dropna()

    filtered_df['group_label'] = filtered_df[selected_year].map(lambda x: f"{x * 8 // 2 / 4:.2f}–{x * 8 // 2 / 4 + 0.24:.2f}")
    # filtered_df['group_label'] = filtered_df[selected_year].map(lambda x: f"{x * 10 // 2 / 5:.1f}–{x * 10 // 2 / 5 + 0.19:.2f}")
    
    filtered_df['group_label'] = filtered_df['group_label']
    
    min_value = filtered_df[selected_year].min()
    max_value = filtered_df[selected_year].max()
    
    print(f"           ——— {selected_year} ———")
    print(f"Range: {min_value:.2f} – {max_value:.2f}   " +
          f"({filtered_df[selected_year].idxmin()} – {filtered_df[selected_year].idxmax()})")
    print(f"Number of groups: {filtered_df['group_label'].nunique()}")
    print(f"Number of values: {len(filtered_df)}")

    return filtered_df

df_sel_year = filter_df(df_t, SELECTED_YEAR)
df_sel_year

           ——— 2020 ———
Range: 83.09 – 85.71   (Aomori – Shiga)
Number of groups: 9
Number of values: 48

            2020  group_label
Shiga      85.71  85.50–85.74
Kyoto      85.54  85.50–85.74
Nagano     85.51  85.50–85.74
Nara       85.45  85.25–85.49
Okayama    85.39  85.25–85.49
Kumamoto   85.37  85.25–85.49
Hiroshima  85.37  85.25–85.49
Tottori    85.31  85.25–85.49
Ishikawa   85.25  85.25–85.49
Toyama     85.22  85.00–85.24
Oita       85.22  85.00–85.24
Kanagawa   85.04  85.00–85.24
Gifu       85.03  85.00–85.24
Hyogo      85.02  85.00–85.24
Yamanashi  85.01  85.00–85.24
Shimane    84.98  84.75–84.99
Tokyo      84.97  84.75–84.99
Fukui      84.92  84.75–84.99
Fukuoka    84.90  84.75–84.99
Saga       84.89  84.75–84.99
Miyagi     84.86  84.75–84.99
Niigata    84.72  84.50–84.74
Japan      84.71  84.50–84.74
Aichi      84.69  84.50–84.74
Mie        84.67  84.50–84.74
Yamaguchi  84.63  84.50–84.74
Kochi      84.61  84.50–84.74
Kagawa     84.60  84.50–84.74
Ehime      84.56  84.50–84.74
Shizuoka   84.55  84.50–84.74
Chiba      84.55  84.50–84.74
Okinawa    84.52  84.50–84.74
Wakayama   84.49  84.25–84.49
Yamagata   84.42  84.25–84.49
Tokushima  84.42  84.25–84.49
Miyazaki   84.39  84.25–84.49
Saitama    84.39  84.25–84.49
Kagoshima  84.38  84.25–84.49
Nagasaki   84.33  84.25–84.49
Hokkaido   84.32  84.25–84.49
Gunma      84.30  84.25–84.49
Osaka      84.23  84.00–84.24
Tochigi    84.15  84.00–84.24
Iwate      84.12  84.00–84.24
Akita      84.03  84.00–84.24
Fukushima  83.96  83.75–83.99
Ibaraki    83.93  83.75–83.99
Aomori     83.09  83.00–83.24

In [24]:
def extract_indexes(subdf, dd_legend):
    group_label = subdf['group_label'].iloc[0]
    countries = subdf.index.to_list()
    color = (dd_legend[group_label])
    
    ls_grouping.append(CountryGroup(group_label=group_label, countries=countries, color=color))

    return pd.Series([color, countries], index=['color', 'regions'])


ls_grouping = []
df_grouped = df_sel_year.groupby(['group_label']).apply(extract_indexes, dd_legend = dd_legend_main).loc[::-1]

df_grouped

              color                                            regions
group_label
85.50–85.74  007800                             [Shiga, Kyoto, Nagano]
85.25–85.49  008800  [Nara, Okayama, Kumamoto, Hiroshima, Tottori, ...
85.00–85.24  009800   [Toyama, Oita, Kanagawa, Gifu, Hyogo, Yamanashi]
84.75–84.99  00a700     [Shimane, Tokyo, Fukui, Fukuoka, Saga, Miyagi]
84.50–84.74  00b800  [Niigata, Japan, Aichi, Mie, Yamaguchi, Kochi,...
84.25–84.49  00cb00  [Wakayama, Yamagata, Tokushima, Miyazaki, Sait...
84.00–84.24  00e000                     [Osaka, Tochigi, Iwate, Akita]
83.75–83.99  00f000                               [Fukushima, Ibaraki]
83.00–83.24  b8ff00                                           [Aomori]

In [25]:
def create_map_code(ls_grouping, title='', legend_color='#000'):  # (ls_grouping, title='', legend_color='#000'):
    false, true = False, True

    jo = {
        "groups": { },
        "title": title,
        "hidden": [],
        "background": "#ffffff",
        "borders": "#000",
        "legendFont": "Century Gothic",
        "legendFontColor": "#000",
        "legendBorderColor": "#00000000",
        "legendBgColor": "#00000000",
        "legendWidth": 150,
        "legendBoxShape": "square",
        "areBordersShown": true,
        "defaultColor": "#d1dbdd",
        "labelsColor": "#6a0707",
        "labelsFont": "Arial",
        "strokeWidth": "medium",
        "areLabelsShown": true,
        "uncoloredScriptColor": "#ffff33",
        "zoomLevel": "1.00",
        "zoomX": "0.00",
        "zoomY": "0.00",
        "v6": true,
        "page": "japan",
        "legendPosition": "custom",
        "legendX": 84,
        "legendY": 36,
        "legendSize": "medium",
        "legendTranslateX": "0.00",
        "legendStatus": "show",
        "scalingPatterns": true,
        "legendRowsSameColor": true,
        "legendColumnCount": 1
    }

    for group_label, color, regions in ls_grouping[::-1]:
        jo["groups"][f"#{color}"] = {"label": group_label.replace('.00', '.0').replace('.25', '¼').replace('.50', '.5').replace('.75', '¾').replace('–', ' - '),
                                     "paths": [region.replace(' ', '_') for region in regions]}       

    return jo


jo = create_map_code(ls_grouping, title=f'{SELECTED_YEAR}', legend_color='#333333')

pretty_jo = json.dumps(jo, indent=2, ensure_ascii=False)

with open(f"output/map_JSON -{SELECTED_YEAR}.txt", 'w', encoding="utf-8") as fh:
    fh.write(pretty_jo)

<br />
<br />

<h4>Statistics for males</h4>

In [27]:
dd_legend_male = {
    '83.00–83.24' : '020f19',
	'82.75–82.99' : '042136',
	'82.50–82.74' : '062f4c',
	'82.25–82.49' : '073a5e',
	'82.00–82.24' : '08436e',
	'81.75–81.99' : '0a4e7f',
	'81.50–81.74' : '0b578d',
	'81.25–81.49' : '0c609c',
	'81.00–81.24' : '0d68a9',
	'80.75–80.99' : '0e71b7',
	'80.50–80.74' : '107ac6',
	'80.25–80.49' : '1182d4',
	'80.00–80.24' : '128be1',
	'79.75–79.99' : '1c95ec',
	'79.50–79.74' : '2e9eee',
	'79.25–79.49' : '40a6ef',
	'79.00–79.24' : '51aef0',
	'78.75–78.99' : '61b5f2',
	'78.50–78.74' : '6ebcf3',
	'78.25–78.49' : '80c4f4',
	'78.00–78.24' : '92ccf6',
	'77.75–77.99' : 'a2d4f7',
	'77.50–77.74' : 'b3dbf8',
	'77.25–77.49' : 'c2e3fa',
	'77.00–77.24' : 'd4ebfb',
	'76.75–76.99' : 'e4f2fc',
	'76.50–76.74' : 'edf7fd',
	'76.25–76.49' : 'f4fafe',
	'76.00–76.24' : 'f8fbfe'
}

if CREATE_LEGEND_CODE:
    fn_create_legend_code(dd_legend_male)

{{Legend|#020f19|83.00–83.24}}
{{Legend|#042136|82.75–82.99}}
{{Legend|#062f4c|82.50–82.74}}
{{Legend|#073a5e|82.25–82.49}}
{{Legend|#08436e|82.00–82.24}}
{{Legend|#0a4e7f|81.75–81.99}}
{{Legend|#0b578d|81.50–81.74}}
{{Legend|#0c609c|81.25–81.49}}
{{Legend|#0d68a9|81.00–81.24}}
{{Legend|#0e71b7|80.75–80.99}}
{{Legend|#107ac6|80.50–80.74}}
{{Legend|#1182d4|80.25–80.49}}
{{Legend|#128be1|80.00–80.24}}
{{Legend|#1c95ec|79.75–79.99}}
{{Legend|#2e9eee|79.50–79.74}}
{{Legend|#40a6ef|79.25–79.49}}
{{Legend|#51aef0|79.00–79.24}}
{{Legend|#61b5f2|78.75–78.99}}
{{Legend|#6ebcf3|78.50–78.74}}
{{Legend|#80c4f4|78.25–78.49}}
{{Legend|#92ccf6|78.00–78.24}}
{{Legend|#a2d4f7|77.75–77.99}}
{{Legend|#b3dbf8|77.50–77.74}}
{{Legend|#c2e3fa|77.25–77.49}}
{{Legend|#d4ebfb|77.00–77.24}}
{{Legend|#e4f2fc|76.75–76.99}}
{{Legend|#edf7fd|76.50–76.74}}
{{Legend|#f4fafe|76.25–76.49}}
{{Legend|#f8fbfe|76.00–76.24}}

In [28]:
df_sel_year = filter_df(df_m, SELECTED_YEAR)
df_sel_year

           ——— 2020 ———
Range: 79.43 – 82.88   (Aomori – Shiga)
Number of groups: 11
Number of values: 48

            2020  group_label
Shiga      82.88  82.75–82.99
Nagano     82.54  82.50–82.74
Nara       82.45  82.25–82.49
Kyoto      82.34  82.25–82.49
Gifu       82.24  82.00–82.24
Hiroshima  82.17  82.00–82.24
Toyama     82.08  82.00–82.24
Okayama    82.08  82.00–82.24
Kanagawa   82.06  82.00–82.24
Ishikawa   81.97  81.75–81.99
Kumamoto   81.96  81.75–81.99
Miyagi     81.90  81.75–81.99
Tokyo      81.86  81.75–81.99
Fukui      81.85  81.75–81.99
Oita       81.84  81.75–81.99
Hyogo      81.78  81.75–81.99
Yamanashi  81.76  81.75–81.99
Tottori    81.76  81.75–81.99
Aichi      81.75  81.75–81.99
Shimane    81.71  81.50–81.74
Mie        81.70  81.50–81.74
Shizuoka   81.59  81.50–81.74
Japan      81.58  81.50–81.74
Niigata    81.55  81.50–81.74
Fukuoka    81.55  81.50–81.74
Yamagata   81.53  81.50–81.74
Chiba      81.53  81.50–81.74
Saitama    81.49  81.25–81.49
Ehime      81.48  81.25–81.49
Kagawa     81.48  81.25–81.49
Saga       81.42  81.25–81.49
Gunma      81.36  81.25–81.49
Tokushima  81.32  81.25–81.49
Wakayama   81.23  81.00–81.24
Tochigi    81.22  81.00–81.24
Yamaguchi  81.19  81.00–81.24
Kochi      81.16  81.00–81.24
Miyazaki   81.09  81.00–81.24
Hokkaido   81.09  81.00–81.24
Kagoshima  80.97  80.75–80.99
Nagasaki   80.93  80.75–80.99
Okinawa    80.92  80.75–80.99
Osaka      80.89  80.75–80.99
Iwate      80.89  80.75–80.99
Ibaraki    80.89  80.75–80.99
Fukushima  80.87  80.75–80.99
Akita      80.46  80.25–80.49
Aomori     79.43  79.25–79.49

In [29]:
ls_grouping = []
df_grouped = df_sel_year.groupby(['group_label']).apply(extract_indexes, dd_legend = dd_legend_male).loc[::-1]

In [30]:
jo = create_map_code(ls_grouping, title=f'{SELECTED_YEAR}: ♂', legend_color='#333333')  # legend_color='#0000bf'

pretty_jo = json.dumps(jo, indent=2, ensure_ascii=False)

with open(f"output/map_JSON -{SELECTED_YEAR}, male.txt", 'w', encoding="utf-8") as fh:
    fh.write(pretty_jo)

<br />
<br />

<h4>Statistics for females</h4>

In [32]:
dd_legend_female = {
    '89.00–89.24' : '1e0204',
    '88.75–88.99' : '41050a',
    '88.50–88.74' : '60070f',
    '88.25–88.49' : '840a14',
    '88.00–88.24' : 'a30d19',
    '87.75–87.99' : 'bd0f25',
    '87.50–87.74' : 'd81132',
    '87.25–87.49' : 'ec183b',
    '87.00–87.24' : 'ef3b59',
    '86.75–86.99' : 'f1536e',
    '86.50–86.74' : 'f2657d',
    '86.25–86.49' : 'f3768b',
    '86.00–86.24' : 'f58698',
    '85.75–85.99' : 'f696a6',
    '85.50–85.74' : 'f7a5b2',
    '85.25–85.49' : 'f8b3be',
    '85.00–85.24' : 'f9bfc6',
    '84.75–84.99' : 'facdd3',
    '84.50–84.74' : 'fbd8db',
    '84.25–84.49' : 'fce2e4',
    '84.00–84.24' : 'fdebed',
    '83.75–83.99' : 'fef3f4',
    '83.50–83.74' : 'fef8f9',
    '83.25–83.49' : 'fefafa',
}

if CREATE_LEGEND_CODE:
    fn_create_legend_code(dd_legend_female)

{{Legend|#1e0204|89.00–89.24}}
{{Legend|#41050a|88.75–88.99}}
{{Legend|#60070f|88.50–88.74}}
{{Legend|#840a14|88.25–88.49}}
{{Legend|#a30d19|88.00–88.24}}
{{Legend|#bd0f25|87.75–87.99}}
{{Legend|#d81132|87.50–87.74}}
{{Legend|#ec183b|87.25–87.49}}
{{Legend|#ef3b59|87.00–87.24}}
{{Legend|#f1536e|86.75–86.99}}
{{Legend|#f2657d|86.50–86.74}}
{{Legend|#f3768b|86.25–86.49}}
{{Legend|#f58698|86.00–86.24}}
{{Legend|#f696a6|85.75–85.99}}
{{Legend|#f7a5b2|85.50–85.74}}
{{Legend|#f8b3be|85.25–85.49}}
{{Legend|#f9bfc6|85.00–85.24}}
{{Legend|#facdd3|84.75–84.99}}
{{Legend|#fbd8db|84.50–84.74}}
{{Legend|#fce2e4|84.25–84.49}}
{{Legend|#fdebed|84.00–84.24}}
{{Legend|#fef3f4|83.75–83.99}}
{{Legend|#fef8f9|83.50–83.74}}
{{Legend|#fefafa|83.25–83.49}}

In [33]:
df_sel_year = filter_df(df_f, SELECTED_YEAR)
df_sel_year

           ——— 2020 ———
Range: 86.58 – 88.68   (Aomori – Tottori)
Number of groups: 8
Number of values: 48

            2020  group_label
Tottori    88.68  88.50–88.74
Okayama    88.53  88.50–88.74
Kumamoto   88.51  88.50–88.74
Kyoto      88.49  88.25–88.49
Shiga      88.39  88.25–88.49
Nagano     88.39  88.25–88.49
Hiroshima  88.39  88.25–88.49
Oita       88.37  88.25–88.49
Ishikawa   88.34  88.25–88.49
Yamanashi  88.24  88.00–88.24
Nara       88.18  88.00–88.24
Okinawa    88.17  88.00–88.24
Toyama     88.15  88.00–88.24
Shimane    88.12  88.00–88.24
Saga       88.11  88.00–88.24
Hyogo      88.05  88.00–88.24
Kanagawa   87.99  87.75–87.99
Tokyo      87.96  87.75–87.99
Fukuoka    87.91  87.75–87.99
Fukui      87.88  87.75–87.99
Yamaguchi  87.85  87.75–87.99
Kochi      87.84  87.75–87.99
Niigata    87.81  87.75–87.99
Japan      87.73  87.50–87.74
Miyagi     87.70  87.50–87.74
Gifu       87.68  87.50–87.74
Chiba      87.62  87.50–87.74
Kagawa     87.62  87.50–87.74
Aichi      87.61  87.50–87.74
Kagoshima  87.60  87.50–87.74
Mie        87.54  87.50–87.74
Wakayama   87.52  87.50–87.74
Miyazaki   87.48  87.25–87.49
Shizuoka   87.47  87.25–87.49
Osaka      87.47  87.25–87.49
Nagasaki   87.46  87.25–87.49
Akita      87.41  87.25–87.49
Ehime      87.38  87.25–87.49
Tokushima  87.33  87.25–87.49
Saitama    87.32  87.25–87.49
Hokkaido   87.28  87.25–87.49
Gunma      87.27  87.25–87.49
Iwate      87.18  87.00–87.24
Yamagata   87.18  87.00–87.24
Tochigi    87.08  87.00–87.24
Ibaraki    87.07  87.00–87.24
Fukushima  87.05  87.00–87.24
Aomori     86.58  86.50–86.74

In [34]:
ls_grouping = []
df_grouped = df_sel_year.groupby(['group_label']).apply(extract_indexes, dd_legend = dd_legend_female).loc[::-1]

In [35]:
jo = create_map_code(ls_grouping, title=f'{SELECTED_YEAR}: ♀', legend_color='#333333')  # legend_color='#c20000'

pretty_jo = json.dumps(jo, indent=2, ensure_ascii=False)

with open(f"output/map_JSON -{SELECTED_YEAR}, female.txt", 'w', encoding="utf-8") as fh:
    fh.write(pretty_jo)

In [ ]:
assert False

<br />
<br />

exploration:

In [ ]:
print(round(85.71 - 82.22, 2))
print(int(round(85.75 - 82.00, 2) * 4))
print(int(round(85.8 - 82.2, 2) * 5))

In [ ]:
print(round(82.88 - 78.78, 2))
print(int(round(83.00 - 78.75, 2) * 4))
print(int(round(83.0 - 78.6, 2) * 5))

In [ ]:
print(round(88.68 - 85.55, 2))
print(int(round(88.75 - 85.50, 2) * 4))
print(int(round(88.8 - 85.4, 2) * 5))

<br />
<br />

creation of technical dictionaries:

In [ ]:
ls = [
    '007800',
    '008800',
    '009800',
    '00a700',
    '00b800',
    '00cb00',
    '00e000',
    '00f000',
    '00ff00',
    '88ff00',
    'b8ff00',
    'deff00',
    'ffff00',
    'ffef00',
    'ffe000',
    'ffce00',
    'ffbc00',
    'ffac00',
    'ff9c00',
    'ff8700',
    'ff7400',
    'ff5200',
    'ff0000',
    'e10000',
    'c70000',
    'af0000',
    '9e0000',
    '8b0000',
    '790000',
    '670000',
    '580000'
]

def print_legend(ls, age):
    for col in ls:
        print(f"    '{age :.2f}–{age+0.24 :.2f}' : '{col}',")
        age -= 0.25

print_legend(ls, age=87.00)

In [ ]:
ls = [
    '020f19',
    '042136',
    '062f4c',
    '073a5e',
    '08436e',
    '0a4e7f',
    '0b578d',
    '0c609c',
    '0d68a9',
    '0e71b7',
    '107ac6',
    '1182d4',
    '128be1',
    '1c95ec',
    '2e9eee',
    '40a6ef',
    '51aef0',
    '61b5f2',
    '6ebcf3',
    '80c4f4',
    '92ccf6',
    'a2d4f7',
    'b3dbf8',
    'c2e3fa',
    'd4ebfb',
    'e4f2fc',
    'edf7fd',
    'f4fafe',
    'f8fbfe'
]

print_legend(ls, age=84.00)

In [ ]:
# v1
ls = [
    '1e0204',
    '3f050a',
    '5a070e',
    '700911',
    '860a15',
    '9c0c18',
    'ad0e1b',
    'bd0f25',
    'cd1030',
    'df1234',
    'ec2042',
    'ef3b59',
    'f04f6a',
    'f15d76',
    'f26a80',
    'f3768b',
    'f48295',
    'f58fa0',
    'f69aaa',
    'f7a4b2',
    'f8acb9',
    'f9b5c0',
    'f9bec5',
    'fac7cd',
    'fbcfd3',
    'fbd7da',
    'fcdfe2',
    'fde7e9',
    'fdeeef',
    'fef4f4',
    'fef8f9'
]

print_legend(ls, age=90.00)  # age=90.00

In [ ]:
# v2
ls = [
    '1e0204',
    '41050a',
    '60070f',
    '840a14',
    'a30d19',
    'bd0f25',
    'd81132',
    'ec183b',
    'ef3b59',
    'f1536e',
    'f2657d',
    'f3768b',
    'f58698',
    'f696a6',
    'f7a5b2',
    'f8b3be',
    'f9bfc6',
    'facdd3',
    'fbd8db',
    'fce2e4',
    'fdebed',
    'fef3f4',
    'fef8f9',
    'fefafa'
]

print_legend(ls, age=89.00)