"[Список стран по ожидаемой продолжительности жизни](https://ru.wikipedia.org/wiki/Список_стран_по_ожидаемой_продолжительности_жизни)"<br />
"[Продолжительность жизни в субъектах Российской Федерации](https://ru.wikipedia.org/wiki/Продолжительность_жизни_в_субъектах_Российской_Федерации)"<br />
[fedstat.ru](https://www.fedstat.ru/indicator/31293) (ЕМИСС - Единая межведомственная информационно-статистическая система)

<br />

#### Auxiliary program for create a list of numbers from Rosstat Excel file that can be required for creation of graphs with 3-party services.

In [1]:
import pandas as pd

In [2]:
pd.options.display.max_columns = 50

In [3]:
# load stats about longevity per year
df = pd.read_excel('data/Rosstat_by_year_and_gender.xls', skiprows=2)

print(df.shape)
df.head(6)

(3, 35)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Российская Федерация,Женщины,все население,74.3,74.2,73.7,71.8,71.1,71.6,72.4,72.8,73.1,72.4,72.3,72.2,71.9,71.9,72.4,72.5,73.3,74.0,74.3,74.8,74.9,75.61,75.86,76.30,76.47,76.71,77.06,77.64,77.82,78.17,76.43,74.51
1,Российская Федерация,Мужчины,все население,63.7,63.4,61.9,58.8,57.4,58.1,59.6,60.9,61.2,59.9,59.0,58.9,58.7,58.6,58.9,58.9,60.4,61.5,61.9,62.9,63.1,64.04,64.56,65.13,65.29,65.92,66.50,67.51,67.75,68.24,66.49,65.51
2,Российская Федерация,Оба пола,все население,69.2,68.9,67.8,65.0,63.9,64.5,65.8,66.7,67.1,65.9,65.3,65.2,65.0,64.9,65.3,65.4,66.7,67.6,68.0,68.8,68.9,69.83,70.24,70.76,70.93,71.39,71.87,72.70,72.91,73.34,71.54,70.06

In [4]:
# drop redundant columns
df.drop(['Unnamed: 0', 'Unnamed: 2'], axis='columns', inplace=True)

# convert gender column to index
df.set_index('Unnamed: 1', inplace=True)

# for brevityh of display remove name of index column.
df.index.name = ''

print(df.shape)
df

(3, 32)

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Женщины,74.3,74.2,73.7,71.8,71.1,71.6,72.4,72.8,73.1,72.4,72.3,72.2,71.9,71.9,72.4,72.5,73.3,74.0,74.3,74.8,74.9,75.61,75.86,76.30,76.47,76.71,77.06,77.64,77.82,78.17,76.43,74.51
Мужчины,63.7,63.4,61.9,58.8,57.4,58.1,59.6,60.9,61.2,59.9,59.0,58.9,58.7,58.6,58.9,58.9,60.4,61.5,61.9,62.9,63.1,64.04,64.56,65.13,65.29,65.92,66.50,67.51,67.75,68.24,66.49,65.51
Оба пола,69.2,68.9,67.8,65.0,63.9,64.5,65.8,66.7,67.1,65.9,65.3,65.2,65.0,64.9,65.3,65.4,66.7,67.6,68.0,68.8,68.9,69.83,70.24,70.76,70.93,71.39,71.87,72.70,72.91,73.34,71.54,70.06

In [5]:
df = df.rename(index={
    'Женщины': 'females',
    'Мужчины': 'males',
    'Оба пола': 'overall'
}).reindex(['females', 'overall', 'males', ])

df

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
females,74.3,74.2,73.7,71.8,71.1,71.6,72.4,72.8,73.1,72.4,72.3,72.2,71.9,71.9,72.4,72.5,73.3,74.0,74.3,74.8,74.9,75.61,75.86,76.30,76.47,76.71,77.06,77.64,77.82,78.17,76.43,74.51
overall,69.2,68.9,67.8,65.0,63.9,64.5,65.8,66.7,67.1,65.9,65.3,65.2,65.0,64.9,65.3,65.4,66.7,67.6,68.0,68.8,68.9,69.83,70.24,70.76,70.93,71.39,71.87,72.70,72.91,73.34,71.54,70.06
males,63.7,63.4,61.9,58.8,57.4,58.1,59.6,60.9,61.2,59.9,59.0,58.9,58.7,58.6,58.9,58.9,60.4,61.5,61.9,62.9,63.1,64.04,64.56,65.13,65.29,65.92,66.50,67.51,67.75,68.24,66.49,65.51

In [6]:
print('Years:')
print(*df.columns.to_list(), sep=',')

Years:
1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021

In [7]:
print('Females:')
print(*df.loc['females'].to_list(), sep=',')

Females:
74.3,74.2,73.7,71.8,71.1,71.6,72.4,72.8,73.1,72.4,72.3,72.2,71.9,71.9,72.4,72.5,73.3,74.0,74.3,74.8,74.9,75.61,75.86,76.3,76.47,76.71,77.06,77.64,77.82,78.17,76.43,74.51

In [8]:
print('Overall:')
print(*df.loc['overall'].to_list(), sep=',')

Overall:
69.2,68.9,67.8,65.0,63.9,64.5,65.8,66.7,67.1,65.9,65.3,65.2,65.0,64.9,65.3,65.4,66.7,67.6,68.0,68.8,68.9,69.83,70.24,70.76,70.93,71.39,71.87,72.7,72.91,73.34,71.54,70.06

In [9]:
print('Males:')
print(*df.loc['males'].to_list(), sep=',')

Males:
63.7,63.4,61.9,58.8,57.4,58.1,59.6,60.9,61.2,59.9,59.0,58.9,58.7,58.6,58.9,58.9,60.4,61.5,61.9,62.9,63.1,64.04,64.56,65.13,65.29,65.92,66.5,67.51,67.75,68.24,66.49,65.51

<br />
<br />
<br />

In [10]:
# write data to disk
df = df.transpose()
df.index.name = 'year'
df

      females  overall  males
year
1990    74.30    69.20  63.70
1991    74.20    68.90  63.40
1992    73.70    67.80  61.90
1993    71.80    65.00  58.80
1994    71.10    63.90  57.40
1995    71.60    64.50  58.10
1996    72.40    65.80  59.60
1997    72.80    66.70  60.90
1998    73.10    67.10  61.20
1999    72.40    65.90  59.90
2000    72.30    65.30  59.00
2001    72.20    65.20  58.90
2002    71.90    65.00  58.70
2003    71.90    64.90  58.60
2004    72.40    65.30  58.90
2005    72.50    65.40  58.90
2006    73.30    66.70  60.40
2007    74.00    67.60  61.50
2008    74.30    68.00  61.90
2009    74.80    68.80  62.90
2010    74.90    68.90  63.10
2011    75.61    69.83  64.04
2012    75.86    70.24  64.56
2013    76.30    70.76  65.13
2014    76.47    70.93  65.29
2015    76.71    71.39  65.92
2016    77.06    71.87  66.50
2017    77.64    72.70  67.51
2018    77.82    72.91  67.75
2019    78.17    73.34  68.24
2020    76.43    71.54  66.49
2021    74.51    70.06  65.51

In [12]:
df.to_csv('output/Rosstat.scs')
print('Done')

Done